
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<link rel="stylesheet" href="/static/glintwebui/css/glint_matrix.css">

<style>
.pending {
    background-color: #EC9600;
}

.error {
    background-color: #FF0000;
}

.shared {
    background-color: #4FE53E;
}

.private {
    background-color: #4FE53E;
}

.public {
    background-color: #FFCD00;
}

.button {
    font-size: 20px !important;
}


</style>

<head>
    {% load glint_template_utils %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/menu.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/overlay.css" %}?{{version}}">

    <script type="text/javascript" src="{% static "csv2/common.js" %}?{{version}}"></script>

    <script type="text/javascript">

        function save_location(group){
            sessionStorage.setItem("group", group);
        }

        function set_location(){
            if(sessionStorage.getItem("group")){
                document.location.hash = sessionStorage.getItem("group");
            }
            else{
                document.location.hash = "{{group_list.0.group_name}}"
            }
        }

    </script>
</head>


<body style="position: absolute; top: 62px; padding-bottom: 129px; overflow: auto;" class="images-nav" onpageshow="set_location()">
<div>
<div class="glinttoolbar" style="float:left; margin-bottom:5px;"">
    <table style="border:none"><tr>
        <td style="border:none"> <input type="text" id="image_search" onkeyup="image_search()" autofocus="autofocus" placeholder="Search by Image Name"> </td>
        <td ><input type="button" value="+Upload Image" onclick="window.location.href='/images/upload_image/{{active_group}}/?{{active_group}}'"></td>
        <td class="private"> </td>
        <td>Private Image</td>
        <td class="public"> </td>
        <td>Public Image</td>
        <td class="error"> </td>
        <td>Transaction Error</td>
    </tr></table>
    </tr></table>
</div>

<div class="image_matrix" style="clear:left; float:left">
    {% csrf_token %}
    <table id="image_matrix">
        <!-- First make headers -->
        <tr class="header"> <th> IMAGES </th>
            {% for cloud in cloud_list %}
                <th> {{ cloud.cloud_name }} </th>
            {% endfor %}
        </tr>
        {% for image_key, image_list in image_dict.items %}
            <tr class="image_row">
                <!-- need to make a split template macro to achieve this, may want to only return first token for rendering simplicity -->
                <td title="{{image_dates|get_item:image_key}}"><b> {{ image_key|first_split:'---' }}</b>
                    <img title="Download Image" src="/static/glintwebui/img/green_download_icon.png" onclick="downloadImage('{{image_key}}');" style="width:20px;height:20px; float:right; padding-left:5px; cursor: pointer;"/>
                    {% if image_key|first_split:'---' == default_image %}
                        <img title="Default Image" src="/static/glintwebui/img/gold_star.png" style="width:20px;height:20px; float:right; padding-left:5px;" />
                    {% endif %}
                </td>
                <!-- img tuples have the following format: (status, message, visibility) where status' are missing, present, pending delete, pending transfer, error-->
                {% for img_tuple in image_list %}
                    {% if img_tuple.0 == "missing" %}
                        <td title="{{img_tuple.1}}" style="text-align:center" class="missing"><button onclick='transfer_req("{{image_key}}", "{{img_tuple.3}}", "{{active_group}}")'>O</button> </td>
                    {% elif img_tuple.0 == "present" %}
                        <!-- If image is here and the visibility is shared, we can't delete it so grey out the button -->
                        {% if img_tuple.2 == "public" %}
                            <td title="Can't delete public images" style="text-align:center" class="{{img_tuple.2}}"><button onclick='delete_req("{{image_key}}", "{{img_tuple.3}}", "{{active_group}}")' disabled>✔️</button></td>
                        {% else %}
                            <td title="{{img_tuple.1}}" style="text-align:center" class="{{img_tuple.2}}"><button class="button" title="Delete image" onclick='delete_req("{{image_key}}", "{{img_tuple.3}}", "{{active_group}}")'>✔️</button></td>
                        {% endif %}
                    {% elif img_tuple.0 == "pending" %}
                        <td title="{{img_tuple.1}}" style="text-align:center" class="{{img_tuple.2}}">pending transfer</td>
                    {% elif img_tuple.0 == "claimed" %}
                        <td title="{{img_tuple.1}}" style="text-align:center" class="{{img_tuple.2}}">transfering</td>
                    {% elif img_tuple.0 == "pending delete" %}
                        <td title="{{img_tuple.1}}" style="text-align:center" class="{{img_tuple.2}}">pending delete</td>
                    {% elif img_tuple.0 == "error"%}
                        <td title="Error: {{img_tuple.1}}" style="text-align:center" class="error"><button title="Retry request
Error: {{img_tuple.1}}" onclick='retry_req("{{image_key}}", "{{img_tuple.3}}", "{{active_group}}")'>↻</button><button title="Clear request
Error: {{img_tuple.1}}" onclick='clear_req("{{image_key}}", "{{img_tuple.3}}", "{{active_group}}")'>✘</button></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</div>


</body>



<footer>
    <div class="footer"
        {% if response_code == 1 %}
            <tr><td><b>Error: {{ message }}</b></td></tr>
        {% elif message is not None %}
            <tr><td><b>{{ message }}</b></td></tr>
        {% endif %}
    </div>
</footer>

<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function transfer_req(image_key, cloud_name, group_name) {
        var csrftoken = getCookie('csrftoken');
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/images/transfer/", false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send(JSON.stringify({
            image_key: image_key,
            cloud_name: cloud_name,
            group_name: group_name
        }));
        var resp = xhr.responseText;
        console.log(resp);
        var json_response = JSON.parse(resp);
        var new_msg = json_response.message;
        console.log(new_msg);
        var rc = json_response.response_code;
        if ( rc == 0) {
            document.getElementsByTagName("footer")[0].getElementsByTagName("div")[0].innerHTML = new_msg;
        }
        else {
            new_msg = "Error: " + new_msg;
            document.getElementsByTagName("footer")[0].getElementsByTagName("div")[0].innerHTML = new_msg;
        }
        setTimeout("location.href = '/images/?{{active_group}}'",5000);

    };


    function delete_req(image_key, cloud_name, group_name) {
        if (confirm("Are you sure you want to delete: " + image_key + "on: " + cloud_name) == true) {
            var csrftoken = getCookie('csrftoken');
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/images/delete/", false);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(JSON.stringify({
                image_key: image_key,
                cloud_name: cloud_name,
                group_name: group_name
            }));
            var resp = xhr.responseText;
            console.log(resp);
            var json_response = JSON.parse(resp);
            var new_msg = json_response.message;
            console.log(new_msg);
            var rc = json_response.response_code;
            if ( rc == 0) {
                document.getElementsByTagName("footer")[0].getElementsByTagName("div")[0].innerHTML = new_msg;
            }
            else {
                new_msg = "Error: " + new_msg;
                document.getElementsByTagName("footer")[0].getElementsByTagName("div")[0].innerHTML = new_msg;
            }
            setTimeout("location.href = '/images/?{{active_group}}'",2000);
        }
    };



    function retry_req(image_key, cloud_name, group_name) {
        var csrftoken = getCookie('csrftoken');
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/images/retry/", false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send(JSON.stringify({
            image_key: image_key,
            cloud_name: cloud_name,
            group_name: group_name
        }));
        var resp = xhr.responseText;
        console.log(resp);
        var json_response = JSON.parse(resp);
        var new_msg = json_response.message;
        console.log(new_msg);
        var rc = json_response.response_code;
        if ( rc == 0) {
            document.getElementsByTagName("footer")[0].getElementsByTagName("div")[0].innerHTML = new_msg;
        }
        else {
            new_msg = "Error: " + new_msg;
            document.getElementsByTagName("footer")[0].getElementsByTagName("div")[0].innerHTML = new_msg;
        }
        setTimeout("location.href = '/images/?{{active_group}}'",2000);

    };



    function clear_req(image_key, cloud_name, group_name) {
        var csrftoken = getCookie('csrftoken');
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/images/clear/", false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send(JSON.stringify({
            image_key: image_key,
            cloud_name: cloud_name,
            group_name: group_name
        }));
        var resp = xhr.responseText;
        console.log(resp);
        var json_response = JSON.parse(resp);
        var new_msg = json_response.message;
        console.log(new_msg);
        var rc = json_response.response_code;
        if ( rc == 0) {
            document.getElementsByTagName("footer")[0].getElementsByTagName("div")[0].innerHTML = new_msg;
        }
        else {
            new_msg = "Error: " + new_msg;
            document.getElementsByTagName("footer")[0].getElementsByTagName("div")[0].innerHTML = new_msg;
        }
        setTimeout("location.href = '/images/?{{active_group}}'",2000);

    };




    function image_search() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("image_search");
        filter = input.value.toUpperCase();
        table = document.getElementById("image_matrix");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                console.log("Input:")
                console.log(filter)
                txtValue = td.textContent || td.innerText;
                console.log("Content:")
                console.log(txtValue)
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    };


    function downloadImage(image) {
        if (confirm("Are you sure you want to download: " + image) == true) {;
            //could put a "preparing download screen here, as it will take quite some time for the large images"
            window.location.href = "/images/download_image/{{active_group}}/" + image;
        }
    }


</script>
