{% block navbar %}
    {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
<meta http-equiv="refresh" content="600">
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/clouds.css" %}">
<link rel="stylesheet" href="/static/glintwebui/css/glint_button.css">
<link rel="stylesheet" href="/static/glintwebui/css/glint_header_footer.css">
<link rel="stylesheet" href="/static/glintwebui/css/glint_matrix.css">
<link rel="stylesheet" href="/static/glintwebui/css/glint_dropdown_button.css">

<style>

{% load glint_template_utils %}

.header_table{
    border: 0;
}

.popover{
    position: absolute;
}

.popover-content{
    border: 2px solid black; 
    border-radius: 5px;
    background-color: white;
}

.popover-title{
    background-color: white;
    padding: none
}

/* for image upload cloud picker widget */
SELECT, INPUT[type="text"] {
    width: 150px;
    box-sizing: border-box;
}
SECTION {
    padding: 8px;
    background-color: #f0f0f0;
    overflow: auto;
}
SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    width: 150px;
    text-align: center;
}

</style>
</head>

<body class="keys-nav" onpageshow="show_cloud('{{current_cloud}}')">
<div class="section-div {% if is_superuser %}super-section-div{% endif %}">
<div class="page_body" style="padding-top:75px;padding-left:50px">
    <div id="page_header">
                 <input type="text" id="image_search" autofocus="autofocus" placeholder="Search by Key Name">
                 <a style="border: 2px solid black; border-radius: 5px; background-color:white;" class="button" href="#" id="popover-uploadkey" data-placement="bottom">+Upload Key</a>
                 <a style="border: 2px solid black; border-radius: 5px; background-color:white;" class="button" href="#" id="popover-newkey" data-placement="bottom">Create Key</a>
                 <input stlye="float:left" class="button greenbutton" style="height:44px;" type="submit" onclick="submitKeyMatrix()" value="Submit Changes" />
    </div>
    <div id="popover-uploadkey-content" class="hide" hidden style="position:absolute">
        <h2>Upload Key</h2>
        <form name="upload_key" action="/keypairs/add_key/" method="post">
            {% csrf_token %}
            <table style="border-bottom:0">
                <tr><td><label for="key_name">Key Name</label></td>
                <td><input type="text" name="key_name" id="" value="" style="width:100%"/></td></tr>
                <tr><td><label for="key_string">Public Key</label></td>
                <td><input type="text" name="key_string" id="" value="" style="width:100%"/></td></tr>
                <tr hidden><td><label for="group_name">Group Name</label></td>
                <td><input type="text" name="group_name" id="" value="{{active_group}}" /></td></tr>
                <tr style="border-bottom:0"><td style="border:0">Upload to</td><td style="border:0;text-align:right">Available clouds</td></tr>
                <tr style="border-top:0">
                    <td  style="border-top:0" colspan="2">
                    <section class="container">
                    <div>
                        <select id="leftValuesUpload" name="clouds" size="{{num_clouds}}" multiple></select>
                    </div>
                    <div>
                        <input type="button" id="btnLeftUpload" value="&lt;&lt;" onclick="doLeftButtonUpload()"/>
                        <input type="button" id="btnRightUpload" value="&gt;&gt;"onclick="doRightButtonUpload()" />
                    </div>
                    <div>
                        <select id="rightValuesUpload" size="{{num_clouds}}" multiple>
                            {% for cloud in group_resources%}
                                <option>{{cloud.cloud_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </section>
                    </td>
                </tr>
                <tr style="border: 0"><td style="border: 0"/><td style="border: 0" ><input type="submit" value="Submit" /></td></tr>
            </table>
        </form>
    </div>
    <div id="popover-newkey-content" class="hide" hidden style="position:absolute">
        <h2>Create Key</h2>
        <form name="new_key" action="/keypairs/new_key/" method="post">
            {% csrf_token %}
            <table style="border-bottom:0">
                <tr><td><label for="key_name">Key Name</label></td>
                <td><input type="text" name="key_name" id="" value="" style="width:100%"/></td></tr>
                <tr hidden><td><label for="group_name">Group Name</label></td>
                <td><input type="text" name="group_name" id="" value="{{active_group}}" style="width:100%"/></td></tr>
                <tr style="border:0"><td style="border:0">Upload to</td><td style="border:0;text-align:right">Available clouds</td></tr>
                <tr style="border-top:0">
                    <td  style="border-top:0" colspan="2">
                    <section class="container">
                    <div>
                        <select id="leftValuesCreate" name="clouds" size="{{num_clouds}}" multiple></select>
                    </div>
                    <div>
                        <input type="button" id="btnLeft" value="&lt;&lt;" onclick="doLeftButtonCreate() "/>
                        <input type="button" id="btnRight" value="&gt;&gt;" onclick="doRightButtonCreate()" />
                    </div>
                    <div>
                        <select id="rightValuesCreate" size="{{num_clouds}}" multiple>
                            {% for cloud in group_resources%}
                                <option>{{cloud.cloud_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </section>
                    </td>
                </tr>
                <tr style="border: 0"><td style="border: 0"/><td style="border: 0" ><input type="submit" value="Submit" /></td></tr>
            </table>
        </form>
    </div>
</div>
{% if message is not None %}
    <h3 style="color:red"> {{message}} <h3/>
 {% endif %}
<div class="image_matrix" style="float:left;padding-left:50px">
    <form id="keypair_form" name="keypair_form" action="/keypairs/save_keypairs/{{active_group}}/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Keys\Clouds</th>
            {% for cloud in group_resources %}
                <th>{{cloud.cloud_name}}</th>
            {% endfor %}
        </tr>
        {% for key in key_dict %}
            <tr class="key_row">
                <th>
                    {{key_dict|get_item:key|get_item:"name"}}
                </th>
                {% for cloud in group_resources %}
                    {% if key_dict|get_item:key|get_item:cloud.cloud_name %}
                        <td class="{{key}}" style="background-color:#85ff87"><input name="{{cloud.cloud_name}}" type="checkbox" value="{{key}}" checked></td>
                    {% else %}
                        <td class="{{key}}"><input name="{{cloud.cloud_name}}" type="checkbox" value="{{key}}" ></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</form></div>
</div>
</body>

<script>
function submitKeyMatrix(){
    document.getElementById("keypair_form").submit();
}

var $rows = $('.key_row');
var val = $.trim($('#image_search').val()).replace(/ +/g, ' ').toLowerCase();
$rows.filter(function() {
    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
    return !~text.indexOf(val);
}).hide();

$('#image_search').keyup(function() {
    var filter = localStorage.getItem("filter");
    var $rows = $('.key_row');
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});


$('#popover-uploadkey').popover({ 
    html : true,
    title: function() {
      return $("#popover-uploadkey-head").html();
    },
    content: function() {
      return $("#popover-uploadkey-content").html();
    }
});

$('#popover-newkey').popover({ 
    html : true,
    title: function() {
      return $("#popover-newkey-head").html();
    },
    content: function() {
      return $("#popover-newkey-content").html();
    }
});

/* for image upload cloud picker widget */

function doLeftButtonUpload() {
    var selectedItem = $("#rightValuesUpload option:selected");
    $("#leftValuesUpload").append(selectedItem);
}

function doRightButtonUpload() {
    var selectedItem = $("#leftValuesUpload option:selected");
    $("#rightValuesUpload").append(selectedItem);
}

$("#rightValuesUpload").change(function () {
    var selectedItem = $("#rightValuesUpload option:selected");
    $("#txtRight").val(selectedItem.text());
});

function doLeftButtonCreate() {
    var selectedItem = $("#rightValuesCreate option:selected");
    $("#leftValuesCreate").append(selectedItem);
}

function doRightButtonCreate() {
    var selectedItem = $("#leftValuesCreate option:selected");
    $("#rightValuesCreate").append(selectedItem);
}

$("#rightValuesCreate").change(function () {
    var selectedItem = $("#rightValuesCreate option:selected");
    $("#txtRight").val(selectedItem.text());
});
</script>
