
{% block navbar %}
    {% include "csv2/navigation_bar.html" %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<head>
	<style>
	/* for image upload cloud picker widget */
	SELECT, INPUT[type="text"] {
		width: 160px;
		box-sizing: border-box;
	}
	SECTION {
		padding: 8px;
		background-color: #f0f0f0;
		overflow: auto;
	}
	SECTION > DIV {
		float: left;
		padding: 4px;
	}
	SECTION > DIV + DIV {
		width: 40px;
		text-align: center;
	}
	.checkbox2{
		margin-right:0px;
	}
	#uploadImages td{
		border: 1px solid #ddd;
		padding: 8px;
	}
	#uploadImages tr:nth-child(even){
		background-color: #f2f2f2;
	}

	#uploadImages tr:hover{
		background-color: #ddd;
	}

	</style>


    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/menu.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/overlay.css" %}?{{version}}">

    <script type="text/javascript" src="{% static "csv2/common.js" %}?{{version}}"></script>

    <script type="text/javascript">

        function save_location(group){
            sessionStorage.setItem("group", group); 
        }

        function set_location(){
            if(sessionStorage.getItem("group")){
                document.location.hash = sessionStorage.getItem("group");
            } else {
                document.location.hash = "{{group_list.0.group_name}}";
            }
        }

    </script>
</head>


<body style="position: absolute; top: 62px; padding-bottom: 129px; overflow: auto;" class="images-nav" onpageshow="set_location()">
<div class="image upload section-div {% if is_superuser %}super-section-div{% endif %}">
	<form method="post" action="/images/upload_image/{{group_name}}/" enctype="multipart/form-data">
	{% csrf_token %}
	<table id="uploadImages" style="width: 125%;">
		<input type="hidden" name="group" value="{{group_name}}" />
                <tr id="imagefromfile">
			<td><label for="myfile">Image File:</label></td>

			<td><input type="file" name="myfile">
			<button onclick="toggleFileField()" type="button">From URL</button></td>
		</tr>
		<tr hidden="true" id="imagefromurl">
			<td><label for="myfileurl">Image URL:</label></td>
			<td><input type="text" name="myfileurl">
			<button onclick="toggleFileField()" type="button">From File</button></td>
		</tr>


		<!--added ---------------------------------------------------------------------------------->
		<tr id="Operation Selection">
			<td><label for="operation">Select Operation: <br>(Only work effectively to RAW & QCOW2)</label></td>

			<td><input title="Click to reorganize file and then convert it to qcow2" type="checkbox" id="operation1"  name="operation1" value="Virt Sparsify"> Virt Sparsify
			<div title="Virt-sparsify is a tool which can make a virtual machine disk (or any disk image) sparse a.k.a. thin-provisioned. This means that free space within the disk image can be converted back to free space on the host." style="display:inline">
				{% include "csv2/icon_question_circle.html" %}
			</div>


			<div class="checkbox2">
			<input title="Click to convert file to qcow2 and then compress it" type="checkbox" id="operation2" name="operation2" value="With Compression"> With Compression
			<div title="-c command in qemu-img, indicates that target image must be compressed (qcow format only). It can handle all image formats supported by QEMU." style="display:inline">
				{% include "csv2/icon_question_circle.html" %}
			</div>
			</div>
			</td>

		</tr>
		<!--added ---------------------------------------------------------------------------------->

		<tr>
			<td><label for="disk_format">Disk Format:</label></td>
			<td><select type="text" name="disk_format"/>
                                <option value="" selected>Auto Detect</option>
				<option value="aki">AKI - Amazon Kernel Image</option>
				<option value="ami">AMI - Amazon Machine Image</option>
				<option value="ari">ARI - Amazon Ramdisk Image</option>
				<option value="docker">Docker</option>
				<option value="iso">ISO - Optical Disk Image</option>
				<option value="ova">OVA - Open Virtual Appliance</option>
				<option value="qcow2">QCOW2 - QEMU Emulator</option>
				<option value="raw">Raw</option>
				<option value="vdi">VDI - Virtual Disk Image</option>
				<option value="vhd">VHD - Virtual Hard Disk</option>
				<option value="vmdk">VMDK - Virtual Machine Disk</option>
			</select></td>
		</tr>

		<tr>
			<td><label for="clouds">Upload to:</label></td>
			<td>
				<section class="container">
					<div>
						<select id="leftValues" name="clouds" size="{{max_repos}}" multiple></select>
					</div>
					<div>
						<input type="button" id="btnLeft" value="&lt;&lt;" />
						<input type="button" id="btnRight" value="&gt;&gt;" />
					</div>
					<div>
						<select id="rightValues" size="{{max_repos}}" multiple>
							{% for cloud in cloud_list %}
								<option>{{cloud.cloud_name}}</option>
							{% endfor %}
						</select>
					</div>
				</section>
			</td>
		</tr>
		
		<tr><td/><td><a href="/images/?{{group_name}}"><input type="button" value="Cancel"/></a><button style="float:right" onclick='submit_upload()'>Upload</button></td></tr>
	</table>
	</form>

</div>

</body>

<footer>
    <div class="footer">
        {% if response_code == 1 %} 
            <tr><td><b>Error: {{ message }}</b></td></tr>
        {% elif message is not None %} 
            <tr><td>{{ message }}</td></tr>
        {% endif %}
    </div>  
</footer>


<script>

function toggleFileField() {
	//if browse active, show url field
	//if url field active, show file browser
	if($("#imagefromfile").is(":visible")){
		$("#imagefromfile").hide();
		$("#imagefromurl").show();
	}
	else{
		$("#imagefromfile").show();
		$("#imagefromurl").hide();
	}

}

/* for image upload cloud picker widget */
$("#btnLeft").click(function () {
    var selectedItem = $("#rightValues option:selected");
    $("#leftValues").append(selectedItem);
});

$("#btnRight").click(function () {
    var selectedItem = $("#leftValues option:selected");
    $("#rightValues").append(selectedItem);
});

$("#rightValues").change(function () {
    var selectedItem = $("#rightValues option:selected");
    $("#txtRight").val(selectedItem.text());
});


function submit_upload() {
    //


}


if({{ redirect }} == true){

    // Your application has indicated there's an error
    window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/images/?{{ group_name }}";

    }, 5000);

}


</script>
