## System accounts
{% if default_grid_mapfile.systems is defined %}
{% for system in default_grid_mapfile.systems %}
{{ system }}
{% endfor %}
{% endif %}
{% if grid_mapfile.systems is defined %}
{% for system in grid_mapfile.systems %}
{{ system }}
{% endfor %}
{% endif %}

## User accounts
{% if default_grid_mapfile.users is defined %}
{% for user in default_grid_mapfile.users %}
{{ user }}
{% endfor %}
{% endif %}
{% if grid_mapfile.users is defined %}
{% for user in grid_mapfile.users %}
{{ user }}
{% endfor %}
{% endif %}

