database:
    db_user: "csv2"
    db_password: "{{ mariadb_cloudscheduler }}"
    db_host: "{{ db_hostname }}"
    db_port: 3306
    db_name: "csv2"
    db_table: "csv2_configuration"

htc_agent:
#   condor_hostcert: /etc/grid-security/hostcert.pem
    condor_worker_cert: /etc/grid-security/condor/worker/condorworkercert.pem
    condor_worker_key: /etc/grid-security/condor/worker/condorworkerkey.pem
    csv2_host: {{ db_hostname }}
    csv2_htc_queue_prefix: csv2_htc
    csv2_port: 5672
    log_file: /var/log/cloudscheduler/csv2_htc_agent.log
    log_level: 20

