#cloud-config
merge_type: 'list(append)+dict(recurse_array)+str()'
write_files:
-   content: |
        # Local config for Cloud Scheduler, example GSI config
        SEC_DAEMON_AUTHENTICATION = REQUIRED
        SEC_DAEMON_AUTHENTICATION_METHODS = GSI
        GSI_DAEMON_DIRECTORY = /etc/grid-security
        GSI_DAEMON_CERT = /etc/grid-security/hostcert.pem
        GSI_DAEMON_KEY = /etc/grid-security/hostkey.pem
        CCB_ADDRESS = $(CONDOR_HOST_IP)
        DAEMON_LIST = MASTER, STARTD
    owner: root:root
    permissions: '0644'
    path: /etc/condor/config.d/gsi
-   encoding: gzip
    content: !!binary |
        {{ cs_condorworker_cert }}
    owner: root:root
    path: /etc/grid-security/hostcert.pem
    permissions: '0600'
-   encoding: gzip
    content: !!binary |
        {{ cs_condorworker_key }}
    owner: root:root
    path: /etc/grid-security/hostkey.pem
    permissions: '0600'


