#!/bin/bash

R=0
M=$(
{% for user in letsencrypt_users %}
    /bin/cp -f /etc/letsencrypt/live/{{ csv2_host }}/cert.pem {{ user.2 }}/.globus/usercert.pem 2>&1 &&
{% if loop.last %}
    /bin/cp -f /etc/letsencrypt/live/{{ csv2_host }}/privkey.pem {{ user.2 }}/.globus/userkey.pem 2>&1
{% else %}
    /bin/cp -f /etc/letsencrypt/live/{{ csv2_host }}/privkey.pem {{ user.2 }}/.globus/userkey.pem 2>&1 &&
{% endif %}
{% endfor %}
) || R=1

# echo $R
if [ $R -eq 0 ]; then
    /usr/bin/echo -e "copy of letsencrypt certificates failed for one or more users:\n$M" | \
    /usr/bin/mail -s "user key/cert problem on $(hostname)" seuster@uvic.ca # "heprc-operations@lists.uvic.ca"
fi

