[Unit]
Description=Queries the condor Collector daemon for machine info and relays it to the configured database, also checks database for condor commands to run (advertise)
After=network.target

[Service]
Type=simple
User=condor
ExecStart=/usr/bin/python3 /opt/cloudscheduler/data_collectors/condor/csmachines.py
Restart=always


[Install]
WantedBy=multi-user.target
