global
  daemon
  maxconn 2048
  tune.ssl.default-dh-param 1024

defaults
  mode tcp
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend amqp_public
  option clitcpka
  bind {{ i_service_connection.0.ipv4fqdn }}:{{ amqp_public_port }} ssl crt /etc/letsencrypt/live/{{ i_service_connection.0.ipv4fqdn }}/web_crt_key.pem
  default_backend amqp_internal

backend amqp_internal
  server localhost localhost:{{ amqp_local_port }} check

