[Unit]
Description=Queries the condor Collector daemon for machine info and relays it to the configured database, also checks database for condor commands to run (advertise)
After=network.target

[Service]
Type=simple
User=cloudscheduler
ExecStart=/usr/bin/python2 /opt/cloudscheduler/data_collectors/condor/cscollector.py
Restart=on-abort


[Install]
WantedBy=multi-user.target
