[Unit]
Description=Queries the condor Collector daemon for machine info and sends it off to the configured database
After=network.target

[Service]
Type=simple
User=csjobs
ExecStart=/usr/bin/python /opt/cloudscheduler/data_collectors/condor/cscollector.py
Restart=on-abort


[Install]
WantedBy=multi-user.target
