[Unit]
Description=Queries the condor Schedd daemon for job info and relays it to a database, also checks database for condor commands to run (hold job)
After=network.target

[Service]
Type=simple
User=condor
ExecStart=/usr/bin/python2 /opt/cloudscheduler/data_collectors/condor/csjobs.py
Restart=on-abort


[Install]
WantedBy=multi-user.target
