[Unit]
Description=Process AMQP messages sent by cloudscheduler V2.
After=network.target

[Service]
Type=simple
User=__condor_user__
ExecStart=/usr/bin/python3 /usr/local/sbin/csv2_htc_agent /usr/local/etc/csv2_htc_agent.conf
Restart=always


[Install]
WantedBy=multi-user.target
