#!/bin/bash
    echo 'This script will initiate a csv2_htc_agent serving the csv2 host "{{ i_service_connection[0].ipv4fqdn }}" by'
    echo 'installing the following files:'
    echo ''
    echo '   o /usr/local/sbin/csv2_htc_agent'
    echo '   o /usr/local/etc/csv2_htc_agent.conf'
    echo ''
    echo 'and either:'
    echo ''
    echo '   o /etc/systemd/system/csv2-htc-agent.service'
    echo ''
    echo 'or:'
    echo ''
    echo '   o /etc/init.d/csv2-htc-agent'
    echo ''
    echo 'then running a couple of systemd/service commands.'

    if [ $EUID != 0 ]; then
        echo ''
        echo 'Unfortunately, you need to be running as root in order to use it.'
        exit 1
    fi
    
    curl -o /usr/local/sbin/create_condor_proxy   https://{{ i_service_connection[0].ipv4fqdn }}/repo/create_condor_proxy.sh
    chmod 0700 /usr/local/sbin/create_condor_proxy

    curl -o /etc/cron.d//create_condor_proxy      https://{{ i_service_connection[0].ipv4fqdn }}/repo/create_condor_proxy.cron
    chmod 0600 /etc/cron.d//create_condor_proxy

    curl -o /usr/local/sbin/csv2_htc_agent        https://{{ i_service_connection[0].ipv4fqdn }}/repo/csv2_htc_agent
    chown condor.condor /usr/local/sbin/csv2_htc_agent
    chmod 0700 /usr/local/sbin/csv2_htc_agent

    curl -o /usr/local/etc/csv2_htc_agent.conf    https://{{ i_service_connection[0].ipv4fqdn }}/repo/csv2_htc_agent.conf
    chown condor.condor /usr/local/etc/csv2_htc_agent.conf
    chmod 0600 /usr/local/sbin/csv2_htc_agent.conf

    mkdir -p /var/log/cloudscheduler
    chown cloudscheduler.condor /var/log/cloudscheduler
    chmod 0744 condor.condor /var/log/cloudscheduler

    which systemctl
    if [ $? == 0 ]; then
	curl -o /etc/systemd/system/csv2-htc-agent.service https://{{ i_service_connection[0].ipv4fqdn }}/repo/csv2-htc-agent.service
        systemctl enable csv2-htc-agent
        systemctl start csv2-htc-agent
        systemctl status csv2-htc-agent

    else
	curl -o /etc/init.d/csv2-htc-agent https://{{ i_service_connection[0].ipv4fqdn }}/repo/csv2-htc-agent.initd
        chkconfig --add csv2-htc-agent
        service csv2-htc-agent start
        ps -ef | grep htc_a | grep -v grep

    fi
