#!/bin/bash
condor_uid=-1
condor_user='condor'

function sys_cmd {
    echo "   " $*
    # Only execute the command if running as root and HTCondor is running.
    if [ $EUID == 0 ] && [ "$condor_uid" != '-1' ]; then
        $*
    fi
}
    condor_user=$(ps -C condor_master -o user h)
    if [ $? == 0 ]; then
        condor_uid=$(id -u $condor_user 2>/dev/null)
    fi

    echo ''
    echo 'If HTCondor is running on this machine and if you are running as root, this script will install and'
    echo 'start csv2_htc_agent in support of the csv2 host "{{ i_service_connection[0].ipv4fqdn }}", showing each'
    echo 'installation command before execution.'
    echo ''
    echo 'If you are not running as root or HTCondor is not running on this machine, this script will show the'
    echo 'installation commands but execute nothing (see lines #7-10).'
    echo ''

    cs_uid=$(id -u cloudscheduler 2>/dev/null)
    if [ $? != 0 ]; then
        echo "The user 'cloudscheduler' does not exist. If you would like cloudscheduler files to be owned by this user, we"
        echo "will need to define it and add the user '$condor_user' to the cloudscheduler group. Otherwise, the files will be"
        echo "owned by the user '$condor_user'."
        echo ''

        while true; do
            read -p "Define user cloudscheduler? (y | n) " yes_or_no </dev/tty
            case $yes_or_no in
                [Yy]* )
                    switch='y'
                    echo -e "\no Define the cloudscheduler user and add the condor user to the cloudscheduler group."
                    cs_user='cloudscheduler'
                    sys_cmd useradd $cs_user
                    sys_cmd usermod -a -G $cs_user $condor_user 
                    break;;
                [Nn]* )
                    switch='n'
                    cs_user=$condor_user
                    break;;
                * ) echo "Please answer 'y' or 'n'.";;
            esac
        done
    fi

    condor_gsi=$(condor_config_val gsi_daemon_cert 2>/dev/null)
    if [ $? == 0 ]; then
        echo -e "\no Install the condor proxy script and CRON task."
        sys_cmd curl -s  -o /usr/local/sbin/create_condor_proxy   https://{{ i_service_connection[0].ipv4fqdn }}/repo/create_condor_proxy.sh      
        sys_cmd sed -i "s/__condor_uid__/$condor_uid/g" /usr/local/sbin/create_condor_proxy                                                      
        sys_cmd chmod 0700 /usr/local/sbin/create_condor_proxy                                                                                  

        sys_cmd curl -s  -o /etc/cron.d//create_condor_proxy      https://{{ i_service_connection[0].ipv4fqdn }}/repo/create_condor_proxy.cron 
        sys_cmd chmod 0600 /etc/cron.d//create_condor_proxy                                                                                   
    fi

    echo -e "\no Install and configure the csv2_htc_agent."
    sys_cmd curl -s  -o /usr/local/sbin/csv2_htc_agent        https://{{ i_service_connection[0].ipv4fqdn }}/repo/csv2_htc_agent         
    sys_cmd chown ${cs_user}.${cs_user} /usr/local/sbin/csv2_htc_agent                                                                  
    sys_cmd chmod 0754 /usr/local/sbin/csv2_htc_agent                                                                                  

    sys_cmd curl -s  -o /usr/local/etc/csv2_htc_agent.conf    https://{{ i_service_connection[0].ipv4fqdn }}/repo/csv2_htc_agent.conf 
    sys_cmd chown ${cs_user}.${cs_user} /usr/local/etc/csv2_htc_agent.conf                                                           
    sys_cmd chmod 0644 /usr/local/sbin/csv2_htc_agent.conf                                                                          

    sys_cmd mkdir -p /var/log/cloudscheduler                                                                                                    
    sys_cmd chown $cs_user.$cs_user /var/log/cloudscheduler                                                                                     
    sys_cmd chmod 0774 /var/log/cloudscheduler                                                                                                  

    systemd_or_initd=$(which systemctl)
    if [ $? == 0 ]; then
        echo -e "\no Define and start the csv2_htc_agent systemd service."
	sys_cmd curl -s  -o /etc/systemd/system/csv2-htc-agent.service https://{{ i_service_connection[0].ipv4fqdn }}/repo/csv2-htc-agent.service   
        sys_cmd sed -i "s/__condor_user__/$condor_user/g" /etc/systemd/system/csv2-htc-agent.service                                            
        sys_cmd systemctl enable csv2-htc-agent                                                                                                 
        sys_cmd systemctl start csv2-htc-agent                                                                                                  
        sys_cmd systemctl status csv2-htc-agent                                                                                                 

    else
        echo -e "\no Define and start the csv2_htc_agent initd service."
	sys_cmd curl -s  -o /etc/init.d/csv2-htc-agent https://{{ i_service_connection[0].ipv4fqdn }}/repo/csv2-htc-agent.initd                     
        sys_cmd sed -i "s/__condor_user__/$condor_user/g" /etc/init.d/csv2-htc-agent                                                            
        sys_cmd chkconfig --add csv2-htc-agent                                                                                                  
        sys_cmd service csv2-htc-agent start                                                                                                    
        sys_cmd service csv2-htc-agent status                                                                                                   

    fi
