
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;

  overflow: hidden;
}
.tab > input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab > label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: powderblue;
  line-height: 3;
  cursor: pointer;
  text-align: center;
}

.tab-content {
  position: fixed;
  left: 220px;
  top: 70px;
  bottom:20px;
  overflow: auto;
  max-height: 0;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab > label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
}
.tab > input[type=checkbox] + label::after {
  content: "+";
}

.tab > input[type=checkbox]:checked + label::after {
  content: "-";
}



iframe {
  z-index: 1;
  width: 100%;
  height: 95%;
  border: 0;
}

.hide-iframe {
  position: fixed;
  top:60;
  bottom:0;
  left:700;
  right:10;
  max-height: 0;
  overflow: auto;
}



/* Acordeon styles */
.tab2 {
  position: relative;
  margin-bottom: 1px;
  padding-left: 10;
  padding-right: 10;
  overflow: hidden;
}
.tab2 > input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab2 > label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: orange;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.tab2-content {
  max-height: 0;
}

/* :checked */
.tab2 input:checked ~ .tab2-content {
  position: fixed;
  max-height: 100vh;
  top:60;
  bottom:0;
  left:600;
  right:10;
  overflow: auto;
}


