

/*----------footer bar to hold status----------*/

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  background-color: #efefef;
  text-align: center;
  z-index: -10;
}

/*----------different highligh colours----------*/

.highlight1 {
  background-color: lightcyan;
}

.highlight2 {
  background-color: whitesmoke;
}

.highlight3 {
  background-color: lightcyan;
}

.highlight4 {
  background-color: lightyellow;
}

.highlight5 {
  background-color: lightcyan;
}

input:read-only { color:grey; }

/*---------- useful styling classes ----------*/

.left  {
  text-align: left;
}

.right  {
  text-align: right;
}

.bottom-right {
  position: fixed;
  right: 10;
  bottom: 50;
  text-align: center;
}


.dropdown {
    width: 200px;
    overflow: hidden;
}

/*----------main div containing page----------*/


.main-div {
  position: relative;
  left:0;
  top: 60px;
  bottom: 100px;
  margin: 0px 0;
  overflow: auto;
}

.main-div table, th, td {
  border: none;
  border-collapse: collapse;
  padding: 8px;
}
.main-div th {
  text-align: right;
}

