

/*----------footer bar to hold status----------*/

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/*----------different highligh colours----------*/

.highlight1 {
  background-color: lightcyan;
}

.highlight2 {
  background-color: whitesmoke;
}

.highlight4 {
  background-color: lightyellow;
}

.highlight3 {
  background-color: lightcyan;
}

/*---------- useful styling classes ----------*/

.left  {
  text-align: left;
}

.right  {
  text-align: right;
}

.bottom-right {
  position: fixed;
  right: 10;
  bottom: 50;
  text-align: center;
}


.dropdown {
    width: 200px;
    overflow: hidden;
}

/*----------main div containing page----------*/


.main-div {
  position: relative;
  left:0;
  top: 60px;
  bottom: 100px;
  margin: 0px 0;
  overflow: auto;
}

.main-div table, th, td {
  border: none;
  border-collapse: collapse;
  padding: 8px;
}
.main-div th {
  text-align: right;
}


/*----------vertical menu and contents----------*/

.menu {
  min-height: 7em;    /* No height: can grow if :target doesn't work */
  line-height: 1;   /* Easier to calculate with */
  z-index: 0;     /* So that we can put other things behind */
  width: 200px; /* Set a width if you like */
  position: fixed;
}
.menu  div {
  display: block;
  overflow: auto;
}
.menu  div:not(:target) a.menu-link {
  background-color: whitesmoke; /* Background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}
.menu  div:target a.menu-link {   /* ... to the default item */
  background-color: maroon; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */

}

.menu div.menu-position {
  position: fixed;
  left: 220px;
  top: 70px;
  bottom:20px;
  overflow: auto;
}

.menu div.menu-target {
  display:none;
}

.menu div.menu-target:target {
  display:block;
}


.menu  div:target  div, :target #default2 {
  display:block;
}


/*----------Popup dialog box----------*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    text-align: center;
    width: 200px;
    position: relative;
    margin: 10% auto;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

