
/*****************************************************************/
/*                  Global colour highlights                     */
/*****************************************************************/

.highlight1 {
  background-color: lightcyan;
}

.highlight2 {
  background-color: whitesmoke;
}

.highlight3 {
  background-color: lightcyan;
}

.highlight4 {
  background-color: lightyellow;
}

.highlight5 {
  background-color: lightcyan;
}

input:read-only { color:grey; }


/*****************************************************************/
/*                        Message footer                         */
/*****************************************************************/


.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  background-color: #efefef;
  text-align: center;
  z-index: -10;
}

/*****************************************************************/
/*                   useful styling classes                      */
/*****************************************************************/

.left  {
  text-align: left;
}

.right  {
  text-align: right;
}

.bottom-right {
  position: fixed;
  right: 10;
  bottom: 50;
  text-align: center;
}

.dropdown {
    width: 200px;
    overflow: hidden;
}

/*****************************************************************/
/*                   main div containing page                    */
/*****************************************************************/

.main-div {
  position: relative;
  left:0;
  top: 60px;
  bottom: 100px;
  margin: 0px 0;
  overflow: auto;
}

.main-div table, th, td {
  border: none;
  border-collapse: collapse;
  padding: 8px;
}
.main-div th {
  text-align: right;
}

.main-div table .tab-tables {
  padding-top: 0px;
}


/*****************************************************************/
/*       Dynamic position for page content - normal user         */
/*****************************************************************/

@media only screen and (max-width: 647px) {
  .main-div {
    top: 182px !important;
  }

  .main-div .tab-content, .main-div .tab2-content, .main-div .menu-position {
    top: 191px !important;
  }

  .section-div {
    position: relative;
    top: 122px;
  }
}

@media only screen and (min-width: 647px) and (max-width: 888px) {
  .main-div {
      top: 122px !important;
  }

  .main-div .tab-content, .main-div .tab2-content, .main-div .menu-position {
    top: 131px !important;
  }

  .section-div {
    position: relative;
    top: 60px;
  }
}

/*****************************************************************/
/*       Dynamic position for page content - super user         */
/*****************************************************************/

@media only screen and (min-width: 647px) and (max-width: 1144px) {
  .super-main-div {
    top: 122px !important;
  }

  .super-main-div .tab-content, .super-main-div .tab2-content, .super-main-div .menu-position {
    top: 131px !important;
  }

  .super-section-div {
    position: relative;
    top: 60px;
  }
}

