
#left {
  float: left;
}

#right {
	float: right;
}

.editor-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

}

input[type=number]{
    width: 100px;
}

/******************* metadata list ********************/
.disabled-style {
  color: grey;
}

.show-checksum {
  width: 800px;
}

.checksum-label {
  width: 180px;
}

.checksum-text {
  font-weight: normal;
  margin-top: 12px;
}


