


.editor-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.editor-bar li {
    float: left;
}

.editor-bar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}



#right {
	float: right;
}




.editor-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

}

input[type=number]{
    width: 100px;
} 