

/* Style the search box inside the navigation bar */
.menu input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
}

.lists {
	position: fixed;
	left: 580px;
  	top: 70px;
  	bottom:20px;
    overflow: auto;
}

.lists ul {
  list-style-type: none;
}

/*

.user-list {
    display: none;
}

.user-list ul {
  list-style-type: none;
}

.users {
  &:focus {
    opacity: 1;
    
    .user-list {
      opacity: 1;
    }
  }
}
.users:focus ~ .user-list {
  display:block;
}
*/


.meta-list {
    display: none;
}
.meta-list ul {
  list-style-type: none;
}

.metadata {
  &:focus {
    opacity: 1;
    
    .meta-list {
      opacity: 1;
    }
  }
}
.metadata:focus ~ .meta-list {
  display:block;
}


/*----------vertical menu and contents----------*/


/*
.users div:not(:target) > div.user-list {
  display: none;
}
*/



.users-test2 div{ /* Protect CSS1 & CSS2 browsers */
    display: none;
}

.users-test2 div:target {
	display: block;
	position: fixed;
	left: 580px;
  	top: 70px;
  	bottom:20px;
    overflow: auto;
}

.tab div {
    display: none;
}

.tab div:target {
    display: block;
}