

/* Style the search box inside the navigation bar */
.menu input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
}



.user-list {
    overflow: auto;
    height: 100px;
}
.user-list ul {
  list-style-type: none;
}