/*****************************************************************/
/*                          Side menu                            */
/*****************************************************************/

.menu {
  min-height: 7em;    /* No height: can grow if :target doesn't work */
  line-height: 1;   /* Easier to calculate with */
  z-index: 0;     /* So that we can put other things behind */
  width: 200px; /* Set a width if you like */
  position: fixed;
}
.menu  div {
  display: block;
  overflow: auto;
}
.menu  div:not(:target) a.menu-link {
  background-color: whitesmoke; /* Background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}
.menu  div:target a.menu-link {   /* ... to the default item */
  background-color: maroon; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */

}

.delete-link {
  position: relative;
  top: -38px;
  width: 5px;
  right: 0px;
  left: 170px;
  background-color: red;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}


.menu div.menu-position {
  position: fixed;
  left: 220px;
  top: 70px;
  bottom:20px;
  overflow: auto;
}

.menu div.menu-target {
  display:none;
}

.menu div.menu-target:target {
  display:block;
}


.menu  div:target  div, :target #default2 {
  display:block;
}

