/*****************************************************************/
/*                          Side menu                            */
/*****************************************************************/

.menu {
  min-height: 7em;
  line-height: 1;
  z-index: 0;
  width: 200px;
}

.menu  div {
  display: block;
  overflow: auto;
}


.menu  div:not(:target) a.menu-link {
  background-color: whitesmoke; 
  color: black; 
  display: block; 
  padding: 12px; 
  text-decoration: none; 
}
.menu  div:target a.menu-link {  
  background-color: maroon; 
  color: white; 
  display: block;
  padding: 12px;
  text-decoration: none;
}

.menu div.menu-position {
  position: fixed;
  left: 220px;
  top: 70px;
  bottom:20px;
  overflow: auto;
}

.menu div.menu-target {
  display:none;
}

.menu div.menu-target:target {
  display:block;
}


.menu  div:target  div, :target #default2 {
  display:block;
}


/*****************************************************************/
/*            Alternate menu tab with delete button              */
/*****************************************************************/

.menu2-div {
  background-color: maroon;
}

.menu  div:not(:target) a.menu2-link {
  background-color: whitesmoke;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.menu  div:target a.menu2-link {
  background-color: maroon;
  color: white;
  display: inline;
  padding: 12px;
  text-decoration: none;
  float: left;
}

.menu  div:not(:target) a.delete-link {
  display: none;
}

.menu  div:target a.delete-link {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 1.2em !important;
  display: inline;
  padding: 12px;
  text-decoration: none;
  float: right;
}

.add-link {
  font-weight: bold;
  font-size: 1.2em !important;
}
