.editor-bar {
  display: inline;
}

/*
#update {
	float: left;

}

#delete {
	float: right;
}

#metadata-name {
	text-align: center;
}
*/


#editor-table {
	width: 100%;
}

.editor-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

}