

/*******************************************/

.float-left {
    float:left;
}
.float-right {
    float:right;
}

.top-nav p {
  text-align: center;
}

.top-nav {
  position: fixed;
  left:0;
  right:0;
  top: 0px;
  margin: 0px 0;
  background-color: black;
}

.top-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  }
  
.top-nav ul li {
  display:inline-block;
  padding:0 0px;
  }

.top-nav a {
  display:block;
  color:white;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
  padding-left: 20px;
  padding-right: 20px;
}

.top-nav a:hover { 
  background-color: dimgrey;
  color:white;
}

/*******************************************/

.status-nav a.status-nav,
.clouds-nav a.clouds-nav,
.groups-nav a.groups-nav,
.users-nav a.users-nav,
.images-nav a.images-nav,
.vms-nav a.vms-nav
{
  background: green;
  color:white;
}
