html *
{
  font-size: 0.98em !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

/*******************************************/

.float-left {
    float:left;
}
.float-right {
    float:right;
}

.top-nav p {
  text-align: center;
}

.top-nav {
  position: fixed;
  left:0;
  right:0;
  top: 0px;
  margin: 0px 0;
  background-color: black;
  z-index: 2;
}

.logo {
  margin: 0px 0;
  background-color: black:
  z-index: 2;

}

.top-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;

  background-color:#5E5D5D; 
  color: #D8D8D8;
  }
  
.top-nav ul li {
  display:inline-block;
  }

.top-nav a {
  display:block;
  color:white;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
  padding-left: 20px;
  padding-right: 20px;
}

.top-nav ul li:hover {
    background-color: dimgrey;
    color:white;
}


/*******************Don't think used anywhere************************/

.nav-button {
  display:block;
  color:white;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
  padding-left: 20px;
  padding-right: 20px;
}

ul.sub-menu{
    position:absolute;
    list-style-type:none;
    margin-top:-5px;
    margin-left:-25px;
    width:125px;
    padding-left:0px;
    visibility: hidden;
}

ul.sub-menu li{
    width: 125px;
    display: table;
    table-layout: fixed;
   
}
ul.sub-menu li:hover{
    color:white;
    background-color: #656565;
}

.top-nav li:hover .sub-menu {
    z-index:1;
    visibility: visible;
}


/*******************************************/

.status-nav a.status-nav,
.clouds-nav a.clouds-nav,
.alias-nav a.alias-nav,
.defaults-nav a.defaults-nav,
.groups-nav a.groups-nav,
.users-nav a.users-nav,
.config-nav a.config-nav,
.images-nav a.images-nav,
.keys-nav a.keys-nav,
.vms-nav a.vms-nav,
.settings-nav a.settings-nav

{
  background: green;
  color:white;
}

/*******************************************/

select {
  font-size:20px;
  color:black;
  background-color: whitesmoke;
  text-align-last: center;
}

.spacer{
  padding-left:20px;
}

/********************** nav option width **************/
#group {
  width: 98;
}

.top-nav .status-nav {
  width: 40;
}

.top-nav .clouds-nav {
  width: 82;
}

.top-nav .alias-nav {
  width: 46;
}

.top-nav .defaults-nav {
  width: 85;
}

.top-nav .images-nav {
  width: 47;
}

.top-nav .keys-nav {
  width: 32;
}

.top-nav .users-nav {
  width: 37;
}

.top-nav .groups-nav {
  width: 47;
}

.top-nav .config-nav {
  width: 93;
}

.top-nav .settings-nav {
  width: 86;
}

.top-nav .plugin-nav {
  width: 109;
}

.top-nav .logout-nav {
  width: 48;
}
