



.status-table th {
  background-color: #4CAF50;
  color: white;
}


.status-table table {
  overflow: hidden;
  border-collapse: collapse;
  text-align: center;
}

.status-table th {
  text-align: center;
}

.status-table td, th {
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  position: relative;
  width: 80px;
}


.status-table td:hover {
  background-color: darkgrey;
  opacity: 50%;
  color: white;
}

.status-table tr:hover {
  background-color: gainsboro;
  opacity: 50%;
}

.status-table td:hover::after,
.status-table th:hover::after {
  content: "";
  position: absolute;
  background-color: gainsboro;
  opacity: 50%;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}



.grey {
  background-color: #eee;
  color: white;
}
.red {
  background-color: rgba(255,0,0,.25);
}
.blue {
  background-color: rgba(0,0,255,.25);
}
.clear {}

