
/*************************************/

/*****************************************************************/
/*                          table styling                        */
/*****************************************************************/
.status-div {
  position: absolute;
  top: 70px;
  bottom: 100px;
  right: 10px;
  left: 10px;
  overflow: auto;
  white-space: nowrap;
}


.status-table th {
  font-weight: bold;
}


.status-table table {
  overflow: hidden;
  border-collapse: collapse;
  text-align: center;
}
.status-table td a {
    display:block;
    width:100%;
}

.status-table td, th {
  padding: 8px;
  text-align: center;
  border-top: 2px solid #ddd;
  position: relative;
  width: 80px;
}

.status-table .col-spacer {
  background-color: white;
  border: 0px;
  color: white;
  width: 20px;
}
.status-table .col-spacer:hover {
  background-color: white;
  color: white;
}

.status-table .row-spacer {
  height: 10px;
  background-color: white;
  color: white;
}
.status-table .row-spacer:hover {
  background-color: white;
  color: white;
}



.status-table td:hover {
  background-color: grey;
  opacity: 50%;
  color: white;
}


.status-table tr:hover {
  background-color: gainsboro;
  opacity: 50%;
}

.status-table td:hover::after,
.status-table th:hover::after {
  content: "";
  position: absolute;
  background-color: gainsboro;
  opacity: 50%;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}




.ram-meter {
  width: 40px;
}

/*****************************************************************/
/*                    expanding row styling                      */
/*****************************************************************/

td a {
    display:block;
    width:100%;
}

.toggle-button {
  position: absolute;
  right: 10px;
  top: 30px;
  width:30px;
  max-width:30px;
}

.toggle-box{
  display: none;
}

.header-row th {
  border-top: 0px;
}

.bottom-row td {
  border-top: 2px solid #ddd;
  border-bottom: 0px;
  background-color: white;
  height: 0px;
  padding: 0px;
}

.bottom-row td:hover {
  background-color: white;
}

.extra-row td {
  border-top: 0px;
  padding: 1px;
}

.extra-row {
  display: none;
}

.extra-row a {
  text-decoration: none;
  color: black;
}

input#toggle-row:checked ~ table tr.extra-row {
  display: table-row;
}


/*****************************************************************/
/*                          status styling                       */
/*****************************************************************/
.name-style{
  background-color: maroon;
  color: white;
}

.jobs-style {
  background-color: lightgrey;
  color: black;
}

.native-style {
  background-color: powderblue;
  color: black;
}
.native-style th{
  background-color: powderblue;
  color: black;
  padding: 0px;
}


.foreign-style {
  background-color: orange;
  color: black;
}

.total-style {
  background-color: green;
  color: white;
}

.total-style th{
  background-color: green;
  color: white;
  padding: 0px;
}

.disabled-style {
  text-decoration: none;
  color: maroon;
  font-weight: bold;
}

.zero-style {
  color: grey;
}

.more-style a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.more-style {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.sysctl-style {
  color: green;
  font-weight: bold;
}

.alert-style {
  color: red;
  font-weight: bold;
}

.manual-style {
  color: blue;
  font-weight: bold;
}

.bold-style{
  font-weight: bold;
}

.grey {
  background-color: #eee;
  color: white;
}
.red {
  background-color: rgba(255,0,0,.25);
}
.blue {
  background-color: rgba(0,0,255,.25);
}
.clear {}

/*****************************************************************/
/*                       tooltips styling                        */
/*****************************************************************/

[tooltip]{
  margin:20px;
  position:relative;
}
[tooltip]::before {
    transition-delay: 1.0s;
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 100px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:90;
    opacity:0;
}

[tooltip]:hover::before {
   opacity:1 !important;
}


/*****************************************************************/
/*                        overlay styling                        */
/*****************************************************************/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: relative;
  margin: 70px auto;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  width: 90%;
  height: 85%;
}


.popup .close {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/*****************************************************************/
/*                       sys stats styling                       */
/*****************************************************************/

.system-div {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  opacity: 1.0;
}

.system-services {
  text-align: center;
  font-weight: bold;
}


.system-services th {
  text-align: center;
  border: 0px;
}

.system-services td {
  width: 50px;
}

.system-services .col-spacer {
  background-color: white;
  border: 0px;
  color: white;
  width: 20px;
}



.green-symbol {
  color: green;
  font-size: 250% !important;
}

.orange-symbol {
  color: darkorange;
  font-size: 200% !important;
}

.red-symbol {
  color: red;
  font-size: 250% !important;
}

.expand-symbol {
  color: black;
  font-size: 250% !important;
}


/*****************************************************************/
/*                    page refresh styling                       */
/*****************************************************************/

.refresh-button {
  position: fixed;
  right:10;
  bottom: 10px;
}

.stop-symbol {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: red;
  font-size: 300% !important;
}
.reload-symbol {
  position: absolute;
  right: 60px;
  bottom: 0px;
  color: black;
  font-size: 500% !important;
}

#CDTimer {
  position: absolute;
  bottom: 33px;
  right: 70px;
  z-index:100;
  font-weight: bold;
  color: red;
}

