/*****************************************************************/
/*                          Plot styling                         */
/*****************************************************************/

.plot-div {
  left: 2px;
  position: relative;
}

#plotly-TS {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  padding: 8px;
  line-height: 12px;
  background-color: lightgrey;
  border: none;
  font-weight: bold;
  color: black;
  opacity: 0.5;
}
.close-btn:hover {
  opacity: 1;
}

.range-dropdown {
  position: absolute;
  right: 125px;
  top: 10px;
  border: none;
  font-weight: bold;
  cursor: default;
}

.range-btn {
  padding: 8px;
  line-height: 12px;
  background-color: lightgrey;
  border: none;
  font-weight: bold;
  color: black;
  opacity: 0.5;
}

.range-btn:hover {
  opacity: 1;
}

.caret {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.space{
  padding: 2px;
}

.dropdown-content {
  min-width: 450px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  -moz-column-fill: balance; /* Firefox */
  column-fill: balance;
  display: none;
  position: absolute;
  right: 0px;
  background-color: #e8e8e8;
  z-index: 1;
}

.dropdown-content a {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  color: rgba(0, 0, 0, .5);
  padding: 4px 6px;
  text-decoration: none;
  font-size: 10px;
  background-color: rgba(211, 211, 211, 0);
  display: block;
}

.dropdown-content a:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(211, 211, 211, 1);
}

.dropdown-content .first{
  padding-top: 7px;
}

.show {display:block;}

.dropdown-content .selected {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(211, 211, 211, 1);
}

.selected {opacity:1;}

.plotted {
  background-color: rgba(0,128,0,0.15);
}


/*****************************************************************/
/*                          table styling                        */
/*****************************************************************/
.group-name {
  padding: 8px;
  font-weight: bold;
}

.status-div {
  position: relative;
  top: 0px;
  padding-bottom: 20px;
  bottom: 100px;
  right: 2px;
  left: 2px;
  overflow: auto;
  white-space: nowrap;
}

.status-table th {
  font-weight: bold;
  text-align: center;
}

.status-table table {
  overflow: hidden;
  border-collapse: collapse;
  white-space: nowrap;
}

.status-table td, th {
  padding: 8px;
  /*text-align: center;*/
  border-top: 2px solid #ddd;
  position: relative;
  width: 80px;
}

.status-table .group-name {
  min-width: 80px;
}

.status-table .col-spacer {
  background-color: white;
  border: 0px;
  color: white;
  width: 20px;
}
.status-table .col-spacer:hover {
  background-color: white;
  color: white;
}

.status-table .row-spacer {
  height: 10px;
  background-color: white;
  color: white;
}

.status-table .row-spacer:hover {
  background-color: white;
  color: white;
}

.status-table td:hover {
  background-color: grey;
  opacity: 50%;
  color: white;
}


.status-table tr:hover {
  background-color: gainsboro;
  opacity: 50%;
}

.status-table td:hover::after,
.status-table th:hover::after {
  content: "";
  position: absolute;
  background-color: gainsboro;
  opacity: 50%;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}


.ram-meter {
  width: 40px;
}

meter.disabled-meter::-webkit-meter-optimum-value {
  background: grey; /* Green */
}


/*****************************************************************/
/*                    expanding row styling                      */
/*****************************************************************/

.float-left{
  float: left !important;
  text-align: left !important;
}

.float-right{
  float: right !important;
  text-align: right !important;
}

.float-center{
  float: center !important;
  text-align: center !important;
}

.job-extra-row{
  width: 100%;
  text-align: center;
}

.extra-row td {
  border-top: 0px;
  padding: 1px;
}

.extra-row {
  display: none;
  text-align: center;
}

.extra-row a {
  text-decoration: none;
  color: black;
}

.slot-summary {
  text-align: left;
}

.slot-detail td {
  text-align: center;
}

.status-table {
  position: relative;
}

.status-table .toggle-button {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 30px;
  max-width: 30px;
}

.header-row th {
  border-top: 0px;
}

.bottom-row td {
  border-top: 2px solid #ddd;
  border-bottom: 0px;
  background-color: white;
  height: 0px;
  padding: 0px;
}

.bottom-row td:hover {
  background-color: white;
}

/*****************************************************************/
/*                          status styling                       */
/*****************************************************************/


.name-style{
  background-color: maroon;
  color: white;
}

.jobs-style {
  background-color: lightgrey;
  color: black;
}

.total-heading{
  background-color: lightgrey;
}

.native-style {
  background-color: powderblue;
  color: black;
}
.native-style th{
  background-color: powderblue;
  color: black;
  padding: 0px;
}

.foreign-style {
  background-color: orange;
  color: black;
}

.total-style {
  background-color: green;
  color: white;
}

.total-style th{
  background-color: green;
  color: white;
  padding: 0px;
}

.disabled-style {
  text-decoration: none;
  /* color: maroon; */
  color: grey;
  font-weight: bold;
}

.warn-style {
  text-decoration: none;
  color: #CD7300;
  font-weight: bold;
}

.zero-style {
  color: grey;
}

.more-style a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.more-style {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.sysctl-style {
  color: green;
  font-weight: bold;
}

.alert-style {
  color: red;
  font-weight: bold;
}

.manual-style {
  color: blue;
  font-weight: bold;
}

.bold-style{
  font-weight: bold;
}

.total-row {
  background-color: azure;
}

.global-total-row {
  background-color: lightyellow;
}

.grey {
  background-color: #eee;
  color: white;
}
.red {
  background-color: rgba(255,0,0,.25);
}
.blue {
  background-color: rgba(0,0,255,.25);
}
.clear {}

/*****************************************************************/
/*                       tooltips styling                        */
/*****************************************************************/

[tooltip]{
  margin:20px;
  position:relative;
}
[tooltip]::before {
  transition-delay: 1.0s;
  content: attr(tooltip);
  position: absolute;
  left:50%;
  top:-6px;
  transform: translateX(-50%)   translateY(-100%);
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  padding:4px 2px;
  font-size: 12px;
  min-width: 100px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index:90;
  opacity:0;
}

[tooltip]:hover::before {
   opacity:1 !important;
}


/*****************************************************************/
/*                       sys stats styling                       */
/*****************************************************************/


body.status-nav{
  /*position: absolute;*/
  padding-bottom: 129px;
  overflow: auto;
}

body.status-nav .main-div {
  overflow: unset;
}

.system-div {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: white;
  opacity: 1.0;
  z-index: 1;
}

.system-services {
  text-align: center;
  font-weight: bold;
}

.system-services th {
  text-align: center;
  border: 0px;
}

.system-services td {
  width: 50px;
}

.system-services .col-spacer {
  background-color: white;
  border: 0px;
  color: white;
  width: 20px;
}

.blue-symbol {
  color: blue;
}

.green-symbol {
  color: green;
}

.orange-symbol {
  color: darkorange;
}

.red-symbol {
  color: red;
}

.bigger {
  font-size: 150% !important;
}

/*****************************************************************/
/*                    page refresh styling                       */
/*****************************************************************/

.refresh-button {
  position: fixed;
  right:10;
  bottom: 30px;
}

.stop-symbol {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: red;
  font-size: 300% !important;
}
.reload-symbol {
  position: absolute;
  right: 60px;
  bottom: 0px;
  color: black;
  font-size: 500% !important;
}

#CDTimer {
  position: absolute;
  bottom: 33px;
  right: 70px;
  z-index:100;
  font-weight: bold;
  color: red;
}

.refresh-button a {
  color: black;
}

.refresh-button .report-issue {
  position: absolute;
  right: 0px;
  bottom: -20px;
}

/*****************************************************************/
/*                    plot loader styling                        */
/*****************************************************************/
/* https://loading.io/css/*/
/* will not work for IE9 and earlier*/

.lds-roller {
  display: inline-block;
  position: absolute;
  top: 47%;
  left: 47%;
  width: 64px;
  height: 64px;
  z-index: -1;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: darkgray;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
