:root {
  --header_background_color: #4CAF50;
  --alternate_row_background_color: #F2F2F2;
}

.vm-div {
  position: absolute;
  display: block;

  width: 100%;
  top: 0px;
  bottom: 30px;

  overflow-y: visible;
  overflow-x: visible;


}



.vm-buttons {
  display: block;
  margin-left:15px; /* In order to allign with the scroll bar on the left side */
  padding-bottom: 2px;
  position: static;
}

.button {
  border: none;
  /*

  border-radius: 8px;
  box-shadow: 0 -17px 6px 0 rgba(0,0,0,0.2) inset;

  */
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  width: 197px;
}

/*
.button-shadow:hover {
  box-shadow: 0 17px 6px 0 rgba(0,0,0,0.2) inset;
}
*/
.greyed-button {
  opacity: 0.4;
  cursor: not-allowed;
}

.retire-button {
  background-color: #4CAF50;
}

.kill-button {
  background-color: #f44336;
  color: black;
}

.control-button {
  background-color: #4CAF50;
}

.vm-table {
  position: absolute;
  left: 0px;
  display: block;
}

.vm-table table {
  overflow-x: scroll;
  padding-bottom: 1px;
  table-layout: fixed;
}

.vm-table th, td {
  border: 1px solid white;
  padding: 5px;
}

/*
.vm-table thead {
  display: block;
  margin-left:12px; 
  width: 1670px;
}
*/
.vm-table th {
  background-color: powderblue;
  color: black;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
/*
.vm-table tbody {
  direction: rtl;
  display: block;
  height: 94%;
  overflow-y: scroll;
  width: 1680px;
}
*/
.vm-table tr:nth-child(even) {
  background-color: var(--alternate_row_background_color);
}

.vm-table td {
  text-align: center;
}
