:root {
  --header_background_color: #4CAF50;
  --alternate_row_background_color: #F2F2F2;

  --table_width: 100%;
  --table_body_height: 100%;
  --column_cloud_width: 200px;
  --column_one_width: 50px;
  --column_two_width: 200px;
  --column_three_width: 350px;
}

.vm {
  height: 90%;
  overflow-y: hidden;
}

.vm-table {
  /* width: var(--table_width); */
  table-layout: fixed;
  border-collapse: collapse;
  display: block;
}

.vm-table th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.vm-table thead {
  background-color: var(--header_background_color);
  color: white;
  display: block;
}

.vm-table thead > tr {
    display: block;
}

.vm-table th {
  color: white;
}

.vm-table tbody {
  display: block;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.vm-table tr:nth-child(even) {
  background-color: var(--alternate_row_background_color);
}


.grey {
  background-color: #eee;
  color: white;
}
.red {
  background-color: rgba(255,0,0,.25);
}
.blue {
  background-color: rgba(0,0,255,.25);
}
.clear {}
