
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
{% load template_utils %}
{% load static %}
{% load mathfilters %}
<link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/menu.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/tabs.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/overlay.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/editor.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/clouds.css" %}?{{version}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script type="text/javascript">

    var visited = {};
    var ec2_regions = {{ ec2_regions_list|safe }};

    function clear_message() {
        if (document.getElementById("message").innerHTML !== "") document.getElementById("message").innerHTML = "";
    }

    function get_message() {
        if (sessionStorage.getItem("message")){
            document.getElementById("message").innerHTML = sessionStorage.getItem("message");
            sessionStorage.setItem("response_code", "");
            sessionStorage.setItem("message", "");
        }
    }

    function meta_fetch(cloudname , metaname) {
        hide_meta_checksum();

        var url='/cloud/metadata-fetch?{{active_group}}&cloud_name='+cloudname+'&metadata_name='+metaname;
        var frame='editor-'+cloudname+'-'+metaname;

        if (!visited[frame]){
            document.getElementById(frame).src=url;
            visited[frame]=1;
        }
    }

    function meta_add(cloudname) {
        hide_meta_checksum();

        var url='/cloud/metadata-new?{{active_group}}&cloud_name='+cloudname;
        var frame='editor-'+cloudname+'-add';
        document.getElementById(frame).src=url;
    }


    function check_target(targetname) {
        var frame=targetname;
        document.getElementById(frame).checked = true;
    }


    function save_location(cloud, tab){
        sessionStorage.setItem("cloud", cloud);
        sessionStorage.setItem("cloud_tab", tab);
    }

    function new_location(){
        sessionStorage.setItem("cloud", document.getElementById("new_cloud").value);
        sessionStorage.setItem("cloud_tab", "settings");
    }

    function set_location(){
        if({{response_code}} == 1 && !sessionStorage.getItem("cloud")) {
            document.location.hash = "add-cloud";
        } else if (sessionStorage.getItem("cloud") && sessionStorage.getItem("cloud_tab")){
            tab = sessionStorage.getItem("cloud") + "-" + sessionStorage.getItem("cloud_tab");
            if({{response_code}} == 1 && !document.getElementById(tab)) {
                // case when add cloud failed, return add-cloud page
                document.location.hash = "add-cloud";
            } else if({{response_code}} == 0  && !document.getElementById(tab)){
                // case after refresh, return the first cloud setting page
                sessionStorage.setItem("cloud", "{{cloud_list.0.cloud_name}}");
                document.location.hash = "{{cloud_list.0.cloud_name}}"
                document.getElementById("{{cloud_list.0.cloud_name}}-settings").checked = true;
            } else {
                // normal case, return last cloud tab position
                document.getElementById(tab).checked = true;
                document.location.hash = sessionStorage.getItem("cloud");
            }
        } else {
            document.location.hash = "{{cloud_list.0.cloud_name}}"
            document.getElementById("{{cloud_list.0.cloud_name}}-settings").checked = true;
        }
    }

    function type_select(cloud_type, target_cloud){

        var oldRegionEl = document.getElementById(target_cloud+"-region").childNodes[0];
        var newRegionEl = document.createElement('td');

        if(cloud_type=="amazon"){
            var arrayLength = ec2_regions.length;

            var newHTML = '<select name="region" class="dropdown" id="'+target_cloud+'-selected" onchange=\'set_authurl("'+target_cloud+'")\'>';

            for (var i = 0; i < arrayLength; i++){
                newHTML+='<option value="'+ec2_regions[i].region+'">'+ec2_regions[i].region+'</option>';
            }

            newHTML+='</select>';

            newRegionEl.innerHTML=newHTML;
            oldRegionEl.parentNode.replaceChild(newRegionEl, oldRegionEl);

            document.getElementById(target_cloud+'-authurl').readOnly = true;
            document.getElementById(target_cloud+'-authurl').value = ec2_regions[0].endpoint;

            document.getElementById(target_cloud+'-project').readOnly = true;
            document.getElementById(target_cloud+'-project').value = "N/A";

            document.getElementById(target_cloud+'-image').style.display = "block";
            document.getElementById(target_cloud+'-flavor').style.display = "block";

        }
        else{
            newRegionEl.innerHTML = '<input type="text" name="region" value=""/>';
            oldRegionEl.parentNode.replaceChild(newRegionEl, oldRegionEl);

            document.getElementById(target_cloud+'-authurl').readOnly = false;
            document.getElementById(target_cloud+'-authurl').value = "";

            document.getElementById(target_cloud+'-project').readOnly = false;
            document.getElementById(target_cloud+'-project').value = "";

            document.getElementById(target_cloud+'-image').style.display = "none";
            document.getElementById(target_cloud+'-flavor').style.display = "none";
        }
    }

    function auth_type_select(auth_type, target_cloud){

        if(auth_type=="userpass"){
            document.getElementById(target_cloud+'-username-row').style.visibility = "inherit";   
            document.getElementById(target_cloud+'-password-row').style.visibility = "inherit";
            document.getElementById(target_cloud+'-userid-row').style.visibility = "collapse";
            document.getElementById(target_cloud+'-app_creds-row').style.visibility = "collapse";
            document.getElementById(target_cloud+'-app_creds_secret-row').style.visibility = "collapse";
            document.getElementById(target_cloud+'-app_creds_secret').value = "";
            if (document.getElementById(target_cloud+'-app_creds_expiry-row'))
                document.getElementById(target_cloud+'-app_creds_expiry-row').style.visibility = "collapse";
        }
        else if(auth_type="app_creds"){
            document.getElementById(target_cloud+'-username-row').style.visibility = "collapse";
            document.getElementById(target_cloud+'-password-row').style.visibility = "collapse";
            document.getElementById(target_cloud+'-password').value = "";
            document.getElementById(target_cloud+'-userid-row').style.visibility = "inherit";
            document.getElementById(target_cloud+'-app_creds-row').style.visibility = "inherit";
            document.getElementById(target_cloud+'-app_creds_secret-row').style.visibility = "inherit";
            if (document.getElementById(target_cloud+'-app_creds_expiry-row'))
                document.getElementById(target_cloud+'-app_creds_expiry-row').style.visibility = "inherit";
        }
    }

    function set_authurl(target_cloud){

        var arrayLength = ec2_regions.length;
        var selectedRegion = document.getElementById(target_cloud+'-selected').value;

        for (var i = 0; i < arrayLength; i++){
            if( ec2_regions[i].region == selectedRegion ){
                document.getElementById(target_cloud+'-authurl').value = ec2_regions[i].endpoint;
            }
        }
    }

</script>

<script rel="preload" type="text/javascript" src="{% static "ace-builds/src-noconflict/ace.js" %}?{{version}}"></script>
<script rel="preload" type="text/javascript" src="{% static "csv2/editor.js" %}?{{version}}"></script>

</head>
<body class="clouds-nav" onpageshow="get_message(); set_location()" onclick="clear_message()">
{% spaceless %}
<div class="main-div {% if is_superuser %}super-main-div{% endif %}">
    <div class="menu">
    {% for cloud in cloud_list %}
        <div id="{{cloud.cloud_name}}">

        <div class="menu2-div">
            <a href="#{{cloud.cloud_name}}" class="menu2-link" onclick="save_location('{{cloud.cloud_name}}', 'settings'); check_target('{{cloud.cloud_name}}-settings')">{{cloud.cloud_name}}</a>

            <a href="#delete-{{cloud.cloud_name}}" class="delete-link">&minus;</a>
        </div>

            <div class="menu-target">

                <div class="tab">
                    <input id="{{cloud.cloud_name}}-settings" type="radio" name="tabs" onclick="save_location('{{cloud.cloud_name}}', 'settings'); check_target('{{cloud.cloud_name}}-hide')" checked>
                    <label class="tab-colour" for="{{cloud.cloud_name}}-settings">Settings</label>
                    <div class="tab-content">

                        <form name="{{cloud.cloud_name}}" action="/cloud/update/#{{cloud.cloud_name}}" method="post" autocomplete="nope">
                            {% csrf_token %}
                            <table><tr><td class="tab-tables">

                                <table>
                                    <input type="hidden" name="group" value="{{ cloud.group_name }}">
                                    <input type="hidden" name="cloud_name" value="{{cloud.cloud_name}}" />


                                    <input type="hidden" name="enabled" value="0" />

                                    <tr class="highlight3"><td><label for="authurl">Enabled</label></td>
                                    <td>
                                    {% if cloud.enabled == 1%}
                                        <input type="checkbox" name="enabled" value="1" checked/>
                                    {% else %}
                                        <input type="checkbox" name="enabled" value="1" />
                                    {% endif %}
                                    </td></tr>

                                    <tr class="highlight3"><td><label for="priority">Priority</label></td>
                                    <td><input type="text" name="priority" title="Lower number is higher priority" value="{{cloud.cloud_priority}}" /></td></tr>


                                    <tr class="highlight3"><td><label for="cloud_type">Cloud type</label></td>
                                    <td><select name="cloud_type" class="dropdown" onchange='type_select(this.value, "{{cloud.cloud_name}}")'>
                                    {% for type in type_list %}
                                        {% if cloud.cloud_type == type.cloud_type %}
                                            <option value="{{ type.cloud_type }}" selected>{{ type.cloud_type }}</option>
                                        {% else %}
                                            <option value="{{ type.cloud_type }}">{{ type.cloud_type }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                    </td></tr>


                                    <tr class="highlight3"><td><label for="authurl">URL</label></td>
                                    <td>
                                    {% if cloud.cloud_type == "amazon" %}
                                        <input type="text" name="authurl" id="{{cloud.cloud_name}}-authurl" value="{{cloud.authurl}}" readonly />
                                    {% else %}
                                        <input type="text" name="authurl" id="{{cloud.cloud_name}}-authurl" value="{{cloud.authurl}}" />
                                    {% endif %}
                                    </td></tr>
                                    

                                    <tr class="highlight3"><td><label for="region">Region</label></td>
                                    <td id="{{cloud.cloud_name}}-region">
                                    {% if cloud.cloud_type == "amazon" %}
                                        <select name="region" class="dropdown" id="{{cloud.cloud_name}}-selected" onchange='set_authurl("{{cloud.cloud_name}}")'>
                                        {% for region in ec2_regions_list %}
                                            {% if cloud.region == region.region %}
                                                <option value="{{ region.region }}" selected>{{ region.region }}</option>
                                            {% else %}
                                                <option value="{{ region.region }}">{{ region.region }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    {% else %}
                                        <input type="text" name="region" value="{{cloud.region}}" />
                                    {% endif %}
                                    </td></tr>

                                    <tr class="highlight3"><td><label for="priority">Auth Type</label></td>
                                    {% if cloud.auth_type == "userpass" or cloud.auth_type is None or cloud.auth_type == "" %}
                                        <td><select name="auth_type" class="dropdown" onchange='auth_type_select(this.value, "{{cloud.cloud_name}}")'/>
                                            <option value="userpass" selected>Username & Password</option>
                                            <option value="app_creds">Application Credentials</option>
                                        </td></tr>
                                    {% else %}
                                        <td><select name="auth_type" class="dropdown" onchange='auth_type_select(this.value, "{{cloud.cloud_name}}")'/>
                                            <option value="userpass">Username & Password</option>
                                            <option value="app_creds" selected>Application Credentials</option>
                                        </td></tr>
                                    {% endif %}

                                    <tr class="highlight3"><td><label for="project">Project</label></td>
                                    {% if cloud.cloud_type == "amazon" %}
                                        <td><input type="text" name="project" id="{{cloud.cloud_name}}-project" value="{{cloud.project}}" readonly/>
                                    {% else %}
                                        <td><input type="text" name="project" id="{{cloud.cloud_name}}-project" value="{{cloud.project}}" />
                                    {% endif %}
                                    </td></tr>

                                    <tr class="highlight3" id="{{cloud.cloud_name}}-username-row" style="{% if cloud.auth_type == 'userpass' %}visibility:inherit{% else %}visibility:collapse{% endif %}"><td><label for="username">Username</label></td>
                                    <td><input type="text" name="username" id="{{cloud.cloud_name}}-username" value="{{cloud.username}}" /></td></tr>
                                    
                                    <tr class="highlight3" id="{{cloud.cloud_name}}-password-row" style="{% if cloud.auth_type == 'userpass' %}visibility:inherit{% else %}visibility:collapse{% endif %}"><td><label for="password">Password</label></td>
                                    <td><input type="password" name="password" id="{{cloud.cloud_name}}-password" placeholder="Update password" value="" autocomplete="new-password"/></td></tr>

                                    <tr class="highlight3" id="{{cloud.cloud_name}}-userid-row" style="{% if cloud.auth_type == 'userpass' %}visibility:collapse{% else %}visibility:inherit{% endif %}"><td><label for="userid">User Id</label></td>
                                    <td><input type="text" name="userid" id="{{cloud.cloud_name}}-userid" value="{{cloud.userid|default_if_none:''}}" /></td></tr>

                                    <tr class="highlight3" id="{{cloud.cloud_name}}-app_creds-row" style="{% if cloud.auth_type == 'userpass' %}visibility:collapse{% else %}visibility:inherit{% endif %}"><td><label for="app_credentials">Application Credential Id</label></td>
                                    <td><input type="text" name="app_credentials" id="{{cloud.cloud_name}}-app_creds" value="{{cloud.app_credentials|default_if_none:''}}" /></td></tr>

                                    <tr class="highlight3" id="{{cloud.cloud_name}}-app_creds_secret-row" style="{% if cloud.auth_type == 'userpass' %}visibility:collapse{% else %}visibility:inherit{% endif %}"><td><label for="app_credentials_secret">Application Credential Secret</label></td>
                                    <td><input type="password" name="app_credentials_secret" id="{{cloud.cloud_name}}-app_creds_secret" placeholder="Update secret" value="" /></td></tr>

                                    {% if cloud.app_credentials_expiry %}
                                        <tr class="highlight3" id="{{cloud.cloud_name}}-app_creds_expiry-row" style="{% if cloud.auth_type == 'userpass' %}visibility:collapse{% else %}visibility:inherit{% endif %}"><td><label for="app_credentials_expiry">Application Credential Expiry</label></td>
                                        {% if cloud.app_credentials_expiry|sub:cloud.current_time|div:86400 > 1 %}
                                            <td><div id="{{cloud.cloud_name}}-app_creds_expiry" style="{% if cloud.auth_type == 'userpass' %}visibility:collapse{% else %}visibility:inherit{% endif %};{% if cloud.app_credentials_expiry|sub:cloud.current_time|div:86400 >= 8 %}color:green{% else %}color:red{% endif %}">{{cloud.app_credentials_expiry|sub:cloud.current_time|intdiv:86400|floatformat:"0"}} days</div></td>
                                        {% elif cloud.app_credentials_expiry|sub:cloud.current_time|div:86400 > 0 %}
                                            <td><div id="{{cloud.cloud_name}}-app_creds_expiry" style="{% if cloud.auth_type == 'userpass' %}visibility:collapse{% else %}visibility:inherit{% endif %};color:red">{{cloud.app_credentials_expiry|sub:cloud.current_time|intdiv:3600|floatformat:"0"}} hours</div></td>
                                        {% else %}
                                            <td><div id="{{cloud.cloud_name}}-app_creds_expiry" style="{% if cloud.auth_type == 'userpass' %}visibility:collapse{% else %}visibility:inherit{% endif %};color:red">expired</div></td>
                                        {% endif %}
                                        </tr>
                                    {% endif %}
                                    

                                    <tr class="highlight3"><td><label for="cacertificate">CA certificate</label></td>
                                    {% if cloud.cacertificate == None or cloud.cacertificate == "None" %}
                                        <td><input type="text" name="cacertificate" value="" /></td></tr>
                                    {% else %}
                                        <td><input type="text" name="cacertificate" value="{{cloud.cacertificate}}" /></td></tr>
                                    {% endif %}

                                    <tr class="highlight3"><td><label for="user_domain_name">User domain name</label></td>
                                    <td><input type="text" name="user_domain_name" value="{{cloud.user_domain_name}}" /></td></tr>
                                    
                                    <tr class="highlight3"><td><label for="project_domain_name">Project domain name</label></td>
                                    <td><input type="text" name="project_domain_name" value="{{cloud.project_domain_name}}" /></td></tr>

                                </table>
                            </td>
                            <td class="tab-tables">    

                                <table>
                                    {% if cloud.cloud_type == "openstack" %}
                                        <tr class="highlight3">
                                            <td><label for="vm_boot_volume">Boot Volume</label></td>
                                            {% if cloud.vm_boot_volume == None %}
                                                <td><textarea name="vm_boot_volume" id="{{cloud.cloud_name}}-vm_boot_volume" title='null or {"GBs": n1, "GBs_per_core": n2}' rows="5">null</textarea></td>
                                            {% else %}
                                                <td><textarea name="vm_boot_volume" id="{{cloud.cloud_name}}-vm_boot_volume" title='null or {"GBs": n1, "GBs_per_core": n2}' rows="5">{{cloud.vm_boot_volume}}</textarea></td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                    
                                    <tr class="highlight3"><td><label for="vm_security_groups">Security Group</label></td>
                                        <td>
                                            <section name="vm_security_groups">
                                                <div>
                                                    <select id="leftValues-{{cloud.cloud_name}}" name="vm_security_groups" size="5" multiple>
                                                    {% for group in security_groups_list %}
                                                        {% if cloud.cloud_name == group.cloud_name %}
                                                            {% if group.name in cloud.vm_security_groups|split %}
                                                                <option selected>{{group.name}}</option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <div>
                                                    <input type="button" id="btnLeft-{{cloud.cloud_name}}" value="&lt;&lt;" />
                                                    <input type="button" id="btnRight-{{cloud.cloud_name}}" value="&gt;&gt;" />
                                                </div>
                                                <div>
                                                    <select id="rightValues-{{cloud.cloud_name}}" size="5" multiple>
                                                    {% for group in security_groups_list %}
                                                        {% if cloud.cloud_name == group.cloud_name %}
                                                            {% if vm_security_groups is None %}
                                                                <option>{{group.name}}</option>
                                                            {% elif group.name not in cloud.vm_security_groups|split %}
                                                                <option>{{group.name}}</option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                            </section>
                                        </td>
                                    </tr>
                                
                                    <tr class="highlight3"><td><label for="vm_keyname">VM Keyname</label></td>
                                    <td><select name="vm_keyname" class="dropdown"/>
                                    <option value=""></option>
                                    {% for key in keypairs_list %}
                                        {% if key.cloud_name == cloud.cloud_name%}
                                            {% if key.key_name == cloud.vm_keyname %}
                                                <option value="{{ key.key_name }}" selected>{{ key.key_name }}</option>
                                            {% else %}
                                                <option value="{{ key.key_name }}">{{ key.key_name }}</option>
                                            {% endif %}
                                        {% endif %}   
                                    {% endfor %}

                                    <tr class="highlight3"><td><label for="vm_network">VM Network</label></td>
                                    <td><select name="vm_network" class="dropdown"/>
                                    <option value=""></option>
                                    {% for network in network_list %}
                                        {% if network.cloud_name == cloud.cloud_name%}
                                            {% if network.name == cloud.vm_network %}
                                                <option value="{{ network.name }}" selected>{{ network.name }}</option>
                                            {% else %}
                                                <option value="{{ network.name }}">{{ network.name }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </td></tr>


                                    <tr class="highlight3"><td><label for="vm_image">VM Image</label></td>
                                    <td><select name="vm_image" class="dropdown"/>
                                    <option value=""></option>
                                    {% for image in image_list %}
                                        {% if image.cloud_name == cloud.cloud_name%}
                                            {% if image.name == cloud.vm_image %}
                                                <option value="{{ image.name }}" selected>{{ image.name }}</option>
                                            {% else %}
                                                <option value="{{ image.name }}">{{ image.name }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    </td>                           
                                    {% if cloud.cloud_type == "amazon" %}
                                        <td id="{{cloud.cloud_name}}-image">                                    
                                    {% else %}
                                        <td id="{{cloud.cloud_name}}-image" style="display:none">
                                    {% endif %}                                   
                                        <a onclick='document.getElementById("vms-iframe").src="/ec2/images/?{{active_group}}&cloud_name={{cloud.cloud_name}}";' href="#vms-overlay">&#9745; Image filter</a>
                                    </td>
                                    </tr>

                                    <tr class="highlight3"><td><label for="vm_flavor">VM Flavor</label></td>
                                    <td><select name="vm_flavor" class="dropdown"/>
                                    <option value=""></option>
                                    {% for flavor in flavor_list %}
                                        {% if flavor.cloud_name == cloud.cloud_name%}
                                            {% if flavor.name == cloud.vm_flavor %}
                                                <option value="{{ flavor.name }}" selected>{{ flavor.name }}</option>
                                            {% else %}
                                                <option value="{{ flavor.name }}">{{ flavor.name }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </td>                                  
                                    {% if cloud.cloud_type == "amazon" %}
                                        <td id="{{cloud.cloud_name}}-flavor">                                    
                                    {% else %}
                                        <td id="{{cloud.cloud_name}}-flavor" style="display:none">
                                    {% endif %} 
                                        <a onclick='document.getElementById("vms-iframe").src="/ec2/instance-types/?{{active_group}}&cloud_name={{cloud.cloud_name}}";' href="#vms-overlay">&#9745; Flavor filter</a>
                                    </td>
                                    </tr>

                                    <tr class="highlight3"><td><label for="vm_keep_alive">VM Keep Alive</label></td>
                                    <td><input type="text" name="vm_keep_alive" value="{{cloud.vm_keep_alive}}" /></td></tr>

                                    <tr class="highlight3"><td><label for="spot_price">Spot Price</label></td>
                                    <td><input type="text" name="spot_price" title="-1 to disable" value="{{cloud.spot_price}}" /></td></tr>

                                </table>

                                <br>

                                <table>
                                    <tr class="highlight2"><td><label for="cores_softmax">Cores Softmax</label></td>
                                    <td><input type="text" name="cores_softmax" title="-1 to use hard max" value="{{cloud.cores_softmax}}" /></td></tr>

                                    <tr class="highlight2"><td><label for="cores_ctl">Cores</label></td>
                                    <td>
                                        
                                        <input type="range" min="-1" max="{{cloud.cores_max}}" value="{{cloud.cores_ctl}}" name="cores_slider" oninput="cores_ctl.value=cores_slider.value" />
                                        <input type="number" min="-1" max="{{cloud.cores_max}}" value="{{cloud.cores_ctl}}" name="cores_ctl" title="-1 to use system max" oninput="cores_slider.value=cores_ctl.value" />
                                        / {{cloud.cores_max}}
                                    </td></tr>

                                    <tr class="highlight2"><td><label for="ram_ctl">RAM</label></td>
                                    <td>
                                        <input type="range" min="-1" max="{{cloud.ram_max}}" value="{{cloud.ram_ctl}}" name="ram_slider" oninput="ram_ctl.value=ram_slider.value" />
                                        <input type="number" min="-1" max="{{cloud.ram_max}}" value="{{cloud.ram_ctl}}" name="ram_ctl" title="-1 to use system max" oninput="ram_slider.value=ram_ctl.value" />
                                        / {{cloud.ram_max}} MB
                                    </td></tr>

                                </table>
                            </td></tr>

                            <tr>
                                <td class="left"><input type="submit" value="Update Cloud" /></td>
                                <td></td>
                            </tr>

                        </table>
                        </form>
                        <!--
                        <div class="tab2">
                            <input id="{{cloud.cloud_name}}-hide" type="radio" name="tabs2">
                            <div class="tab2-hide"></div>
                        </div>
                        -->
                    </div>

                </div>

                <div class="tab">
                    <input id="{{cloud.cloud_name}}-metadata" type="radio" name="tabs" onclick="save_location('{{cloud.cloud_name}}', 'metadata'); check_target('{{cloud.cloud_name}}-hide')" />
                    <label class="tab-colour" for="{{cloud.cloud_name}}-metadata" onclick="show_meta_checksum()">Metadata</label>
                    <div class="tab-content meta-div show-checksum" id="meta-list-tab">

                        {% for key, value in metadata_dict.items %}

                            {% for meta in value|keyvalue:cloud.cloud_name %}

                                <div style="display: flex">
                                    <div class="tab2 checksum-label">
                                        <input id="{{cloud.cloud_name}}-metadata-{{meta}}" type="radio" name="tabs2" onclick="meta_fetch('{{cloud.cloud_name}}', '{{meta}}')" />
                                        <label class="tab2-colour{% if not value|keyvalue:cloud.cloud_name|keyvalue:meta|keyvalue:'metadata_enabled' %} disabled-style{% endif %}" for="{{cloud.cloud_name}}-metadata-{{meta}}">{{meta}}</label>
                                        <div class="tab2-content">
                                            <iframe id="editor-{{cloud.cloud_name}}-{{meta}}"  src=""></iframe>
                                        </div>
                                    </div>
                                    {% if value|keyvalue:cloud.cloud_name|keyvalue:meta|keyvalue:'metadata_checksum' %}
                                        <label class="checksum-text" style="display: inline">MD5 Checksum: {{value|keyvalue:cloud.cloud_name|keyvalue:meta|keyvalue:'metadata_checksum'}}</label>
                                    {% endif %}
                                 </div>

                            {% endfor %}
                        {% endfor %}

                        <div class="tab2 checksum-label">
                            <input id="{{cloud.cloud_name}}-metadata-add" type="radio" name="tabs2" onclick="meta_add('{{cloud.cloud_name}}')">
                            <label class="tab2-colour" for="{{cloud.cloud_name}}-metadata-add">+</label>
                            <div class="tab2-content">

                                <iframe id="editor-{{cloud.cloud_name}}-add"  src=""></iframe>

                            </div>

                        </div>

                        <div class="tab2">
                            <input id="{{cloud.cloud_name}}-hide" type="radio" name="tabs2">
                            <div class="tab2-hide"></div>
                        </div>

                    </div>

                </div>

                <div class="tab">
                    <input id="{{cloud.cloud_name}}-exclusions" type="radio" name="tabs" onclick="save_location('{{cloud.cloud_name}}', 'exclusions'); check_target('{{cloud.cloud_name}}-hide')">
                    <label class="tab-colour" for="{{cloud.cloud_name}}-exclusions">Exclusions</label>
                    <div class="tab-content">


                        <div class="tab2">
                            <input id="{{cloud.cloud_name}}-metadata-exclusions" type="radio" name="tabs2">
                            <label class="tab2-colour" for="{{cloud.cloud_name}}-metadata-exclusions">Default metadata</label>

                            <div class="tab2-content">
                                <form name="{{cloud.cloud_name}}-metadata-exclusions" action="/cloud/update/#{{cloud.cloud_name}}" method="post">
                                {% csrf_token %}
                                    <table>
                                        <input type="hidden" name="group" value="{{ cloud.group_name }}">
                                        <input type="hidden" name="cloud_name" value="{{cloud.cloud_name}}" />
                                        <input type="hidden" name="password" value=""/>

                                    {% for meta in group_metadata_dict %}
                                        <tr><td class="highlight2"><input type="checkbox" name="metadata_name.{{ forloop.counter }}" value="{{ meta.metadata_name }}" 
                                            {% for exclusion in group_metadata_exclusion_list%}
                                                {% if exclusion.cloud_name == cloud.cloud_name and exclusion.metadata_name == meta.metadata_name %}
                                                    checked
                                                {% endif %}
                                            {% endfor %}
                                        />{{ meta.metadata_name }}</input></td></tr>
                                    {% endfor %}

                                        <tr>
                                            <td>
                                                <input type="submit" value="Update Metadata Exclusions" />
                                            </td>

                                        </tr>

                                    </table>
                                </form>

                            </div>

                        </div>

                        <br>

                        <div class="tab2">

                            <input id="{{cloud.cloud_name}}-flavor-exclusions" type="radio" name="tabs2">
                            <label class="tab2-colour" for="{{cloud.cloud_name}}-flavor-exclusions">Default flavors</label>

                            <div class="tab2-content">
                                <form name="{{cloud.cloud_name}}-flavor-exclusions" action="/cloud/update/#{{cloud.cloud_name}}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="group" value="{{ cloud.group_name }}">
                                    <input type="hidden" name="cloud_name" value="{{cloud.cloud_name}}" />
                                    <input type="hidden" name="password" value=""/>
                                    <table>

                                    {% for flavor in flavor_list %}
                                        {% if flavor.cloud_name == cloud.cloud_name %}
                                            <tr><td class="highlight2"><input type="checkbox" name="flavor_name.{{ forloop.counter }}" value="{{ flavor.name }}"
                                                {% for exclusion in flavor_exclusion_list%}
                                                    {% if exclusion.cloud_name == cloud.cloud_name and exclusion.flavor_name == flavor.name %}
                                                        checked
                                                    {% endif %}
                                                {% endfor %}
                                            />{{ flavor.name }}</input></td></tr>
                                        {% endif %}
                                    {% endfor %}

                                        <tr>
                                            <td>
                                                <input type="submit" value="Update Flavor Exclusions" />
                                            </td>

                                        </tr>

                                    </table>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}
        <div id="add-cloud"> <a href="#add-cloud" class="menu-link add-link">&plus;</a>
            <div class="menu-target">
                <form name="add_cloud" action="/cloud/add/" method="post" onsubmit="new_location()">
                    {% csrf_token %}
                    <div class="menu-position">
                        <table>
                            <input type="hidden" name="group" value="{{active_group}}">

                            <tr class="highlight3"><td><label for="cloud_name">Cloud name</label></td>
                            <td><input type="text" name="cloud_name" id="new_cloud" value="{{cloud_add.cloud_name}}" /></td></tr>

                            <input type="hidden" name="enabled" value="0" />
                            <tr class="highlight3"><td><label for="enabled">Enabled</label></td>
                            <td><input type="checkbox" name="enabled" value="1" {% if cloud_add.enabled %}checked{% endif %} /></td></tr>

                            <tr class="highlight3"><td><label for="priority">Priority</label></td>
                            <td><input type="text" name="priority" title="Lower number is higher priority" value="{{cloud_add.priority}}" /></td></tr>

                            <tr class="highlight3"><td><label for="cloud_type">Cloud type</label></td>
                            <td><select name="cloud_type" class="dropdown" onchange='type_select(this.value, "add")'/>
                            {% for type in type_list %}
                                {% if type.cloud_type == cloud_add.cloud_type %}
                                    <option value="{{ type.cloud_type }}" selected>{{ type.cloud_type }}</option>
                                {% else %}
                                    <option value="{{ type.cloud_type }}">{{ type.cloud_type }}</option>
                                {% endif %}
                                }
                            {% endfor %}
                            </td></tr>
                            <tr class="highlight3"><td><label for="priority">Auth Type</label></td>
                            <td><select name="auth_type" class="dropdown" onchange='auth_type_select(this.value, "add")'/>
                                <option value="userpass" {% if cloud_add.auth_type == 'userpass' %}selected{% endif %}>Username & Password</option>
                                <option value="app_creds" {% if cloud_add.auth_type == 'app_creds' %}selected{% endif %}>Application Credentials</option>
                            </td></tr>

                            <tr class="highlight3"><td><label for="authurl">URL</label></td>
                            <td><input type="text" name="authurl" id="add-authurl" value="{{cloud_add.authurl}}" /></td></tr>
                            
                            <tr class="highlight3"><td><label for="region">Region</label></td>
                            <td id="add-region"><input type="text" name="region" value="{{cloud_add.region}}" /></td></tr>

                            <tr class="highlight3"><td><label for="project">Project</label></td>
                            <td><input type="text" name="project" id="add-project" value="{% if cloud.project %}{{cloud.project}}{% else %}{{cloud_add.project}}{% endif %}" /></td></tr>
                            
                            <tr class="highlight3" id="add-username-row" {% if cloud_add.auth_type == 'app_creds' %}style="visibility:collapse"{% endif %}><td><label for="username">Username</label></td>
                            <td><input type="text" id="add-username" name="username" value="{{cloud_add.username}}" /></td></tr>
                            
                            <tr class="highlight3" id="add-password-row" {% if cloud_add.auth_type == 'app_creds' %}style="visibility:collapse"{% endif %}><td><label for="password">Password</label></td>
                            <td><input type="password" id="add-password" name="password" value="" /></td></tr>
                           
                            <tr class="highlight3" id="add-userid-row" {% if cloud_add.auth_type == 'userpass' %}style="visibility:collapse"{% endif %}><td><label for="userid">User Id</label></td>
                            <td><input type="text" name="userid" id="add-userid" value="{{cloud_add.userid}}" /></td></tr>

                            <tr class="highlight3" id="add-app_creds-row" {% if cloud_add.auth_type == 'userpass' %}style="visibility:collapse"{% endif %}><td><label for="app_credentials">Application Credential Id</label></td>
                            <td><input type="text" name="app_credentials" id="add-app_creds" value="{{cloud_add.app_credentials}}" /></td></tr>

                            <tr class="highlight3" id="add-app_creds_secret-row" {% if cloud_add.auth_type == 'userpass' %}style="visibility:collapse"{% endif %}><td><label for="app_credentials_secret">Application Credential Secret</label></td>
                            <td><input type="password" name="app_credentials_secret" id="add-app_creds_secret" value="" /></td></tr>
                            
                            <tr class="highlight3"><td><label for="cacertificate">CA certificate</label></td>
                            {% if cloud.cacertificate == None or cloud.cacertificate == "None" %}
                                <td><input type="text" name="cacertificate" value="{{cloud_add.cacertificate}}" /></td></tr>
                            {% else %}
                                <td><input type="text" name="cacertificate" value="{{cloud.cacertificate}}" /></td></tr>
                            {% endif %}

                            <tr class="highlight3"><td><label for="user_domain_name">User domain name</label></td>
                            <td><input type="text" name="user_domain_name" value="{% if cloud.user_domain_name %}{{cloud.user_domain_name}}{% else %}{{cloud_add.user_domain_name}}{% endif %}" /></td></tr>
                            
                            <tr class="highlight3"><td><label for="project_domain_name">Project domain name</label></td>
                            <td><input type="text" name="project_domain_name" value="{% if cloud.project_domain_name %}{{cloud.project_domain_name}}{% else %}{{cloud_add.project_domain_name}}{% endif %}" /></td></tr>



                            <tr><td><input type="submit" value="Add Cloud" /></td></tr>
                        </table>
                    </div>
                </form>  
            </div>
        </div>
    </div>

    {% for cloud in cloud_list %}
    <div id="delete-{{cloud.cloud_name}}" class="modalDialog">
        <div>
            <a href="#{{cloud.cloud_name}}" title="Close" class="close">X</a>
            <form name="{{cloud.cloud_name}}" action="/cloud/delete/" method="post">
                {% csrf_token %}
                <input type="hidden" name="group" value="{{cloud.group_name}}" />
                <input type="hidden" name="cloud_name" value="{{cloud.cloud_name}}" />
                <input type="submit" value="Delete {{cloud.cloud_name}}" />
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<div id="vms-overlay" class="overlay">
    <div class="popup">
        <a class="close" id="timer-count" onclick="location.href='/cloud/list/?{{active_group}}'" href="#">&times;</a>
        <iframe id="vms-iframe" class="content" src=""></iframe>
    </div>
</div>

<div class="footer{% if response_code == 0 %} success-msg{% endif %}" id="message">
    {% if response_code == 1 %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% elif message is not None %}
        <tr><td>{{ message }}</td></tr>
    {% endif %}
</div>


{% endspaceless %}
</body>


{% for cloud in cloud_list %}
    <script>
        /* for security group picker widget */
        $("#btnLeft-{{cloud.cloud_name}}").click(function () {
            var selectedItem = $("#rightValues-{{cloud.cloud_name}} option:selected");
            $("#leftValues-{{cloud.cloud_name}}").append(selectedItem);
        });

        $("#btnRight-{{cloud.cloud_name}}").click(function () {
            var selectedItem = $("#leftValues-{{cloud.cloud_name}} option:selected");
            $("#rightValues-{{cloud.cloud_name}}").append(selectedItem);
            $("#leftValues-{{cloud.cloud_name}} option").prop("selected", "selected")
        });

        $("#rightValues-{{cloud.cloud_name}}").change(function () {
            var selectedItem = $("#rightValues-{{cloud.cloud_name}} option:selected");
            $("#txtRight-{{cloud.cloud_name}}").val(selectedItem.text());
        });
    </script>
{% endfor %}


