
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/editor.css" %}">
    <title>{{ metadata_name }}</title>

    <script rel="preload" type="text/javascript" src="{% static "ace-builds/src-noconflict/ace.js" %}"></script>
</head>

<body class="metadata-fetch">

    <h3 id="metadata-name">{{ metadata_name }}</h3>

    <form name="{{ cloud_name }}-{{ metadata_name }}" action="/cloud/metadata-update/" method="post">
    {% csrf_token %}

        <textarea name="metadata" id="meta-editor">{{ metadata }}</textarea>
        <br>
        <table class="highlight4">
            <input type="hidden" name="group_name" value="{{ group_name }}">
            <input type="hidden" name="cloud_name" value="{{ cloud_name }}">
            <input type="hidden" name="metadata_name" value="{{ metadata_name }}">
            
            <input type="hidden" name="enabled" value="0" />

            <tr class="highlight4"><td><label for="authurl">Enabled</label></td>
            <td>
            {% if metadata_enabled == 1%}
                <input type="checkbox" name="enabled" value="1" checked/>
            {% else %}
                <input type="checkbox" name="enabled" value="1" />
            {% endif %}
            </td></tr>

            <tr class="highlight4"><td><label for="priority">Priority</label></td>
            <td><input type="number" name="priority" value="{{metadata_priority}}" /></td></tr>


            <tr class="highlight4"><td><label for="mime_type">MIME Type</label></td>
            <td><select name="mime_type"/>
            {% for type in mime_types_list %}
                {% if cloud.cloud_type == type.mime_type %}
                    <option value="{{ type.mime_type }}" selected>{{ type.mime_type }}</option>
                {% else %}
                    <option value="{{ type.mime_type }}">{{ type.mime_type }}</option>
                {% endif %}
            {% endfor %}
            
            <tr><td><input type="submit" id="right" value="Update" onclick="parent.location.reload()"></td>


        
    </form>
        <td>
            <form name="{{ cloud_name }}-{{ metadata_name }}-delete" action="/cloud/metadata-delete/" method="post">
            {% csrf_token %}
            
                <input type="hidden" name="group_name" value="{{ group_name }}">
                <input type="hidden" name="cloud_name" value="{{ cloud_name }}">
                <input type="hidden" name="metadata_name" value="{{ metadata_name }}">
                <input type="submit" id="right" value="Delete" onclick="parent.location.reload()">

            </form>
        </td></tr>
    </table>

    <div class="editor-footer" id="message">
        {% if response_code == 1 %}
            <tr><td><b>Error: {{ message }}</b></td></tr>
        {% elif message is not None %}
            <tr><td>{{ message }}</td></tr>
        {% endif %}
    </div>

    <script rel="preload" type="text/javascript" src="{% static "csv2/editor.js" %}"></script>

    <script type="text/javascript">
        createEditor("meta-editor")
    </script>

</body>