
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "csv2/styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/clouds.css" %}">

<script type="text/javascript">
    function show_cloud(cloud_name){
        if (cloud_name.length > 0) {
            document.location.hash = cloud_name;
        }
    }
</script>

</head>
<body onpageshow="show_cloud('{{current_cloud}}')">

<section class="vertical-menu">
    <a href="#" class="active">Clouds</a>
        {% for cloud in cloud_list.ResultProxy %}
        <a href="#{{cloud.cloud_name}}">{{cloud.cloud_name}}</a>
        {% endfor %}
    <a href="#add_cloud" class="add_cloud">+</a> 
</section>

<section class="target">
    {% for cloud in cloud_list.ResultProxy %}
    <div id="{{cloud.cloud_name}}">
        <h1>{{cloud.cloud_name}}</h1>
        <div id="delete_{{cloud.cloud_name}}" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h2>{{cloud.cloud_name}}</h2>
                <input type="hidden" name="action" value="delete" />
                <p><input type="submit" value="Update Cloud" />Yes</td>

            </div>
        </div>
        <form name="{{cloud.cloud_name}}" action="/cloud/modify/#{{cloud.cloud_name}}" method="post" onchange="msg_tbl.style='display:none;'">
            {% csrf_token %}
            <table>

                <input type="hidden" name="cloud_name" value="{{cloud.cloud_name}}" />
                <tr><td><label for="authurl">URL</label></td>
                <td><input type="text" name="authurl" value="{{cloud.authurl}}" /></td></tr>
                <tr><td><label for="project">Project</label></td>
                <td><input type="text" name="project" value="{{cloud.project}}" /></td></tr>
                <tr><td><label for="username">Username</label></td>
                <td><input type="text" name="username"  value="{{cloud.username}}" /></td></tr>
                <tr><td><label for="password">Password</label></td>
                <td><input type="password" name="password" placeholder="Update password" value="" /></td></tr>
                <tr><td><label for="keyname">Key pair name</label></td>
                <td><input type="text" name="keyname" value="{{cloud.keyname}}" /></td></tr>
                <tr><td><label for="cacertificate">CA certificate</label></td>
                <td><input type="text" name="cacertificate" value="{{cloud.cacertificate}}" /></td></tr>
                <tr><td><label for="region">Region</label></td>
                <td><input type="text" name="region" value="{{cloud.region}}" /></td></tr>
                <tr><td><label for="user_domain_name">User domain name</label></td>
                <td><input type="text" name="user_domain_name" value="{{cloud.user_domain_name}}" /></td></tr>
                <tr><td><label for="project_domain_name">Project domain name</label></td>
                <td><input type="text" name="project_domain_name" value="{{cloud.project_domain_name}}" /></td></tr>
                <tr><td><label for="cloud_type">Cloud type</label></td>
                <td><input type="text" name="cloud_type" value="{{cloud.cloud_type}}" /></td></tr>

                <tr><td><label for="cores_ctl">Cores</label></td>
                <td>
                    <input id="slider-cores" type="range" min="-1" max="{{cloud.cores_max}}" value="{{cloud.cores_ctl}}" name="cores_slider" onchange="cores_ctl.value=cores_slider.value" />
                    <input id="ctl-cores" type="number" min="-1" max="{{cloud.cores_max}}" value="{{cloud.cores_ctl}}" name="cores_ctl" onchange="cores_slider.value=cores_ctl.value" />
                    / {{cloud.cores_max}}
                    {% if cloud.cores_ctl == -1 %}
                    Use Quota
                    {% endif %}
                </td></tr>

                <tr><td><label for="ram_ctl">RAM</label></td>
                <td>
                    <input id="slider-ram" type="range" min="-1" max="{{cloud.ram_max}}" value="{{cloud.ram_ctl}}" name="ram_slider" onchange="ram_ctl.value=ram_slider.value" />
                    <input id="ctl-ram" type="number" min="-1" max="{{cloud.ram_max}}" value="{{cloud.ram_ctl}}" name="ram_ctl" onchange="ram_slider.value=ram_ctl.value" />
                    / {{cloud.ram_max}}
                </td></tr>

                <input type="hidden" name="action" value="modify" />
                <tr><td><input type="submit" value="Update Cloud" /></td>
                <td><a href="#delete-{{cloud.cloud_name}}"><button type="button">Delete</button></a></td></tr>
            </table>

            {% if response_code == 1 %}
                <div id="msg_tbl"><table>
                    <tr><td colspan=2; style="color:red";><div id="message"><b>Error: {{ message }}</b></div></td></tr>
                </table></div>
            {% elif message is not None %}
                <div id="msg_tbl"><table>
                    <tr><td colspan=2; style="color:green";><div id="message">{{ message }}</div></td></tr>
                </table></div>
            {% endif %}
        </form>
    </div>
    {% endfor %}
    <div id="add_cloud">
        <h1>Add New Cloud</h1>
        <form name="add_cloud" action="/cloud/modify/" method="post">
            {% csrf_token %}
            <table>
                <tr><td><label for="cloud_name">Cloud name</label></td>
                <td><input type="text" name="cloud_name" value="" /></td></tr>
                <tr><td><label for="authurl">URL</label></td>
                <td><input type="text" name="authurl" value="" /></td></tr>
                <tr><td><label for="project">Project</label></td>
                <td><input type="text" name="project" value="{{cloud.project}}" /></td></tr>
                <tr><td><label for="username">Username</label></td>
                <td><input type="text" name="username" value="" /></td></tr>
                <tr><td><label for="password">Password</label></td>
                <td><input type="password" name="password" value="" /></td></tr>
                <tr><td><label for="keyname">Key pair name</label></td>
                <td><input type="text" name="keyname" value="{{cloud.keyname}}" /></td></tr>
                <tr><td><label for="cacertificate">CA certificate</label></td>
                <td><input type="text" name="cacertificate" value="{{cloud.cacertificate}}" /></td></tr>
                <tr><td><label for="region">Region</label></td>
                <td><input type="text" name="region" value="{{cloud.region}}" /></td></tr>
                <tr><td><label for="user_domain_name">User domain name</label></td>
                <td><input type="text" name="user_domain_name" value="{{cloud.user_domain_name}}" /></td></tr>
                <tr><td><label for="project_domain_name">Project domain name</label></td>
                <td><input type="text" name="project_domain_name" value="{{cloud.project_domain_name}}" /></td></tr>
                <tr><td><label for="cloud_type">Cloud type</label></td>
                <td><input type="text" name="cloud_type" value="{{cloud.cloud_type}}" /></td></tr>
                <input type="hidden" name="action" value="add" />
                <tr><td><input type="submit" value="Add Cloud" /></td></tr>

                {% if response_code == 1 %}
                    <tr><td colspan=2; style="color:red";><b>Error: {{ message }}</b></td></tr>
                {% elif message is not None %}
                    <tr><td colspan=2; style="color:green";>{{ message }}</td></tr>
                {% endif %}
            </table>
        </form>
    </div>
</section>

{% for cloud in cloud_list.ResultProxy %}
<div id="delete-{{cloud.cloud_name}}" class="modalDialog">
    <div>
        <a href="#{{cloud.cloud_name}}" title="Close" class="close">X</a>
	<form name="{{cloud.cloud_name}}" action="/cloud/modify/" method="post">
            {% csrf_token %}
                <input type="hidden" name="cloud_name" value="{{cloud.cloud_name}}" />
                <input type="hidden" name="action" value="delete" />
                <input type="submit" value="Delete {{cloud.cloud_name}}" />
        </form>
    </div>
</div>
{% endfor %}

</body>

<script type="text/javascript">

function updateTotal(){

    {% for cloud in cloud_list.ResultProxy %}
    var {{cloud.cloud_name}} = document.getElementById('cores_switch_{{cloud.cloud_name}}');

    {% endfor %}
    var amount = 0;
    {% for cloud in cloud_list.ResultProxy %}
        amount += {{cloud.cloud_name}}.checked ? parseFloat(.getAttribute('data-price')) : -1;

    {% endfor %}
}​

</script>
