<html>
  <head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
  <link rel="stylesheet" type="text/css" href="{% static "csv2/filters.css" %}?{{version}}">
  </head>

<script type="text/javascript">

var families_list = {{families_list|safe}}
var os_list = {{os_list|safe}}
var manu_list = {{manu_list|safe}}

var cores_list = {{cores_list|safe}}.map(String)

var proc_list = {{proc_list|safe}}
var ec2_filters = {{ec2_instance_type_filters_json|safe}}

//Spit the filter strings into arrays:
if(ec2_filters[0].families){
  var families_filter = ec2_filters[0].families.split(",")
}
else{
  var families_filter = []
}

if(ec2_filters[0].operating_systems){
  var os_filter = ec2_filters[0].operating_systems.split(",")
}
else{
  var os_filter = []
}

if(ec2_filters[0].processors){
  var proc_filter = ec2_filters[0].processors.split(",")
}
else{
  var proc_filter = []
}

if(ec2_filters[0].processor_manufacturers){
  var manu_filter = ec2_filters[0].processor_manufacturers.split(",")
}
else{
  var manu_filter = [] 
}

if(ec2_filters[0].cores){
  var cores_filter = ec2_filters[0].cores.split(",")
}
else{
  var cores_filter = []
}


//var mem_min_filter = ec2_filters[0].memory_min_gigabytes_per_core.split(",")
//var mem_max_filter = ec2_filters[0].memory_max_gigabytes_per_core.split(",")


function checkBoxes(target, target_list, target_filter){

  var i
  var id
  var filter_string

  filter_string = ""
  for (i = 0; i < target_filter.length; i++){
    if(target_list.includes(target_filter[i])){
      id = target+"-"+target_filter[i];
      document.getElementById(id).checked = true;
    }
    if(i>0){filter_string += ","}
    filter_string += target_filter[i]
  }
  document.getElementById(target+"_string").value = filter_string
}



function checkSelected(){

  checkBoxes("families", families_list, families_filter);
  checkBoxes("os", os_list, os_filter);
  checkBoxes("manu", manu_list, manu_filter);
  checkBoxes("cores", cores_list, cores_filter);
  checkBoxes("proc", proc_list, proc_filter);
}



function updateFilter(target){

  var i
  var filter_string


  if(target=="os"){var targ_list = os_list}
  else if(target=="families"){var targ_list = families_list}
  else if(target=="manu"){var targ_list = manu_list}
  else if(target=="cores"){var targ_list = cores_list}
  else if(target=="proc"){var targ_list = proc_list}
  else{
    console.log("Invalid target: "+target)
    return
  }
  
  targ_filter = document.getElementById(target+"_string").value.split(",")


  //Remove empty entries:
  if(targ_filter.includes("")){
    var index = targ_filter.indexOf("");
    if (index > -1) {
      targ_filter.splice(index, 1);
    }
  }

  //Loop through the checkboxes and add or remove filter array elements:
  for (i = 0; i < targ_list.length; i++){

    var id = target+"-"+targ_list[i];
    if(document.getElementById(id).checked){
      if(!targ_filter.includes(targ_list[i])){
        targ_filter.push(targ_list[i])
      }
    }
    else{
      if(targ_filter.includes(targ_list[i])){

        var index = targ_filter.indexOf(targ_list[i]);
        if (index > -1) {
          targ_filter.splice(index, 1);
        }
      }
    }
  }


  //Construct the filter string for text box
  filter_string = ""
  for (i = 0; i < targ_filter.length; i++){
    if(targ_list.includes(targ_filter[i])){
      var id = target+"-"+targ_filter[i];
      document.getElementById(id).checked = true;
    }
    if(i>0){filter_string += ","}
    filter_string += targ_filter[i].toString()
  }


  document.getElementById(target+"_string").value = filter_string

}

// To sort by clicking the headers
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("filterTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>

<body onpageshow="checkSelected();">

  <form name="ec2_filters" action="/ec2/instance-types/" method="post">
    {% csrf_token %}
    <input type="hidden" name="group" value="{{ ec2_instance_type_filters.0.group_name }}">
    <input type="hidden" name="cloud_name" value="{{ ec2_instance_type_filters.0.cloud_name }}" />



    <nav role="navigation">
      <ul>

        <li><br><input type="submit" value="Update filter" />
        </li>

        <li><a href="#">Processor Families</a><br>
          <input class="text-field" type="text" name="families" id="families_string" value="" />
          <ul class="dropdown" aria-label="submenu">
            {% for family in families %}
              <li><input type="checkbox" id="families-{{family.instance_family}}" value="" onchange='updateFilter("families")'/>{{ family.instance_family }}</li>
            {% endfor %}
          </ul>
        </li>

        <li><a href="#">Operating Systems</a><br>
          <input class="text-field" type="text" name="operating_systems" id="os_string" value="" />
          <ul class="dropdown" aria-label="submenu">
            {% for os in operating_systems %}
              <li><input type="checkbox" id="os-{{os.operating_system}}" value="" onchange='updateFilter("os")'/>{{os.operating_system}}</li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="#">Processors</a><br>
          <input class="text-field" type="text" name="processors" id="proc_string" value="" />
          <ul class="dropdown" aria-label="submenu">
            {% for proc in  processors %}
              <li><input type="checkbox" id="proc-{{proc.processor}}" onchange='updateFilter("proc")'/>{{proc.processor}}</li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="#">Manufacturers</a><br>
          <input class="text-field" type="text" name="processor_manufacturers" id="manu_string" value="" />
          <ul class="dropdown" aria-label="submenu">
            {% for manu in manufacturers %}
              <li><input type="checkbox" id="manu-{{manu.processor_manufacturer}}" onchange='updateFilter("manu")'/>{{manu.processor_manufacturer}}</li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="#">Cores</a><br>
          <input class="text-field" type="text" name="cores" id="cores_string" value="" />
          <ul class="dropdown" aria-label="submenu">
            {% for core in cores %}
              <li><input type="checkbox" id="cores-{{core.cores}}" onchange='updateFilter("cores")'/>{{core.cores}}</li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="#">Min RAM (GB)</a><br>
          <input class="num-field" type="number" name="memory_min_gigabytes_per_core" id="mem_min_string" value="{{ec2_instance_type_filters.0.memory_min_gigabytes_per_core}}" />
        </li>
        <li><a href="#">Max RAM (GB)</a><br>
          <input class="num-field" type="number" name="memory_max_gigabytes_per_core" id="mem_max_string" value="{{ec2_instance_type_filters.0.memory_max_gigabytes_per_core}}" />
        </li>



      </ul>
    </nav>

  </form>

  <br>

  <div class="vm-table" id="filterTable">
    <table>
        <tr>
          <th onclick="sortTable(0)">Type &#8597;</th>
          <th onclick="sortTable(1)">OS &#8597;</th>
          <th onclick="sortTable(2)">Family &#8597;</th>
          <th onclick="sortTable(3)">Processor &#8597;</th>
          <th onclick="sortTable(4)">Cores &#8597;</th>
          <th onclick="sortTable(5)">RAM &#8597;</th>

        </tr>
      <!-- In order to get the y-scroll on the left, the order of the columns is inverted. -->


        {% for type in ec2_instance_types %}

            <tr>
            <td>{{type.instance_type}}</td>
            <td>{{type.operating_system}}</td>
            <td>{{type.instance_family}}</td>
            <td>{{type.processor}}</td>
            <td>{{type.cores}}</td>
            <td>{{type.memory}}</td>
          </tr>
        {% endfor %}

    </table>
  </div>

  <!-- Footer -->

  <div class="footer"
      {% if response_code == 1 %}
          <tr><td><b>Error: {{ message }}</b></td></tr>
      {% elif message is not None %}
          <tr><td>{{ message }}</td></tr>
      {% endif %}
  </div>

</body>
</html>
