<html>
  <head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
  <link rel="stylesheet" type="text/css" href="{% static "csv2/vms.css" %}?{{version}}">
  </head>

<script type="text/javascript">

var os_list = {{os_list|safe}}
var arch_list = {{arch_list|safe}}
var alias_list = {{alias_list|safe}}

var ec2_filters = {{ec2_image_filters_json|safe}}

var os_filter = ec2_filters[0].operating_systems.split(",")
var arch_filter = ec2_filters[0].architectures.split(",")
var alias_filter = ec2_filters[0].owner_aliases.split(",")


function checkSelected(){

  var i
  var id
  var filter_string

  filter_string = ""
  for (i = 0; i < os_filter.length; i++){
    if(os_list.includes(os_filter[i])){
      id = "os-"+os_filter[i];
      document.getElementById(id).checked = true;
    }
    if(i>0){filter_string += ","}
    filter_string += os_filter[i]
  }
  document.getElementById("os_string").value = filter_string


  filter_string = ""
  for (i = 0; i < arch_filter.length; i++){
    if(arch_list.includes(arch_filter[i])){
      id = "arch-"+arch_filter[i];
      document.getElementById(id).checked = true;
    }
    if(i>0){filter_string += ","}
    filter_string += arch_filter[i]
  }
  document.getElementById("arch_string").value = filter_string



  filter_string = ""
  for (i = 0; i < alias_filter.length; i++){
    if(alias_list.includes(alias_filter[i])){
      id = "alias-"+alias_filter[i];
      document.getElementById(id).checked = true;
    }
    if(i>0){filter_string += ","}
    filter_string += alias_filter[i]
  }
  document.getElementById("alias_string").value = filter_string
}



function updateFilter(target){

  var i
  var filter_string


  if(target=="os"){var targ_list = os_list}
  else if(target=="arch"){var targ_list = arch_list}
  else if(target=="alias"){var targ_list = alias_list}
  else{
    console.log("Invalid target: "+target)
    return
  }

  targ_filter = document.getElementById(target+"_string").value.split(",")


  //Remove empty entries:
  if(targ_filter.includes("")){
    var index = targ_filter.indexOf("");
    if (index > -1) {
      targ_filter.splice(index, 1);
    }
  }

  //Loop through the checkboxes and add or remove filter array elements:
  for (i = 0; i < targ_list.length; i++){

    var id = target+"-"+targ_list[i];
    if(document.getElementById(id).checked){
      if(!targ_filter.includes(targ_list[i])){
        targ_filter.push(targ_list[i])
      }
    }
    else{
      if(targ_filter.includes(targ_list[i])){

        var index = targ_filter.indexOf(targ_list[i]);
        if (index > -1) {
          targ_filter.splice(index, 1);
        }
      }
    }
  }


  //Construct the filter string for text box
  filter_string = ""
  for (i = 0; i < targ_filter.length; i++){
    if(targ_list.includes(targ_filter[i])){
      var id = target+"-"+targ_filter[i];
      document.getElementById(id).checked = true;
    }
    if(i>0){filter_string += ","}
    filter_string += targ_filter[i]
  }

  console.log(targ_filter)

  document.getElementById(target+"_string").value = filter_string

}



</script>

<body onpageshow="checkSelected();">

...{{message}}...


  <form name="ec2_filters" action="/ec2/images/" method="post">
    {% csrf_token %}
    <input type="hidden" name="group" value="{{ ec2_image_filters.0.group_name }}">
    <input type="hidden" name="cloud_name" value="{{ ec2_image_filters.0.cloud_name }}" />


    <div class="filter-div">

      <table>
        <tr class="title-row">

        {% for os in operating_systems %}
          <th>{{ os.operating_system }}</th>
        {% endfor %}

        <th>OS filter string</th>

        </tr>
        <tr class="box-row">


        {% for os in operating_systems %}
          <td><input type="checkbox" id="os-{{os.operating_system}}" value="" onchange='updateFilter("os")'/></td>
        {% endfor %}

          <td><input type="text" name="operating_systems" id="os_string" value="" /></td>
        </tr>
      </table>


      <table>
        <tr class="title-row">
        
        {% for arch in architectures %}
          <th>{{ arch.architecture }}</th>
        {% endfor %}

        <th>Arch filter string</th>

        </tr>
        <tr class="box-row">

        {% for arch in architectures %}
          <td><input type="checkbox" id="arch-{{arch.architecture}}" onchange='updateFilter("arch")'/></td>
        {% endfor %}
          <td><input type="text" name="architectures" id="arch_string" value="" /></td>
        </tr>
      </table>


      <table>
        <tr class="title-row">
        
        {% for alias in owner_aliases %}

          <th>{{ alias.alias }}</th>
        {% endfor %}

        <th>Alias filter string</th>
        </tr>
        <tr class="box-row">
        {% for alias in owner_aliases %}
          <td><input type="checkbox" id="alias-{{alias.alias}}" value="" onchange='updateFilter("alias")'/></td>
        {% endfor %}
          <td><input type="text" name="owner_aliases" id="alias_string" value="" /></td>
        </tr>
      </table>

      <table>
        <tr class="highlight3"><td><label for="like">Like</label></td>
        <td><input type="text" name="like"  value="{{ec2_image_filters.0.like}}" /></td></tr>

        <tr class="highlight3"><td><label for="not_like">Not like</label></td>
        <td><input type="text" name="not_like"  value="{{ec2_image_filters.0.not_like}}" /></td></tr>

        <tr class="highlight3"><td><label for="owner_ids">Owner IDs</label></td>
        <td><input type="text" name="owner_ids"  value="{{ec2_image_filters.0.owner_ids}}" /></td></tr>


        <tr><td><input type="submit" value="Update filter" /></td><td></td></tr> 
      </table>
    </div>


  </form>



    <div class="vm-div">


      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="group" value="{{ active_group }}">

      <div class=vm-table>
        <table id="vmsTable">
            <tr>
              <th><input type="checkbox" id="select-all" onchange="selectAll();"/></th>
              <th onclick="sortTable(1)">Image Location &#8597;</th>

              <th onclick="sortTable(2)">ID &#8597;</th>

            </tr>
          <!-- In order to get the y-scroll on the left, the order of the columns is inverted. -->


            {% for image in ec2_images %}

                <tr>
                <td><input type="checkbox" name="images.{{ forloop.counter }}" value={{image.name}}></td>
                <td>{{image.image_location}}</td>
                <td>{{image.id}}</td>

              </tr>
            {% endfor %}

        </table>
      </div>
    </form>
  </div>
  <!-- Footer -->

  <div class="footer"
      {% if response_code == 1 %}
          <tr><td><b>Error: {{ message }}</b></td></tr>
      {% elif message is not None %}
          <tr><td>{{ message }}</td></tr>
      {% endif %}
  </div>

</body>
</html>
