<html>
  <head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
  <link rel="stylesheet" type="text/css" href="{% static "csv2/vms.css" %}?{{version}}">
  </head>

<script type="text/javascript">

var families_list = {{families_list|safe}}
var os_list = {{os_list|safe}}
var manu_list = {{manu_list|safe}}
var cores_list = {{cores_list|safe}}
var proc_list = {{proc_list|safe}}

var ec2_filters = {{ec2_instance_type_filters_json|safe}}

if(ec2_filters[0].families){
  var families_filter = ec2_filters[0].families.split(",")
}
else{
  var families_filter = []
}

if(ec2_filters[0].operating_systems){
  var os_filter = ec2_filters[0].operating_systems.split(",")
}
else{
  var os_filter = []
}

if(ec2_filters[0].processors){
  var proc_filter = ec2_filters[0].processors.split(",")
}
else{
  var proc_filter = []
}

if(ec2_filters[0].processor_manufacturers){
  var manu_filter = ec2_filters[0].processor_manufacturers.split(",")
}
else{
  var manu_filter = [] 
}


if(ec2_filters[0].cores){
  var cores_filter = ec2_filters[0].cores.split(",")
}
else{
  var cores_filter = []
}


//var mem_min_filter = ec2_filters[0].memory_min_gigabytes_per_core.split(",")
//var mem_max_filter = ec2_filters[0].memory_max_gigabytes_per_core.split(",")

console.log(manu_filter)

function checkBoxes(target, target_list, target_filter){

  var i
  var id
  var filter_string

  console.log(target_filter.length)

  filter_string = ""
  for (i = 0; i < target_filter.length; i++){
    if(target_list.includes(target_filter[i])){
      id = target+"-"+target_filter[i];
      document.getElementById(id).checked = true;
    }
    if(i>0){filter_string += ","}
    filter_string += target_filter[i]
  }
  document.getElementById(target+"_string").value = filter_string

  console.log(id)
}



function checkSelected(){

  checkBoxes("families", families_list, families_filter);
  checkBoxes("os", os_list, os_filter);
  checkBoxes("manu", manu_list, manu_filter);
  checkBoxes("cores", cores_list, cores_filter);
  checkBoxes("proc", proc_list, proc_filter);
}



function updateFilter(target){

  var i
  var filter_string


  if(target=="os"){var targ_list = os_list}
  else if(target=="families"){var targ_list = families_list}
  else if(target=="manu"){var targ_list = manu_list}
  else if(target=="cores"){var targ_list = cores_list}
  else if(target=="proc"){var targ_list = proc_list}
  else{
    console.log("Invalid target: "+target)
    return
  }

  console.log(document.getElementById(target+"_string").value)
  
  targ_filter = document.getElementById(target+"_string").value.split(",")


  //Remove empty entries:
  if(targ_filter.includes("")){
    var index = targ_filter.indexOf("");
    if (index > -1) {
      targ_filter.splice(index, 1);
    }
  }

  //Loop through the checkboxes and add or remove filter array elements:
  for (i = 0; i < targ_list.length; i++){

    var id = target+"-"+targ_list[i];
    if(document.getElementById(id).checked){
      if(!targ_filter.includes(targ_list[i])){
        targ_filter.push(targ_list[i])
      }
    }
    else{
      if(targ_filter.includes(targ_list[i])){

        var index = targ_filter.indexOf(targ_list[i]);
        if (index > -1) {
          targ_filter.splice(index, 1);
        }
      }
    }
  }


  //Construct the filter string for text box
  filter_string = ""
  for (i = 0; i < targ_filter.length; i++){
    if(targ_list.includes(targ_filter[i])){
      var id = target+"-"+targ_filter[i];
      document.getElementById(id).checked = true;
    }
    if(i>0){filter_string += ","}
    filter_string += targ_filter[i]
  }

  console.log(targ_filter)

  document.getElementById(target+"_string").value = filter_string

}



</script>

<body onpageshow="checkSelected();">

  <form name="ec2_filters" action="/ec2/instance-types/" method="post">
    {% csrf_token %}
    <input type="hidden" name="group" value="{{ ec2_instance_type_filters.0.group_name }}">
    <input type="hidden" name="cloud_name" value="{{ ec2_instance_type_filters.0.cloud_name }}" />


    <div class="filter-div">


      <table>
        <tr class="title-row">
          <th>Processor Families</th>

        {% for family in families %}
          <th>{{ family.instance_family }}</th>
        {% endfor %}
        </tr>
        <tr class="box-row">
          <td><input type="text" name="families" id="families_string" value="" /></td>

        {% for family in families %}
          <td><input type="checkbox" id="families-{{family.instance_family}}" value="" onchange='updateFilter("families")'/></td>
        {% endfor %}
        </tr>
      </table>


      <table>
        <tr class="title-row">
          <th>Operating Systems</th>

        {% for os in operating_systems %}
          <th>{{ os.operating_system }}</th>
        {% endfor %}
        </tr>
        <tr class="box-row">
          <td><input type="text" name="operating_systems" id="os_string" value="" /></td>

        {% for os in operating_systems %}
          <td><input type="checkbox" id="os-{{os.operating_system}}" value="" onchange='updateFilter("os")'/></td>
        {% endfor %}
        </tr>
      </table>


      <table>
        <tr class="title-row">
          <th>Processors</th>

        {% for proc in  processors%}
          <th>{{ proc.processor }}</th>
        {% endfor %}
        </tr>
        <tr class="box-row">
          <td><input type="text" name="processors" id="proc_string" value="" /></td>

        {% for proc in  processors %}
          <td><input type="checkbox" id="proc-{{proc.processor}}" onchange='updateFilter("proc")'/></td>
        {% endfor %}
        </tr>
      </table>


      <table>
        <tr class="title-row">
          <th>Manufacturers</th>
        {% for manu in manufacturers %}
          <th>{{ manu.processor_manufacturer }}</th>
        {% endfor %}
        </tr>
        <tr class="box-row">
          <td><input type="text" name="processor_manufacturers" id="manu_string" value="" /></td>

        {% for manu in manufacturers %}
          <td><input type="checkbox" id="manu-{{manu.processor_manufacturer}}" onchange='updateFilter("manu")'/></td>
        {% endfor %}
        </tr>
      </table>


      <table>
        <tr class="title-row">
          <th>Cores</th>

        {% for core in cores %}
          <th>{{ core.cores }}</th>
        {% endfor %}
        </tr>
        <tr class="box-row">
          <td><input type="text" name="cores" id="cores_string" value="" /></td>

        {% for core in cores %}
          <td><input type="checkbox" id="cores-{{core.cores}}" onchange='updateFilter("cores")'/></td>
        {% endfor %}
        </tr>
      </table>


      <input type="submit" value="Update filter" />

     

  </form>



    <div class="vm-div">


      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="group" value="{{ active_group }}">

      <div class=vm-table>
        <table id="vmsTable">
            <tr>
              <th><input type="checkbox" id="select-all" onchange="selectAll();"/></th>
              <th onclick="sortTable(1)">Type &#8597;</th>
              <th onclick="sortTable(2)">OS &#8597;</th>
              <th onclick="sortTable(3)">Family &#8597;</th>
              <th onclick="sortTable(4)">Processor &#8597;</th>
              <th onclick="sortTable(5)">Cores &#8597;</th>
              <th onclick="sortTable(6)">RAM &#8597;</th>

            </tr>
          <!-- In order to get the y-scroll on the left, the order of the columns is inverted. -->


            {% for type in ec2_instance_types %}

                <tr>
                <td><input type="checkbox" name="type.{{ forloop.counter }}" value=""></td>
                <td>{{type.instance_type}}</td>
                <td>{{type.operating_system}}</td>
                <td>{{type.instance_family}}</td>
                <td>{{type.processor}}</td>
                <td>{{type.cores}}</td>
                <td>{{type.memory}}</td>
              </tr>
            {% endfor %}

        </table>
      </div>
    </form>
  </div>
  <!-- Footer -->

  <div class="footer"
      {% if response_code == 1 %}
          <tr><td><b>Error: {{ message }}</b></td></tr>
      {% elif message is not None %}
          <tr><td>{{ message }}</td></tr>
      {% endif %}
  </div>

</body>
</html>
