<html>
  <head>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
  <link rel="stylesheet" type="text/css" href="{% static "csv2/vms.css" %}?{{version}}">

  <!-- <meta http-equiv="refresh" content="30"> -->
  </head>


  <body>


      <div class="filter-div">

        <table>
          <tr class="title-row">

          {% for os in operating_systems %}
            <th>{{ os.operating_system }}</th>
          {% endfor %}

          </tr>
          <tr class="box-row">

          {% for os in operating_systems %}
            <td><input type="checkbox" value="{{ os.operating_system }}" onchange="updateList('{{ os.operating_system }}', 4);" checked/></td>
          {% endfor %}

          </tr>
        </table>


        <table>
          <tr class="title-row">
          
          {% for arch in architectures %}
            <th>{{ arch.architecture }}</th>
          {% endfor %}

          </tr>
          <tr class="box-row">

          {% for arch in architectures %}
            <td><input type="checkbox" onchange="updateList('{{ arch.architecture }}', 4);" checked/></td>
          {% endfor %}

          </tr>
        </table>


        <table>
          <tr class="title-row">
          
          {% for alias in owner_aliases %}

            <th>{{ alias.alias }}</th>
          {% endfor %}

          </tr>
          <tr class="box-row">
          {% for alias in owner_aliases %}
            <td><input type="checkbox" onchange="updateList('{{ alias.alias }}', 1);" checked/></td>
          {% endfor %}

          </tr>
        </table>





      </div>






      <div class="vm-div">


        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="group" value="{{ active_group }}">
  
        <div class=vm-table>
          <table id="vmsTable">
              <tr>
                <th><input type="checkbox" id="select-all" onchange="selectAll();"/></th>
                <th onclick="sortTable(1)">Image Location &#8597;</th>

                <th onclick="sortTable(2)">ID &#8597;</th>

              </tr>
            <!-- In order to get the y-scroll on the left, the order of the columns is inverted. -->


              {% for image in ec2_images %}

                  <tr>
                  <td><input type="checkbox" name="images.{{ forloop.counter }}" value={{image.name}}></td>
                  <td>{{image.image_location}}</td>
                  <td>{{image.id}}</td>

                </tr>
              {% endfor %}

          </table>
        </div>
      </form>
    </div>
    <!-- Footer -->

    <div class="footer"
        {% if response_code == 1 %}
            <tr><td><b>Error: {{ message }}</b></td></tr>
        {% elif message is not None %}
            <tr><td>{{ message }}</td></tr>
        {% endif %}
    </div>

  </body>
</html>
