
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/metadata.css" %}">

    <title>{{ metadata_name }}</title>


</head>

<body class="meta-fetch">






    <form name="{{ cloud_name }}-{{ metadata_name }}" action="/cloud/meta-update/" method="post">
    {% csrf_token %}
    
        <input type="hidden" name="group_name" value="{{ group_name }}">
        <input type="hidden" name="cloud_name" value="{{ cloud_name }}">
        <input type="hidden" name="metadata_name" value="{{ metadata_name }}">


        <div id="editor">
        <input type="submit" value="Update">

        <textarea name="metadata">{{ metadata }}</textarea></div>


        

    </form>


    

    <script type="text/javascript" src="{% static "ace-builds/src-noconflict/ace.js" %}"></script>
    <script>


        // find the textarea
        var textarea = document.querySelector("form textarea[name=metadata]");

        // create ace editor 
        var editor = ace.edit()
        editor.container.style.height = "95%"
        editor.session.setValue(textarea.value)
        editor.setTheme("ace/theme/dracula");
        editor.getSession().setMode("ace/mode/yaml");

        // replace textarea with ace
        textarea.parentNode.insertBefore(editor.container, textarea)
        textarea.style.display = "none"
        // find the parent form and add submit event listener
        var form = textarea
        while (form && form.localName != "form") form = form.parentNode
        form.addEventListener("submit", function() {
            // update value of textarea to match value in ace
            textarea.value = editor.getValue()
        }, true)


    </script>

</body>
