
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/editor.css" %}">
    <title>{{ metadata_name }}</title>

    <script rel="preload" type="text/javascript" src="{% static "ace-builds/src-noconflict/ace.js" %}"></script>
</head>

<body class="metadata-fetch">

    <form name="{{ cloud_name }}-{{ metadata_name }}" action="/cloud/metadata-update/" method="post">
    {% csrf_token %}
    
        <input type="hidden" name="group_name" value="{{ group_name }}">
        <input type="hidden" name="cloud_name" value="{{ cloud_name }}">
        <input type="hidden" name="metadata_name" value="{{ metadata_name }}">
        
        <span class="editor-bar">
            <input type="submit" id="update" value="Update">
            <h3 id="metadata-name">{{ metadata_name }}</h3>
            <input type="submit" id="delete" value="Delete">
        </span>
        <!--<nav class="editor-bar">
            <ul>
                <li><input type="submit" id="update" value="Update"></li>
                <li><h3 id="metadata-name">{{ metadata_name }}</h3></li>
                <li><input type="submit" id="delete" value="Delete"></li>
            </ul>
        </nav>-->
        <br>
        <textarea name="metadata" id="meta-editor">{{ metadata }}</textarea>

    </form>


    <div class="editor-footer" id="message">
        {% if response_code == 1 %}
            <tr><td><b>Error: {{ message }}</b></td></tr>
        {% elif message is not None %}
            <tr><td>{{ message }}</td></tr>
        {% endif %}
    </div>

    <script rel="preload" type="text/javascript" src="{% static "csv2/editor.js" %}"></script>

    <script type="text/javascript">
        createEditor("meta-editor")
    </script>

</body>
