<html>
	<head>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
	<link rel="stylesheet" type="text/css" href="{% static "csv2/vms.css" %}?{{version}}">

	</head>


	<body>
		{% if global_view == "1" %}
			<h2>Resources unavailable to all cloudscheduler groups:</h2>
                {% elif global_view == "2" %}
                        <h2>Resources unavailable to group=<i>{{foreign_list.0.group_name}}</i>:</h2>
		{% else %}
			<h2>Resources unavailable to group=<i>{{foreign_list.0.group_name}}</i>, cloud=<i>{{foreign_list.0.cloud_name}}</i>:</h2>
		{% endif %}

		<div class=vm-table>
			<table>
				<tr class="title-row">

					<th>VMs</th>
					<th>Cores</th>
					<th>RAM</th>
					<th>Flavor name</th>
				</tr>

				{% for vm in foreign_list %}


				<tr>

					<td>{{vm.count}}</td>
					<td>{{vm.cores}}</td>
					<td>{{vm.ram}}</td>
					<td>{{vm.name}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

	</body>
</html>
