
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
    {% load template_utils %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/menu.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/overlay.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/groups.css" %}?{{version}}">

    <script type="text/javascript" src="{% static "csv2/common.js" %}?{{version}}"></script>

    <script type="text/javascript">

        function save_location(group){
            sessionStorage.setItem("group", group);
        }

        function new_location(){ 
            sessionStorage.setItem("group", document.getElementById("new_group").value);
        }

        function set_location(){
            if(sessionStorage.getItem("group")){
                document.location.hash = sessionStorage.getItem("group");
            }
            else{
                document.location.hash = "{{group_list.0.group_name}}"
            }
        }

    </script>
</head>

<body class="groups-nav" onpageshow="set_location()">
{% spaceless %}

<!--https://www.w3.org/Style/Examples/007/target.en.html#tab1-->
<div class="main-div {% if is_superuser %}super-main-div{% endif %}">
    <div class="menu">
        {% for group in group_list %}
        
            <div id="{{group.group_name}}" style="padding-top: 60px;margin-top: -60px;"> 

                <div class="menu2-div">
                    <a href="#{{group.group_name}}" class="menu2-link" onclick="save_location('{{group.group_name}}')">{{group.group_name}}</a>

                    <a href="#delete-{{group.group_name}}" class="delete-link">&minus;</a>
                </div>



                <div class="menu-target menu-position">
                <form name="{{group.group_name}}" action="/group/update/" method="post">
                {% csrf_token %}
                
                

                    <input type="hidden" name="group_name" value="{{group.group_name}}" />
                    <table id="ul-users-{{group.group_name}}">
                        
                        <tr class="highlight2">
                            <td>
                                <label for="user_groups">Users</label>
                            </td>
                            <td>
                                <input id="search-users-{{ group.group_name }}" type="text" placeholder="Username search.." onkeyup="search('users-{{ group.group_name }}')">
                            </td>

                                {% for user in groups_per_user %}
                                    {{ user.group_name }}
                                    {% if group.group_name in user.user_groups %}
                                        <tr><td></td><td class="highlight2"><input type="checkbox" name="username.{{ forloop.counter }}" value="{{ user.username }}" checked/>{{ user.username }}</input></td></tr>
                                    {% else %}
                                         <tr><td></td><td class="highlight2"><input type="checkbox" name="username.{{ forloop.counter }}" value="{{ user.username }}" />{{user.username }}</input></td></tr>
                                    {% endif %}
                                {% endfor %}

                            </td>
                        </tr>
                        <!--https://www.w3schools.com/howto/howto_js_filter_lists.asp-->

                        <tr>
                            <td>
                                <input type="submit" value="Update Group" />
                            </td>

                            <td>
                            </td>

                        </tr>

                        
                        

                    </table>


                    
                </form>
                </div>
                
            </div>
        

        {% endfor %}


        <div id="add-group"> <a href="#add-group" class="menu-link add-link">&plus;</a>
            <div class="menu-target menu-position">
                <form name="add_group" action="/group/add/" method="post" onsubmit="new_location()">
                    {% csrf_token %}
                    <table id="ul-users-{{group.group_name}}">
                        <tr class="highlight1">
                            <td>
                                <label for="group_name">Group name</label>
                            </td>
                            <td>
                                <input type="text" name="group_name" id="new_group" value="" />
                            </td>
                        </tr>

                        <tr class="highlight2">
                            <td>
                                <label for="user_groups">Users</label>
                            </td>
                            <td>
                                <input id="search-users-{{ group.group_name }}" type="text" placeholder="Username search.." onkeyup="search('users-{{ group.group_name }}')">
                            </td>

                                {% for user in groups_per_user %}
                                    {{ user.group_name }}
                                    {% if group.group_name in user.user_groups %}
                                        <tr><td></td><td class="highlight2"><input type="checkbox" name="username.{{ forloop.counter }}" value="{{ user.username }}" checked/>{{ user.username }}</input></td></tr>
                                    {% else %}
                                         <tr><td></td><td class="highlight2"><input type="checkbox" name="username.{{ forloop.counter }}" value="{{ user.username }}" />{{user.username }}</input></td></tr>
                                    {% endif %}
                                {% endfor %}

                            </td>
                        </tr>




                        <tr>
                            <td>
                                <input type="submit" value="Add Group" />
                            </td>
                            <td>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </div>


    {% for group in group_list %}
    <div id="delete-{{group.group_name}}" class="modalDialog">
        <div>
            <a href="#{{group.group_name}}" title="Close" class="close">X</a>
            <form name="{{group.group_name}}" action="/group/delete/" method="post">
                {% csrf_token %}
                <input type="hidden" name="group_name" id="" value="{{group.group_name}}" />
                <input type="submit" value="Delete {{group.group_name}}" />
            </form>
        </div>
    </div>
    {% endfor %}

</div>

<div class="footer"
    {% if response_code == 1 %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% elif message is not None %}
        <tr><td>{{ message }}</td></tr>
    {% endif %}
</div>



{% endspaceless %}
</body>
