{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
    {% load template_utils %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/menu.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/tabs.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/overlay.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/editor.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/groups.css" %}?{{version}}">

    <script type="text/javascript" src="{% static "csv2/common.js" %}"></script>
    <script rel="preload" type="text/javascript" src="{% static "csv2/editor.js" %}?{{version}}"></script>
    <script rel="preload" type="text/javascript" src="{% static "ace-builds/src-noconflict/ace.js" %}?{{version}}"></script>
    
    <script type="text/javascript">

        var visited = {};

        function get_message() {
            if (sessionStorage.getItem("message")){
                document.getElementById("message").innerHTML = sessionStorage.getItem("message");
            }
            sessionStorage.removeItem("message");
        }
        function clear_message() {
            sessionStorage.removeItem("rc");
            sessionStorage.removeItem("message");
            localStorage.removeItem("rc");
            localStorage.removeItem("message");
            if (document.getElementById("message").innerHTML !== "") document.getElementById("message").innerHTML = "";
        }

        function meta_fetch(groupname , metaname) {
            hide_meta_checksum();

            var url='/group/metadata-fetch?{{active_group}}&metadata_name='+metaname;
            var frame='editor-'+groupname+'-'+metaname;

            if (!visited[frame]){
                document.getElementById(frame).src=url;
                visited[frame]=1;
            }
        }

        function meta_add() {
            hide_meta_checksum();

            var url='/group/metadata-new?{{active_group}}';
            var frame='editor-add';

            document.getElementById(frame).src=url;
        }

        function check_target(targetname) {

            var frame=targetname;
            
            document.getElementById(frame).checked = true;
        }

        function save_location(tab){
            sessionStorage.setItem("defaults_tab", tab);
        }

        function set_location(){
            document.location.hash = "defaults";

            if(sessionStorage.getItem("defaults_tab")){
                tab = "defaults-" + sessionStorage.getItem("defaults_tab");
                document.getElementById(tab).checked = true;
            }
            else{
                document.getElementById("defaults-settings").checked = true;
            }
        }
    </script>

</head>

<body class="defaults-nav" onpageshow="get_message(); set_location()">
{% spaceless %}
<!--https://www.w3.org/Style/Examples/007/target.en.html#tab1-->
<div class="main-div {% if is_superuser %}super-main-div{% endif %}">
    <div class="menu">

    {% for group in defaults_list %}

        <!--https://codepen.io/nathanlong/pen/mBrvn-->
        
        <div id="defaults"> <a href="#defaults" class="menu-link">{{group.group_name}}</a>
            
            <div class="menu-target">

                <div class="tab">
                    <input id="defaults-settings" type="radio" name="tabs" onclick="save_location('settings'); check_target('defaults-hide')" checked>
                    <label class="tab-colour" for="defaults-settings">Settings</label>
                    <div class="tab-content">

                        <form name="{{group.group_name}}" action="/group/defaults/" method="post">
                        {% csrf_token %}
                        
                        

                            <input type="hidden" name="group" value="{{group.group_name}}" />
                            <table>



                                <tr class="highlight3"><td><label for="htcondor_fqdn">HTCondor FQDN</label></td>
                                <td><input type="text" name="htcondor_fqdn" value="{{group.htcondor_fqdn}}" /></td></tr>


                                <tr class="highlight3"><td><label for="htcondor_container_hostname">HTCondor container hostname</label></td>
                                <td><input type="text" name="htcondor_container_hostname" value="{{group.htcondor_container_hostname}}" /></td></tr>

                                <tr class="highlight3"><td><label for="htcondor_other_submitters">HTCondor other submitters</label></td>
                                <td><input type="text" name="htcondor_other_submitters" value="{{group.htcondor_other_submitters}}" /></td></tr>


                                <tr class="highlight3"><td><label for="job_cpus">Job CPUs</label></td>
                                <td><input type="text" name="job_cpus" value="{{group.job_cpus}}" /></td></tr>

                                <tr class="highlight3"><td><label for="job_ram">Job RAM</label></td>
                                <td><input type="text" name="job_ram" value="{{group.job_ram}}" /></td></tr>


                                <tr class="highlight3"><td><label for="job_disk">Job Disk</label></td>
                                <td><input type="text" name="job_disk" value="{{group.job_disk}}" /></td></tr>

                                <!--<tr class="highlight3"><td><label for="job_scratch">Job Scratch</label></td>
                                <td><input type="text" name="job_scratch" value="{{group.job_scratch}}" /></td></tr>-->

                                <tr class="highlight3"><td><label for="job_swap">Job Swap</label></td>
                                <td><input type="text" name="job_swap" value="{{group.job_swap}}" /></td></tr>

                                <tr class="highlight3"><td><label for="vm_keyname">VM Keyname</label></td>
                                <td><select name="vm_keyname" class="dropdown"/>
                                <option value="">Auto detect</option>
                                {% for key in keypairs_list %}
                                    {% if key == group.vm_keyname %}
                                        <option value="{{ key }}" selected>{{ key }}</option>
                                    {% else %}
                                        <option value="{{ key }}">{{ key }}</option>
                                    {% endif %}
                                {% endfor %}


                                <tr class="highlight3"><td><label for="vm_image">VM Image</label></td>
                                <td><select name="vm_image" class="dropdown"/>
                                <option value="">Auto detect</option>
                                {% for image in image_list %}
                                    {% if image == group.vm_image %}
                                        <option value="{{ image }}" selected>{{ image }}</option>
                                    {% else %}
                                        <option value="{{ image }}">{{ image }}</option>
                                    {% endif %}
                                {% endfor %}

                                <tr class="highlight3"><td><label for="vm_flavor">VM Flavor</label></td>
                                <td><select name="vm_flavor" class="dropdown"/>
                                <option value="">Auto detect</option>
                                {% for flavor in flavor_list %}
                                    {% if flavor == group.vm_flavor %}
                                        <option value="{{ flavor }}" selected>{{ flavor }}</option>
                                    {% else %}
                                        <option value="{{ flavor }}">{{ flavor }}</option>
                                    {% endif %}
                                {% endfor %}

                                <tr class="highlight3"><td><label for="vm_network">VM Network</label></td>
                                <td><select name="vm_network" class="dropdown"/>
                                <option value="">Auto detect</option>
                                {% for network in network_list %}
                                    {% if network == group.vm_network %}
                                        <option value="{{ network }}" selected>{{ network }}</option>
                                    {% else %}
                                        <option value="{{ network }}">{{ network }}</option>
                                    {% endif %}
                                {% endfor %}


                                <tr class="highlight3"><td><label for="vm_keep_alive">VM Keep Alive</label></td>
                                <td><input type="text" name="vm_keep_alive" value="{{group.vm_keep_alive}}" /></td></tr>

                                <tr class="highlight3"><td><label for="authurl">Visible to Public</label></td>
                                <td>
                                        <input type="hidden" name="public_visibility" value="0">
                                    {% if group.public_visibility == 1 %}
                                        <input type="checkbox" name="public_visibility" value="1" checked/>
                                    {% else %}
                                        <input type="checkbox" name="public_visibility" value="1" />
                                    {% endif %}
                                </td></tr>
                                
                                <tr>
                                    <td>
                                        <input type="submit" value="Update Group" />
                                    </td>
                                </tr>



                            </table>
                            
                        </form>

                        <div class="tab2">
                            <input id="defaults-hide" type="radio" name="tabs2">
                            <div class="tab2-hide"></div>
                        </div>


                    </div>
                </div>

                <div class="tab">
                    <input id="defaults-metadata" type="radio" name="tabs" onclick="save_location('metadata'); check_target('defaults-hide')">
                    <label class="tab-colour" for="defaults-metadata" onclick="show_meta_checksum()">Metadata</label>
                    <div class="tab-content meta-div show-checksum" id="meta-list-tab">


                        {% for key, value in metadata_dict.items %}
                            {% if key == group.group_name %}

                                {% if value|length > 0%}

                                    {% for meta, meta_value in value.items %}

                                        <div style="display: flex">
                                            <div class="tab2 checksum-label">
                                                <input id="metadata-{{meta}}" type="radio" name="tabs2" onclick="meta_fetch('{{group.group_name}}', '{{meta}}')">
                                                <label class="tab2-colour{% if not meta_value.metadata_enabled %} disabled-style{% endif %}" for="metadata-{{meta}}">{{meta}}</label>
                                                <div class="tab2-content">
                                                    <iframe id="editor-{{group.group_name}}-{{meta}}" class="iframe-content" src=""></iframe>
                                                </div>
                                            </div>
                                            {% if meta_value.metadata_checksum %}
                                                <label class="checksum-text" style="display: inline">MD5 Checksum: {{meta_value.metadata_checksum}}</label>
                                            {% endif %}
                                        </div>


                                    {% endfor %}


                                {% endif %}

                            {% endif %}


                        {% endfor %}


                        <div class="tab2 checksum-label">
                            <input id="metadata-add" type="radio" name="tabs2" onclick="meta_add()">
                            <label class="tab2-colour" for="metadata-add">+</label>
                            <div class="tab2-content">

                                <iframe id="editor-add"  src=""></iframe>

                            </div>

                        </div>

                        <div class="tab2">
                            <input id="defaults-hide" type="radio" name="tabs2">
                            <div class="tab2-hide"></div>
                        </div>

                    </div>


                </div>


            </div>
            
        </div>
        
    {% endfor %}
        
    </div>

</div>

<div class="footer" id="message" onclick="clear_message()">
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% else %}
        <tr><td>{{ message }}</td></tr>
    {% endif %}
    {% endfor %}
</div>

{% endspaceless %}
</body>

