
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
    {% load template_utils %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/groups.css" %}">

    <script type="text/javascript" src="{% static "csv2/common.js" %}"></script>



</head>

<body class="groups-nav" onpageshow="show_group('{{current_group}}')">
<!--https://www.w3.org/Style/Examples/007/target.en.html#tab1-->
<div class="main-div">
    <div class="menu">
        {% for group in group_list %}
        
            <!--https://codepen.io/nathanlong/pen/mBrvn-->
            
            <div id="{{group.group_name}}"> <a href="#{{group.group_name}}" class="menu-link">{{group.group_name}}</a>
                <div class="menu-target">
                <form name="{{group.group_name}}" action="/group/update/" method="post">
                {% csrf_token %}
                
                

                    <input type="hidden" name="group_name" value="{{group.group_name}}" />
                    <table>
                        <tr class="highlight1">
                            <td>
                                <label for="condor_central_manager">Condor Central Manager</label>
                            </td>
                            <td>
                                <input type="text" name="condor_central_manager" id="" value="{{group.condor_central_manager}}" />
                            </td>
                        </tr>
                        

                        <tr class="highlight2">
                            <td>
                                <label for="user_groups">Users</label>
                            </td>
                            <td>
                                <input id="search-users-{{ group.group_name }}" type="text" placeholder="Username search.." onkeyup="search('users-{{ group.group_name }}')">

                                <div id="ul-users-{{group.group_name}}" class="user-list lists highlight2">
                                    
                                    <ul>
                                    {% for user in groups_per_user %}
                                        {{ user.group_name }}
                                        {% if group.group_name in user.user_groups %}
                                            <li><input type="checkbox" name="username.{{ forloop.counter }}" value="{{ user.username }}" checked/>{{ user.username }}</input></li>
                                        {% else %}
                                            <li><input type="checkbox" name="username.{{ forloop.counter }}" value="{{ user.username }}" />{{user.username }}</input></li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <!--https://www.w3schools.com/howto/howto_js_filter_lists.asp-->



                        <tr>
                            <td>
                                <input type="submit" value="Update Group" />
                            </td>

                            <td>
                                <a href="#delete-{{group.group_name}}"><button type="button">Delete</button></a>
                            </td>

                        </tr>

                        
                        

                    </table>


                    
                </form>
                </div>
                
            </div>
        

        {% endfor %}


        <div id="add-group"> <a href="#add-group" class="menu-link">+</a>
            <div class="menu-target">
                <form name="add_group" action="/group/add/" method="post">
                    {% csrf_token %}
                    <table>
                        <tr class="highlight1">
                            <td>
                                <label for="group_name">Group name</label>
                            </td>
                            <td>
                                <input type="text" name="group_name" id="" value="" />
                            </td>
                        </tr>

                        <tr class="highlight1">
                            <td>
                                <label for="condor_central_manager">Condor Central Manager</label>
                            </td>
                            <td>
                                <input type="text" name="condor_central_manager" id="" value="{{group.condor_central_manager}}" />
                            </td>
                        </tr>

                        <tr class="highlight2">
                            <td>
                                <label for="user_groups">Users</label>
                            </td>
                            <td>
                                <input id="search-users-{{ group.group_name }}" type="text" placeholder="Username search.." onkeyup="search('users-{{ group.group_name }}')">

                                <div id="ul-users-{{group.group_name}}" class="user-list lists highlight2">
                                    
                                    <ul>
                                    {% for user in groups_per_user %}
                                        {{ user.group_name }}
                                        {% if group.group_name in user.user_groups %}
                                            <li><input type="checkbox" name="username.{{ forloop.counter }}" value="{{ user.username }}" checked/>{{ user.username }}</input></li>
                                        {% else %}
                                            <li><input type="checkbox" name="username.{{ forloop.counter }}" value="{{ user.username }}" />{{user.username }}</input></li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="submit" value="Add Group" />
                            </td>
                            <td>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </div>


    {% for group in group_list %}
    <div id="delete-{{group.group_name}}" class="modalDialog">
        <div>
            <a href="#{{group.group_name}}" title="Close" class="close">X</a>
            <form name="{{group.group_name}}" action="/group/delete/" method="post">
                {% csrf_token %}
                <input type="hidden" name="group_name" id="" value="{{group.group_name}}" />
                <input type="submit" value="Delete {{group.group_name}}" />
            </form>
        </div>
    </div>
    {% endfor %}

</div>

<div class="footer"
    {% if response_code == 1 %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% elif message is not None %}
        <tr><td>{{ message }}</td></tr>
    {% endif %}
</div>



</body>