<html>

	<head>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
        <link rel="stylesheet" type="text/css" href="{% static "csv2/jobs.css" %}?{{version}}">

	<!-- <meta http-equiv="refresh" content="30"> -->
	</head>


	<body>
		<h2>Jobs for group=<i>{{ jobs_list.0.group_name }}</i>
                {% if jobs_list.0.user %}
			, user=<i>{{ jobs_list.0.user }}</i>:</h2>
                {% else %}
			, user=<i>None</i>:</h2>
                {% endif %}

                <div class="job-div">
		<div class=job-table>
                        <table id="jobsTable">
                                <tr class="title-row">
					<th onClick="sortTableNum(0)">Host ID &#8597;</th>
					<th onClick="sortTable(1)">Target Clouds &#8597;</th>
					<th onClick="sortTable(2)">Target Alias &#8597;</th>
					<th onClick="sortTableNum(3)">Job Status &#8597;</th>
					<th onClick="sortTableNum(4)">Request CPUs &#8597;</th>
					<th onClick="sortTableNum(5)">Request RAM  &#8597;</th>
					<th onClick="sortTableNum(6)">Request Disk &#8597;</th>
					<th onClick="sortTableNum(7)">Request Swap  &#8597;</th>
					<th onClick="sortTableNum(8)">Request Scratch &#8597;</th>
					<th onClick="sortTableNum(9)">Job Priority &#8597;</th>
					<th onClick="sortTableNum(10)">Job ID &#8597;</th>
					<th onClick="sortTable(11)">Image &#8597;</th>
					<th onClick="sortTable(12)">Instance Type &#8597;</th>
					<th onClick="sortTable(13)">Network &#8597;</th>
					<th onClick="sortTable(14)">Keep Alive &#8597;</th>
					<th onClick="sortTable(15)">Max Price &#8597;</th>
					<th onClick="sortTable(16)">User Data &#8597;</th>
					<th onClick="sortTableNum(17)">Job per Core &#8597;</th>
					<th onClick="sortTableNum(18)">Entered Current Status &#8597;</th>
					<th onClick="sortTableNum(19)">Queue Date &#8597;</th>
					<th onClick="sortTable(20)">Held Reason &#8597;</th>
					<th onClick="sortTable(21)">Hold Job Reason &#8597;</th>
                                </tr>
				        {% for job in jobs_list %}
					{% if job.job_status == 3 or job.job_status == 7  %}
					<tr class="job-terminated" title="Job queued for termination">
					{% else %}
					<tr>
					{% endif %}
					<td>{{job.htcondor_host_id}}</td>
                                        <td>{{job.target_clouds}}</td>
                                        <td>{{job.target_alias}}</td>
                                        <td>{{job.job_status}}</td>
                                        <td>{{job.request_cpus}}</td>
                                        <td>{{job.request_ram}}</td>
					<td>{{job.request_disk}}</td>
				        <td>{{job.request_swap}}</td>
                                        <td>{{job.request_scratch}}</td>
                                        <td>{{job.job_priority}}</td>
					<td> {{job.cluster_id}}.{{job.proc_id}}</td>
					<td>{{job.image}}</td>
					<td>{{job.instance_type}}</td>
					<td>{{job.network}}</td>
					<td>{{job.keep_alive}}</td>
					<td>{{job.max_price}}</td>
					<td>{{job.user_data}}</td>
					<td>{{job.job_per_core}}</td>
					<td>{{job.entered_current_status_formatted}}</td>
					<td>{{job.q_date_formatted}}</td>
					<td>{{job.held_reason}}</td>
					<td>{{job.hold_job_reason}}</td>
                                </tr>
                                {% endfor %}
                        </table>
                </div>
                <div class="footer">
                        {% if response_code == 1 %}
                        <tr>
                                <td><b>Error: {{ message }}</b></td>
                        </tr>
                        {% elif message is not None %}
                        <tr>
                                <td>{{ message }}</td>
                        </tr>
                        {% endif %}
                </div>
                <script type="text/javascript">

                        // To sort by clicking the headers
                        function sortTable(n) {
                                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                table = document.getElementById("jobsTable");
                                switching = true;
                                // Set the sorting direction to ascending:
                                dir = "asc";
                                /* Make a loop that will continue until
                                no switching has been done: */
                                while (switching) {
                                        // Start by saying: no switching is done:
                                        switching = false;
                                        rows = table.getElementsByTagName("TR");
                                        /* Loop through all table rows (except the
                                        first, which contains table headers): */
                                        for (i = 1; i < (rows.length - 1); i++) {
                                                // Start by saying there should be no switching:
                                                shouldSwitch = false;
                                                /* Get the two elements you want to compare,
                                                one from current row and one from the next: */
                                                x = rows[i].getElementsByTagName("TD")[n];
                                                y = rows[i + 1].getElementsByTagName("TD")[n];
                                                /* Check if the two rows should switch place,
                                                based on the direction, asc or desc: */
                                                if (dir == "asc") {
                                                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                        }
                                                } else if (dir == "desc") {
                                                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                        }
                                                }
                                        }
                                        if (shouldSwitch) {
                                                /* If a switch has been marked, make the switch
                                                and mark that a switch has been done: */
                                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                switching = true;
                                                // Each time a switch is done, increase this count by 1:
                                                switchcount++;
                                        } else {
                                                /* If no switching has been done AND the direction is "asc",
                                                set the direction to "desc" and run the while loop again. */
                                                if (switchcount == 0 && dir == "asc") {
                                                        dir = "desc";
                                                        switching = true;
                                                }
                                        }
                                }
                        }

                        // To sort by clicking the headers
                        function sortTableNum(n) {
                                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                table = document.getElementById("jobsTable");
                                switching = true;
                                // Set the sorting direction to ascending:
                                dir = "asc";
                                /* Make a loop that will continue until
                                no switching has been done: */
                                while (switching) {
                                        // Start by saying: no switching is done:
                                        switching = false;
                                        rows = table.getElementsByTagName("TR");
                                        /* Loop through all table rows (except the
                                        first, which contains table headers): */
                                        for (i = 1; i < (rows.length - 1); i++) {
                                                // Start by saying there should be no switching:
                                                shouldSwitch = false;
                                                /* Get the two elements you want to compare,
                                                one from current row and one from the next: */
                                                x = rows[i].getElementsByTagName("TD")[n];
                                                y = rows[i + 1].getElementsByTagName("TD")[n];
                                                x_num = parseInt(x.innerHTML, 10)
                                                y_num = parseInt(y.innerHTML, 10)
                                                /* Check if the two rows should switch place,
                                                based on the direction, asc or desc: */
                                                if (dir == "asc") {
                                                        if (x_num > y_num) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                        }
                                                } else if (dir == "desc") {
                                                        if (x_num < y_num) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                        }
                                                }
                                        }
                                        if (shouldSwitch) {
                                                /* If a switch has been marked, make the switch
                                                and mark that a switch has been done: */
                                                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                switching = true;
                                                // Each time a switch is done, increase this count by 1:
                                                switchcount++;
                                        } else {
                                                /* If no switching has been done AND the direction is "asc",
                                                set the direction to "desc" and run the while loop again. */
                                                if (switchcount == 0 && dir == "asc") {
                                                        dir = "desc";
                                                        switching = true;
                                                }
                                        }
                                }
                        }

			
                </script>
</body>

</html>
