<head>

    <script type="text/javascript">

		window.onload = function() {
			logout();
		};


		function logout(){

			var ajax = new XMLHttpRequest();
			var logout_url = "https://logmeout:123456@"+window.location.hostname+"/settings/log-out";

			//Send bogus credentials to logout the user:
			ajax.open("GET", logout_url, true);
			ajax.send();

			ajax.onreadystatechange = function() {
			  
				//If return code is 401, the logout was successful:
				if (ajax.status == 401){
					window.location = "/cloud/status";
				}
				else {
					//If the logout wasn't successful, log to console:
					var data = ajax.responseText;
					console.log(data);
				}
			}
		}

	</script>
</head>

<body class="logout-nav">
</body>
