<html>
        <head>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
        <link rel="stylesheet" type="text/css" href="{% static "csv2/vms.css" %}?{{version}}">

        </head>


        <body>
		Condor Machines for group=<i>{{ active_group }}</i>
                {% if machines_list.0.cloud_name %},
                        cloud=<i>{{ machines_list.0.cloud_name }}</i>
                {% else %}
                        , cloud=<i>None</i>
                {% endif %}:


                <div class=vm-table>
                        <table>
                                <tr class="title-row">
					<th>Name</th>
					<th>HostID</th>
					<th>Group</th>
                    			<th>Cloud</th>
                 			<th>CSV2Host</th>
                  			<th>Flavor</th>
                    			<th>JobID</th>
                    			<th>State</th>
                    			<th>Activity</th>
                    			<th>Start</th>
                    			<th>Total Disk</th>
					<th>SlotType</th>
					<th>SlotCPUs</th>
                    			<th>TotalSlots</th>
					<th>IdleTime</th>
                		</tr>
                                {% for vm in machines_list %}


                                <tr>
					<td>{{vm.name}}</td>
					<td>{{vm.htcondor_host_id}}</td>
                                        <td>{{vm.group_name}}</td>	
					<td>{{vm.cloud_name}}</td>
					<td>{{vm.condor_host}}</td>
					<td>{{vm.flavor}}</td>
                                        <td>{{vm.job_id}}</td>
					<td>{{vm.state}}</td>
					<td>{{vm.activity}}</td>
					<td>{{vm.start}}</td>
					<td>{{vm.total_disk}}</td>
					<td>{{vm.slot_type}}</td>
					<td>{{vm.slot_cpus}}</td>
					<td>{{vm.total_slots}}</td>
					<td>{{vm.idle_time}}</td>
				</tr>
                                {% endfor %}
                        </table>
                </div>

        </body>
</html>
~                                                                                                                                     
~                                                                                                                                     
~                                                                                                                                     
~                                                                                                                                     
~                                                                                                                                     
~                               
