
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/overlay.css" %}?{{version}}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/editor.css" %}?{{version}}">
    <title>{{ metadata_name }}</title>

    <script rel="preload" type="text/javascript" src="{% static "ace-builds/src-noconflict/ace.js" %}?{{version}}"></script>
    <script rel="preload" type="text/javascript" src="{% static "csv2/editor.js" %}?{{version}}"></script>

</head>

<body class="metadata-fetch">
{% if message == "new-cloud-metadata" %}
    <form name="metadata-form" action="/cloud/metadata-add/" method="post">
{% elif message == "new-group-metadata" %}
    <form name="metadata-form" action="/group/metadata-add/" method="post">  
{% elif cloud_name %}
    <form name="metadata-form" action="/cloud/metadata-update/" method="post">
{% else %}
    <form name="metadata-form" action="/group/metadata-update/" method="post">
{% endif %}

    {% csrf_token %}

        <table>
        {% if message == "new-cloud-metadata" or message == "new-group-metadata"%}
            <tr><td><label for="metadata_name">Metadata Name:</label></td>
            <td><input type="text" name="metadata_name" title="Use j2 extension to render variables" placeholder=".yaml or .j2" value="" /></td>
        {% else %}
            <input type="hidden" name="metadata_name" value="{{ metadata_name }}">
            <tr><td><h2 id="metadata-name">{{ metadata_name }}</h2></td>
        {% endif %}


            <input type="hidden" name="group" value="{{ group_name }}">

        {% if cloud_name %}
            <input type="hidden" name="cloud_name" value="{{ cloud_name }}">
        {% endif %}



            
            <input type="hidden" name="enabled" value="0" />

            <td><label for="enabled">Enabled:</label></td>
            <td>
        {% if message == "new-cloud-metadata" or message == "new-group-metadata"%}
            <input type="checkbox" name="enabled" value="1" checked/>
        {% else %} 
            {% if metadata_enabled == 1%}
                <input type="checkbox" name="enabled" value="1" checked/>
            {% else %}
                <input type="checkbox" name="enabled" value="1" />
            {% endif %}
        {% endif %}
            </td>

            <td><label for="priority">Priority:</label></td>
            <td><input type="number" name="priority" title="lower number is greater priority" value="{{metadata_priority}}"></td>


            <td><label for="mime_type">MIME Type:</label></td>
            <td><select name="mime_type"/>
            {% for type in mime_types_list %}
                {% if metadata_mime_type == type.mime_type %}
                    <option value="{{ type.mime_type }}" selected>{{ type.mime_type }}</option>
                {% else %}
                    <option value="{{ type.mime_type }}">{{ type.mime_type }}</option>
                {% endif %}
            {% endfor %}
            </td>
            </tr>
    </table>
    <textarea name="metadata" id="meta-editor">{{ metadata }}</textarea>


    <table width="100%">
        <tr>

        <td>
        {% if message == "new-cloud-metadata" or message == "new-group-metadata"%}
            <input type="submit" id="left" value="Add" >
        {% else %}
            <input type="submit" id="left" value="Update" >
        {% endif %}
        </td>

    </form>
        <td>
        {% if message != "new-cloud-metadata" and message != "new-group-metadata" %}
            <a id="right" href="#delete-metadata"><button type="button">Delete</button></a>
        {% endif %}

        </td>

        </tr>
    </table>

    <div id="delete-metadata" class="modalDialog">
        <div>
            <a href="#" title="Close" class="close">X</a>

            {% if cloud_name %}
                <form name="{{ cloud_name }}-{{ metadata_name }}-delete" action="/cloud/metadata-delete/" method="post">
            {% else %}
                <form name="{{ metadata_name }}-delete" action="/group/metadata-delete/" method="post">
            {% endif %}

            {% csrf_token %}
                <input type="hidden" name="group" value="{{ group_name }}">

            {% if cloud_name %}
                <input type="hidden" name="cloud_name" value="{{ cloud_name }}">
            {% endif %}

                <input type="hidden" name="metadata_name" value="{{ metadata_name }}">
                <input type="submit"  value="Delete {{ metadata_name }}">
            </form>
        </div>
    </div>

    <div class="editor-footer" id="message">
        {% if response_code == 1 %}
            <tr><td><b>Error: {{ message }}</b></td></tr>
        {% elif message is not None and message != "new-cloud-metadata" and message != "new-group-metadata" %}
            <tr><td>{{ message }}</td></tr>
        {% endif %}
    </div>


    <script type="text/javascript">
        createEditor("meta-editor")
    </script>

</body>
