<head>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/navigation.css" %}">
</head>

<div id="container">
    <nav>
        <ul>
            <li class="left"><a href="/cloud/status/">Status</a></li>
            <li class="left"><a href="/cloud/list/">Clouds</a></li>
            <li class="left"><a href="/group/list/">Groups</a></li>
            <li class="left"><a href="/user/list/">Users</a></li>
            <li class="right"><a>{{ active_user }}</a></li>
            <li class="right">
                <form name="group_selector" action="" method="POST">
                    {% csrf_token %}
                    <div align="center">
                        <select name="group" id="group" onchange="this.form.submit()">
                        {% for grp in user_groups %}
                            {% if grp == active_group %}
                                <option value="{{grp}}" selected>{{grp}}</option>
                            {% else %}
                                <option value="{{grp}}">{{grp}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</div>
