<head>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static "csv2/navigation.css" %}?{{version}}">
    <title id="title"></title>
</head>

<script>
    var title = window.location.hostname.split(".");
    document.getElementById('title').innerHTML = title[0];
</script>

<nav class="top-nav">
    <ul>
        <div class="float-left">
            <li class="spacer"> </li>
            <li>
                <div align="center">
                    <select name="group" id="group"  onchange="location=this.value; sessionStorage.clear()">
                    {% for grp in user_groups %}
                        {% if grp == active_group %}
                            <option value="?{{grp}}" selected>{{grp}}</option>
                        {% else %}
                            <option value="?{{grp}}">{{grp}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
            </li>
            <li><a class="status-nav" href="/cloud/status/?{{active_group}}">Status</a></li>
            <li><a class="clouds-nav" href="/cloud/list/?{{active_group}}">Cloud Config</a></li>
            <li><a class="alias-nav" href="/alias/list/?{{active_group}}">Aliases</a></li>
            <li><a class="defaults-nav" href="/group/defaults/?{{active_group}}">Group Config</a></li>
            <li><a class="images-nav" href="/images/?{{active_group}}">Images</a></li>
            <li><a class="keys-nav" href="/keypairs/?{{active_group}}">Keys</a></li>
        </div>
        <div class="float-right">

            {% if is_superuser %}
                <li><a class="users-nav" href="/user/list/?{{active_group}}">Users</a></li>
                <li><a class="groups-nav" href="/group/list/?{{active_group}}">Groups</a></li>
                <li><a class="config-nav" href="/server/config/?{{active_group}}">System Config</a></li>
            {% endif %}
            <li><a class="settings-nav" href="/user/settings/?{{active_group}}">User Settings</a></li>
            <li><a class="plugin-nav" href="/repo">HTCondor Plugin</a></li>
            <li><a class="logout-nav" href="/settings/log-out">Log out</a></li>

            <li class="spacer"> </li>
        </div>
    </ul>
</nav>
