<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "csv2/navigation.css" %}">
</head>

<div id="container">
    <nav>
        <ul>
            <li><a href="#">{{active_group}}</a>
                <!-- First Tier Drop Down -->
                <ul>
                    <li><a>Groups:</a></li>
                    {% for grp in user_groups %}
                        <li><a href='/status/{{grp}}/'>{{grp}}</a></li>
                    {% endfor %}
                </ul>        
            </li>
            <li><a href="/status/">Status</a></li>
            <li><a href="/clouds/">Clouds</a></li>
            <li><a href="/groups/">Groups</a></li>
            <li><a href="/users/">Users</a></li>
        </ul>
    </nav>
</div>
