<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="refresh" content="5; url=/settings/log-out" />
        {% load template_utils %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
        

        <script type="text/javascript">

            function get_message() {
                if (sessionStorage.getItem("message")){
                    document.getElementById("message").innerHTML = sessionStorage.getItem("message");
                }
                sessionStorage.removeItem("message");
            }

            function clear_message() {
                if (document.getElementById("message").innerHTML !== "") document.getElementById("message").innerHTML = "";
                request.session.removeItem("rc");
                request.session.removeItem("message");
            }
        </script>   

    </head>
    <div>
        <body onpageshow="get_message();" ></body>
            <h1>The user you are attempting to log in as belongs to no valid groups.</h1>
            <p>You will be redirected to log in again in 5 seconds...</p>
            <p>if you are not redirected automatically, <a href="/settings/log-out">click here</a></p>
        </body>
    </div>
    
    
    <div class="footer">
    {% if response_code == 1 %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% elif message is not None %}
        <tr><td>{{ message }}</td></tr>
    {% endif %}
    </div>

</html>