
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
{% load template_utils %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/config.css" %}">

</head>
<body class="config-nav">

<div class="main-div">

    <div class="menu">

    {% for category in config_categories %}


        <div id="{{category}}"> <a href="#{{category}}" class="menu-link">{{category}}</a>
            
            <div class="menu-target menu-position">

                <form name="config" action="/server/config/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="category" value="{{category}}" />

                    <table>

                        {% for config in config_list %}
                            {% if config.category == category %}
                            
                                {% if config.config_type == "bool" %}

                                    <input type="hidden" name="{{ config.config_key }}" value="False" />

                                    <tr class="highlight1"><td><label for="{{ config.config_key }}">{{ config.config_key }}</label></td>
                                    <td>
                                    {% if config.config_value == "True"%}
                                        <input type="checkbox" name="{{ config.config_key }}" value="True" checked/>
                                    {% else %}
                                        <input type="checkbox" name="{{ config.config_key }}" value="True" />
                                    {% endif %}
                                    </td></tr>

                                {% else %}
                                    <tr class="highlight1"><td><label for="{{ config.config_key }}">{{ config.config_key }}</label></td>
                                    <td><input type="text" name="{{ config.config_key }}" value="{{ config.config_value }}" /></td></tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <tr><td><input type="submit" value="Update Config" /></td>

                    </table>
                </form>
            </div>
        </div>
    {% endfor %}
        
    </div>
</div>

<div class="footer"
    {% if response_code == 1 %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% elif message is not None %}
        <tr><td>{{ message }}</td></tr>
    {% endif %}
</div>


</body>
</html>
