
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
{% load template_utils %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/menu.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/config.css" %}?{{version}}">

<script type="text/javascript">

    function save_location(config){
        sessionStorage.setItem("config", config);
    }

    function set_location(){
        if(sessionStorage.getItem("config")){
            document.location.hash = sessionStorage.getItem("config");
        }
        else{
            document.location.hash = "{{config_categories.0}}"
        }
    }

</script>

</head>
<body class="config-nav" onpageshow="set_location()">
{% spaceless %}

<div class="main-div {% if is_superuser %}super-main-div{% endif %}">

    <div class="menu">

    {% for category in config_categories %}


        <div id="{{category}}" style="padding-top: 60px;margin-top: -60px;"> <a href="#{{category}}" class="menu-link" onclick="save_location('{{category}}')">{{category}}</a>
            
            <div class="menu-target menu-position">

                <form name="config" action="/server/config/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="category" value="{{category}}" />
                    <input type="hidden" name="group" value="{{ active_group }}" />
                    <table>

                        {% for config in config_list %}
                            {% if config.category == category %}
                                {% if config.config_key == "log_level" %}
                                    <tr class="highlight1"><td><label for="{{ config.config_key }}">{{ config.config_key }}</label></td>
                                    <td>
                                    <select name="{{ config.config_key }}">
                                        {% if config.config_value == "50" %}
                                            <option value="50" selected>CRITICAL</option>
                                        {% else %}
                                            <option value="50">CRITICAL</option>
                                        {% endif %}

                                        {% if config.config_value == "40" %}
                                            <option value="40" selected>ERROR</option>
                                        {% else %}
                                            <option value="40">ERROR</option>
                                        {% endif %}

                                        {% if config.config_value == "30" %}
                                            <option value="30" selected>WARNING</option>
                                        {% else %}
                                            <option value="30">WARNING</option>
                                        {% endif %}

                                        {% if config.config_value == "20" %}
                                            <option value="20" selected>INFO</option>
                                        {% else %}
                                            <option value="20">INFO</option>
                                        {% endif %}

                                        {% if config.config_value == "10" %}
                                            <option value="10" selected>DEBUG</option>
                                        {% else %}
                                            <option value="10">DEBUG</option>
                                        {% endif %}

                                        {% if config.config_value == "0" %}
                                            <option value="0" selected>NOTSET</option>
                                        {% else %}
                                            <option value="0">NOTSET</option>
                                        {% endif %}

                                    </select>
                                    </td></tr>
                                {% elif config.config_type == "bool" %}

                                    <input type="hidden" name="{{ config.config_key }}" value="False" />

                                    <tr class="highlight1"><td><label for="{{ config.config_key }}">{{ config.config_key }}</label></td>
                                    <td>
                                    {% if config.config_value == "True"%}
                                        <input type="checkbox" name="{{ config.config_key }}" value="True" checked/>
                                    {% else %}
                                        <input type="checkbox" name="{{ config.config_key }}" value="True" />
                                    {% endif %}
                                    </td></tr>

                                {% else %}
                                    <tr class="highlight1"><td><label for="{{ config.config_key }}">{{ config.config_key }}</label></td>
                                    <td><input type="text" name="{{ config.config_key }}" value="{{ config.config_value }}" /></td></tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <tr><td><input type="submit" value="Update Config" /></td>

                    </table>
                </form>
            </div>
        </div>
    {% endfor %}
        
    </div>
</div>

<div class="footer" id="message" onclick="clear_message()">
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% else %} 
        <tr><td>{{ message }}</td></tr>
    {% endif %}
    {% endfor %}
</div>



{% endspaceless %}
</body>
</html>
