{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
{% load static %}
{% load template_utils %}
{% load mathfilters %}

<link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/status.css" %}">

<meta id="refresher" http-equiv="refresh" content="30">

<script type="text/javascript">

    function set_refresh(time) {
        setTimeout(function() {
            location.reload();
        },time);

        document.getElementById('vms-iframe').src='';
    }

    function pass_url(url) {
        window.stop();
        document.getElementById('vms-iframe').src='/vm/list/'+url;
    }
</script>
</head>

<body class="status-nav">


{% if err_message is not None %}
    <p style="color:red;">{{err_message}}</p>
{% endif %}
{% if message is not None %}
    <p style="color:green;">{{message}}</p>
{% endif %}





<div class="main-div">


    <div class="refresh-button">
            <form><input type=button value="Refresh" onClick="window.location.reload()"><span id="CDTimer">???</span></form> 
    </div>
    <br>
    <div class="status-table">
        <table>
          <colgroup>
            <col class="red" span="1" />
            <col class="clear" span="5" />

          </colgroup>
          <thead>
            <tr>
                <th class="jobs-style">Jobs</th>
                <th class="jobs-style">Idle</th>
                <th class="jobs-style">Running</th>
                <th class="jobs-style">Completed</th>
                <th class="jobs-style">Held</th>
                <th class="jobs-style">Other</th>

            </tr>
            {% for cloud in job_status_list %}
                <tr>

                    {% if cloud.Jobs == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a href="#">{{cloud.Jobs}}</a></td>
                    {% endif %}

                    {% if cloud.Idle == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a href="#">{{cloud.Idle}}</a></td>
                    {% endif %}

                    {% if cloud.Running == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a href="#">{{cloud.Running}}</a></td>
                    {% endif %}

                    {% if cloud.Completed == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a href="#">{{cloud.Completed}}</a></td>
                    {% endif %}

                    {% if cloud.Held == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a href="#">{{cloud.Held}}</a></td>
                    {% endif %}

                    {% if cloud.Other == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a href="#">{{cloud.Other}}</a></td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody> 
        </table>
    </div>

    <br>
    {% set VMstotal = 0 %}
    {% set VMs_foreign_total = 0 %}
    <div class="status-table">
        <table>
          <colgroup>
            <col class="grey" />
            <col class="red" span="1" />
            <col class="clear" span="10" />
            <col class="blue" span="1" />
            <col class="clear" span="2" />
          </colgroup>
          <thead>
            <tr>
                <th class="name-style">Clouds</th>
                <th class="native-style">VMs</th>
                <th class="native-style">Unregistered</th>
                <th class="native-style">Running</th>
                <th class="native-style">Retiring</th>
                <th class="native-style">Manual</th>
                <th class="native-style">Error</th>
                <th class="native-style">Other</th>

                <th class="col-spacer">&nbsp;</th>

                <th class="native-style">Slots</th>
                <th class="native-style">Native Cores</th>

                <th class="col-spacer">&nbsp;</th>

                <th class="foreign-style">Foreign VMs</th>
                <th class="foreign-style">Foreign Cores</th>

                <th class="col-spacer">&nbsp;</th>

                <th class="total-style" tooltip="Total used cores over total cores on cloud.">Total Cores</th>


            </tr>
            {% for cloud in cloud_status_list %}
                <tr>
                    <td class="title-style"><a onclick="pass_url('{{cloud.cloud_name}}::::')" href="#vms-overlay"href="/vm/list/{{cloud.cloud_name}}::::">{{cloud.cloud_name}}</a></td>

                    {% if cloud.VMs == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a onclick="pass_url('{{cloud.cloud_name}}::native::')" href="#vms-overlay">{{cloud.VMs}}</a></td>
                    {% endif %}


                    {% if cloud.VMs_unregistered == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a onclick="pass_url('{{cloud.cloud_name}}::unregistered::')" href="#vms-overlay">{{cloud.VMs_unregistered}}</a></td>
                    {% endif %}


                    {% if cloud.VMs_running == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a onclick="pass_url('{{cloud.cloud_name}}::running::')" href="#vms-overlay">{{cloud.VMs_running}}</td>
                    {% endif %}


                    {% if cloud.VMs_retiring == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a onclick="pass_url('{{cloud.cloud_name}}::retiring::')" href="#vms-overlay">{{cloud.VMs_retiring}}</td>
                    {% endif %}


                    {% if cloud.VMs_manual == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a onclick="pass_url('{{cloud.cloud_name}}::manual::')" href="#vms-overlay">{{cloud.VMs_manual}}</td>
                    {% endif %}


                    {% if cloud.VMs_in_error == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a onclick="pass_url('{{cloud.cloud_name}}::error::')" href="#vms-overlay">{{cloud.VMs_in_error}}</td>
                    {% endif %}


                    {% if cloud.VMs_other == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a onclick="pass_url('{{cloud.cloud_name}}::other::')" href="#vms-overlay">{{cloud.VMs_other}}</td>
                    {% endif %}

                    <td class="col-spacer">&nbsp;</td>


                    <td>{{cloud.slots_used}} <b>/</b> {{cloud.slots_max}}</td>

                    {% if cloud.cores_ctl == -1 %}
                        <td class="sysctl-style" tooltip="Max cores set to system control (-1).">{{cloud.cores_native}} <b>/</b> {{cloud.cores_idle}}</td>
                    {% elif cloud.cores_ctl > cloud.cores_idle %}
                        <td class="alert-style" tooltip="Max cores set to manual control. Available cores less than user setting!">{{cloud.cores_native}} <b>/</b> {{cloud.cores_idle}}</td>
                    {% else %}
                        <td class="manual-style" tooltip="Max cores set to manual control.">{{cloud.cores_native}} <b>/</b> {{cloud.cores_ctl}}</td>
                    {% endif %}

                    <td class="col-spacer">&nbsp;</td>


                    {% if cloud.Foreign_VMs == 0 %}
                        <td class="zero-style">0</td>
                    {% else %}
                        <td class="more-style"><a onclick="pass_url('{{cloud.cloud_name}}::foreign::')" href="#vms-overlay">{{ cloud.Foreign_VMs }}</a></td>
                    {% endif %}


                    <td>{{cloud.cores_foreign}}</td>

                    <td class="col-spacer">&nbsp;</td>
                    <td>{{cloud.cores_native|add:cloud.cores_foreign}} <b>/</b> {{cloud.cores_max}}</td>

                </tr>
            {% endfor %}
            <tr>
                <td colspan="8" class="row-spacer">&nbsp;</td>
                <td class="col-spacer">&nbsp;</td>
                <td colspan="2" class="row-spacer">&nbsp;</td>
                <td class="col-spacer">&nbsp;</td>
                <td colspan="2" class="row-spacer">&nbsp;</td>
                <td class="col-spacer">&nbsp;</td>
                <td colspan="1" class="row-spacer">&nbsp;</td>
            </tr>
             <tr>
                <td class="bold-style">Totals:</td>

                {% if cloud_total_list.VMs == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a onclick="pass_url('::native::')" href="#vms-overlay">{{cloud_total_list.VMs}}</a></td>
                {% endif %}


                {% if cloud_total_list.VMs_unregistered == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a onclick="pass_url('::unregistered::')" href="#vms-overlay">{{cloud_total_list.VMs_unregistered}}</a></td>
                {% endif %}


                {% if cloud_total_list.VMs_running == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a onclick="pass_url('::running::')" href="#vms-overlay">{{cloud_total_list.VMs_running}}</a></td>
                {% endif %}


                {% if cloud_total_list.VMs_retiring == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a onclick="pass_url('::retiring::')" href="#vms-overlay">{{cloud_total_list.VMs_retiring}}</a></td>
                {% endif %}


                {% if cloud_total_list.VMs_manual == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a onclick="pass_url('::manual::')" href="#vms-overlay">{{cloud_total_list.VMs_manual}}</a></td>
                {% endif %}


                {% if cloud_total_list.VMs_in_error == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a onclick="pass_url('::error::')" href="#vms-overlay">{{cloud_total_list.VMs_in_error}}</a></td>
                {% endif %}


                {% if cloud_total_list.VMs_other == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a onclick="pass_url('::other::')" href="#vms-overlay">{{cloud_total_list.VMs_other}}</a></td>
                {% endif %}

                <td class="col-spacer">&nbsp;</td>

                <td class="bold-style">{{cloud_total_list.slots_used}} <b>/</b> {{cloud_total_list.slots_max}}</td>


                <td class="bold-style">{{cloud_total_list.cores_native}} <b>/</b> {{cloud_total_list.cores_available}}</td>



                <td class="col-spacer">&nbsp;</td>

                {% if cloud_total_list.Foreign_VMs == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a onclick="pass_url('::foreign::')" href="#vms-overlay">{{cloud_total_list.Foreign_VMs}}</a></td>
                {% endif %}


                {% if cloud_total_list.cores_foreign == 0 %}
                    <td class="zero-style">0</td>
                {% else %}
                    <td class="more-style"><a href="#">{{cloud_total_list.cores_foreign}}</a></td>
                {% endif %}


                <td class="col-spacer">&nbsp;</td>
                <td class="bold-style">{{cloud_total_list.cores_native|add:cloud_total_list.cores_foreign}} <b>/</b> {{cloud_total_list.cores_max}}</td>
            </tr>
            </tbody> 
        </table>
        {{ service_list }}

    </div>
</div>






<div id="vms-overlay" class="overlay">
    <div class="popup">
        <a class="close" onclick="set_refresh('30000')" href="#">&times;</a>
        <iframe id="vms-iframe" class="content" src=""></iframe>
    </div>
</div>



<script type="text/javascript">

    /*<![CDATA[*/
    var TimerVal = 30;
    var TimerSPan = document.getElementById("CDTimer");
    function CountDown(){
       setTimeout( "CountDown()", 1000 );
       TimerSPan.innerHTML=TimerVal;
       TimerVal=TimerVal-1;
       if (TimerVal<0) { TimerVal=0 }
    } CountDown() 
    /*]]>*/

</script>

</body>
</html>
