{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
<style>
table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover { 
    background-color: red;
    color: white;
}


th {
    background-color: #4CAF50;
    color: white;
}


.grey {
  background-color: rgba(128,128,128,.25);
}
.red {
  background-color: rgba(255,0,0,.25);
}
.blue {
  background-color: rgba(0,0,255,.25);
}
.white {
  background-color: white;
}


</style>

</head>

<body>


{% if err_message is not None %}
    <p style="color:red;">{{err_message}}</p>
{% endif %}
{% if message is not None %}
    <p style="color:green;">{{message}}</p>
{% endif %}


<table>
  <colgroup>
    <col class="grey" />
    <col class="red" span="1" />
    <col class="white" span="4" />
    <col class="red" span="1" />
    <col class="white" span="7"/>
  </colgroup>
  <thead>
    <tr>
        <th>Clouds</th>
        <th>VMs</th>
        <th>Starting</th>
        <th>Running</th>
        <th>Retiring</th>
        <th>Other</th>

        <th>Jobs</th>

        <th>Unexpanded</th>
        <th>Idle</th>
        <th>Running</th>
        <th>Removed</th>
        <th>Completed</th>
        <th>Held</th>
        <th>Sub. Err.</th>

    </tr>
    {% for cloud in status_list %}
        <tr>
            <td>{{cloud.cloud_name}}</td>
            <td>{{cloud.VMs}}</td>
            <td>{{cloud.VMs_starting}}</td>
            <td>{{cloud.VMs_running}}</td>
            <td>{{cloud.VMs_retiring}}</td>
            <td>{{cloud.VMs_other}}</td>
            <td>{{cloud.Jobs}}</td>
            <td>{{cloud.Jobs_s0}}</td>
            <td>{{cloud.Jobs_s1}}</td>
            <td>{{cloud.Jobs_s2}}</td>
            <td>{{cloud.Jobs_s3}}</td>
            <td>{{cloud.Jobs_s4}}</td>
            <td>{{cloud.Jobs_s5}}</td>
            <td>{{cloud.Jobs_s6}}</td>
        </tr>
    {% endfor %}
    </tbody> 
</table>

</body>
</html>