{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "csv2/styles.css" %}">
</head>

{% if err_message is not None %}
    <p style="color:red;">{{err_message}}</p>
{% endif %}
{% if message is not None %}
    <p style="color:green;">{{message}}</p>
{% endif %}

<table>
    <tr>
        <th>Cloud Name</th>
        <th>VMs</th>

        <th>Jobs</th>

        <th>Unexpanded</th>
        <th>Idle</th>
        <th>Running</th>
        <th>Removed</th>
        <th>Completed</th>
        <th>Held</th>
        <th>Sub. Err.</th>

    </tr>
    {% if cloud_list is not None %}
        {% for cloud in cloud_list %}
            <tr>
                <td>{{cloud.cloud_name}}</td>
                {% for count in count_list %}

                    {% ifequal count.cloud_name cloud.cloud_name %}
                        {% if count.VMs %}
                            <td>{{count.VMs}}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                        {% if count.Jobs %}
                            <td>{{count.Jobs}}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                    {% endifequal %}
                {% endfor %}

                {% for key, value in job_count.items %}
                    {% ifequal key cloud.cloud_name %}
                        {% for code, value2 in value.items  %}
                            {% if code == 0 %}
                                <td>{{value2}}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% if code == 1 %}
                                <td>{{value2}}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% if code == 2 %}
                                <td>{{value2}}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% if code == 3 %}
                                <td>{{value2}}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% if code == 4 %}
                                <td>{{value2}}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% if code == 5 %}
                                <td>{{value2}}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% if code == 6 %}
                                <td>{{value2}}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}


            </tr>
        {% endfor %}
    {% endif %}
</table>
