
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
{% load template_utils %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/menu.css" %}?{{version}}">

<script type="text/javascript">
    function show_user(username){
        if (username.length > 0) {
            document.location.hash = username;
        }
    }
</script>

</head>
<body class="settings-nav" onpageshow="show_user('{{active_user}}')">
{% spaceless %}

<div class="main-div {% if is_superuser %}super-main-div{% endif %}">
    <div class="menu">
    {% for user in user_list %}
        <div id="{{user.username}}"> <a href="#{{user.username}}" class="menu-link">{{user.username}}</a>
            
            <div class="menu-target menu-position">
                <form name="{{user.username}}" action="/user/settings/" method="post">
                    {% csrf_token %}
                    <table>

                        <tr class="highlight1"><td><label for="password1">New Password</label></td>
                        <td><input type="password" name="password1" value="" autocomplete="new-password"/></td></tr>
                        <tr class="highlight1"><td><label for="password2">Confirm Password</label></td>
                        <td><input type="password" name="password2" value="" autocomplete="new-password"/></td></tr>
                        
                        <!--<tr class="highlight1"><td><label for="cert_cn">Cert CN</label></td>
                        {% if user.cert_cn is not None %}
                            <td><input type="text" name="cert_cn" value="{{user.cert_cn}}" /></td>
                        {% else %}
                            <td><input type="text" name="cert_cn" value="" /></td>
                        {% endif %}
                        </tr>-->
                        

                        <input type="hidden" name="flag_global_status" value="0"/>
                        <tr class="highlight3"><td><label for="flag_global_status">Enabled global view on status page</label></td>
                        <td>
                        {% if user.flag_global_status == 1%}
                            <input type="checkbox" name="flag_global_status" value="1" checked/>
                        {% else %}
                            <input type="checkbox" name="flag_global_status" value="1" />
                        {% endif %}
                        </td></tr>

                        <input type="hidden" name="flag_jobs_by_target_alias" value="0"/>
                        <tr class="highlight3"><td><label for="flag_jobs_by_target_alias">Enabled jobs by target alias on status page</label></td>
                        <td>
                        {% if user.flag_jobs_by_target_alias == 1%}
                            <input type="checkbox" name="flag_jobs_by_target_alias" value="1" checked/>
                        {% else %}
                            <input type="checkbox" name="flag_jobs_by_target_alias" value="1" />
                        {% endif %}
                        </td></tr>

                        <input type="hidden" name="flag_show_foreign_global_vms" value="0"/>
                        <tr class="highlight3"><td><label for="flag_show_foreign_global_vms">Enabled foreign/global VM information on status page</label></td>
                        <td>
                        {% if user.flag_show_foreign_global_vms == 1%}
                            <input type="checkbox" name="flag_show_foreign_global_vms" value="1" checked/>
                        {% else %}
                            <input type="checkbox" name="flag_show_foreign_global_vms" value="1" />
                        {% endif %}
                        </td></tr>

                        <input type="hidden" name="flag_show_slot_detail" value="0"/>
                        <tr class="highlight3"><td><label for="flag_show_slot_detail">Enabled slot detail on status page</label></td>
                        <td>
                        {% if user.flag_show_slot_detail == 1%}
                            <input type="checkbox" name="flag_show_slot_detail" value="1" checked/>
                        {% else %}
                            <input type="checkbox" name="flag_show_slot_detail" value="1" />
                        {% endif %}
                        </td></tr>

                        <input type="hidden" name="flag_show_slot_flavors" value="0"/>
                        <tr class="highlight3"><td><label for="flag_show_slot_flavors">Enabled slot flavor info on status page</label></td>
                        <td>
                        {% if user.flag_show_slot_flavors == 1%}
                            <input type="checkbox" name="flag_show_slot_flavors" value="1" checked/>
                        {% else %}
                            <input type="checkbox" name="flag_show_slot_flavors" value="1" />
                        {% endif %}
                        </td></tr>

                        <tr class="highlight3"><td><label for="status_refresh_interval">Status refresh interval (sec)</label></td>
                        <td><input type="number" name="status_refresh_interval" value="{{user.status_refresh_interval}}" /></td></tr>

                        <tr class="highlight3"><td><label for="default_group">Default group</label></td>
                        <td>
                            <select name="default_group">
                            {% for grp in user_groups %}
                                {% if grp == user.default_group %}
                                    <option value="{{grp}}" selected>{{grp}}</option>
                                {% else %}
                                    <option value="{{grp}}">{{grp}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td></tr>


                        <tr><td><input type="submit" value="Update user" /></td>
                        <td></td></tr>
                    </table>
                </form>
            </div>

        </div>
    {% endfor %}
        
    </div>


</div>


<div class="footer"
    {% if response_code == 1 %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% elif message is not None %}
        <tr><td>{{ message }}</td></tr>
    {% endif %}
</div>

{% endspaceless %}
</body>

