
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
{% load template_utils %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "csv2/styles.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/users.css" %}">

<script type="text/javascript">
    function show_user(username){
        if (username.length > 0) {
            document.location.hash = username;
        }
    }
</script>

</head>
<body onpageshow="show_user('{{current_user}}')">

<div class="main-div">

    <section class="vertical-menu">
        <a href="#" class="active">users</a>
            {% for user in user_list %}
            <a href="#{{user.username}}">{{user.username}}</a>
            {% endfor %}
        <a href="#add_user" class="add_user">+</a> 
    </section>

    <section class="target">
        {% for user in user_list %}
        <div id="{{user.username}}">
            <h1>{{user.username}}</h1>

            <div id="delete_{{user.username}}" class="modalDialog">
                <div>
                    <a href="#close" title="Close" class="close">X</a>
                    <h2>{{user.username}}</h2>
                    <p><input type="submit" value="Update user" />Yes</td>

                </div>
            </div>
            
            <form name="{{user.username}}" action="/user/update/" method="post">
                {% csrf_token %}
                <table>
                    <input type="hidden" name="username" value="{{user.username}}" />

                    <!--<tr><td><label for="username">Username</label></td>
                    <td><input type="text" name="username" id="" value="{{user.username}}" /></td></tr>-->
                    <tr><td><label for="password.1">New Password</label></td>
                    <td><input type="password" name="password.1" id="" value="" /></td></tr>
                    <tr><td><label for="password.2">Confirm Password</label></td>
                    <td><input type="password" name="password.2" id="" value="" /></td></tr>
                    <tr><td><label for="cert_cn">Cert CN</label></td>
                    {% if user.cert_cn is not None %}
                        <td><input type="text" name="cert_cn" id="" value="{{user.cert_cn}}" /></td>
                    {% else %}
                        <td><input type="text" name="cert_cn" id="" value="" /></td>
                    {% endif %}
                    </tr>
                    </select></td></tr>
                    <tr><td><label for="is_superuser">Superuser</label></td>
                    {% if user.is_superuser %}
                        <td><input name="is_superuser" type="checkbox" value="{{user.username}}" checked/></td>
                    {% else %}
                        <td><input name="is_superuser" type="checkbox" value="{{user.username}}"/></td>
                    {% endif %}
                    </tr>
                    <tr class="highlight"><td><label for="users_groups">Groups</label></td><td></td></tr>

                    {% for group in group_list %}
                        {% if group.group_name in groups_per_user|keyvalue:user.username %}

                            <tr><td></td><td class="highlight"><input type="checkbox" name="group_name.{{ forloop.counter }}" value="{{ group.group_name }}" checked/> {{ group.group_name }}</td></tr>
                        {% else %}
                            <tr><td></td><td class="highlight"><input type="checkbox" name="group_name.{{ forloop.counter }}" value="{{ group.group_name }}" /> {{ group.group_name }}</td></tr>
                        {% endif %}
                    {% endfor %}

                    <tr><td><input type="submit" value="Update user" /></td>
                    <td><a href="#delete-{{user.username}}"><button type="button">Delete</button></a></td></tr>
                </table>
            </form>
        </div>
        {% endfor %}
        <div id="add_user">
            <h1>Add New user</h1>
            <form name="add_user" action="/user/add/" method="post">
                {% csrf_token %}
                <table>
                    <tr><td><label for="username">Username</label></td>
                    <td><input type="text" name="username" id="" value="" /></td></tr>
                    <tr><td><label for="password.1">Password</label></td>
                    <td><input type="password" name="password.1" id="" value="" /></td></tr>
                    <tr><td><label for="password.2">Confirm Password</label></td>
                    <td><input type="password" name="password.2" id="" value="" /></td></tr>
                    <tr><td><label for="cert_cn">Cert CN</label></td>
                    <td><input type="text" name="cert_cn" id="" value="" /></td></tr>
                    </select></td></tr>
                    <tr><td><label for="is_superuser">Superuser</label></td>
                    <td><input name="is_superuser" type="checkbox" value="1"></td></tr>

                    <tr class="highlight"><td><label for="users_groups">Groups</label></td><td></td></tr>

                    {% for group in group_list %}
                        <tr><td></td><td class="highlight"><input type="checkbox" name="group_name.{{ forloop.counter }}" value="{{ group.group_name }}" /> {{ group.group_name }}</td></tr>
                    {% endfor %}

                    <tr><td><input type="submit" value="Add user" /></td></tr>
                </table>
            </form>
        </div>
    </section>

    {% for user in user_list %}
    <div id="delete-{{user.username}}" class="modalDialog">
        <div>
            <a href="#{{user.username}}" title="Close" class="close">X</a>
    	<form name="{{user.username}}" action="/user/delete/" method="post">
                {% csrf_token %}
                    <input type="hidden" name="username" id="" value="{{user.username}}" />
                    <input type="submit" value="Delete {{user.username}}" />
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<div class="footer"
    {% if response_code == 1 %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% elif message is not None %}
        <tr><td>{{ message }}</td></tr>
    {% endif %}
</div>

</body>

