
{% block navbar %}
   {% include "csv2/navigation_bar.html" %}
{% endblock %}

<head>
{% load template_utils %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/menu.css" %}?{{version}}">
<link rel="stylesheet" type="text/css" href="{% static "csv2/overlay.css" %}?{{version}}">

<script type="text/javascript">

    function save_location(user){
        sessionStorage.setItem("user", user);
    }

    function new_location(){ 
            sessionStorage.setItem("user", document.getElementById("new_user").value);
    }

    function set_location(){
        if(sessionStorage.getItem("user")){
            document.location.hash = sessionStorage.getItem("user");
        }
        else{
            document.location.hash = "{{user_list.0.username}}"
        }
    }
</script>

</head>
<body class="users-nav" onpageshow="set_location()">
{% spaceless %}

<div class="main-div {% if is_superuser %}super-main-div{% endif %}">
    <div class="menu">
    {% for user in user_list %}
        <div id="{{user.username}}" style="padding-top: 60px;margin-top: -60px;"> 

            <div class="menu2-div">
                <a href="#{{user.username}}" class="menu2-link" onclick="save_location('{{user.username}}')">{{user.username}}</a>

                <a href="#delete-{{user.username}}" class="delete-link">&minus;</a>
            </div>


        
            
            <div class="menu-target menu-position">
                <form name="{{user.username}}" action="/user/update/" method="post">
                    {% csrf_token %}
                    <table>
                        <input type="hidden" name="group" value="{{ active_group }}" />
                        <input type="hidden" name="username" value="{{user.username}}" />

                        <!--<tr><td><label for="username">Username</label></td>
                        <td><input type="text" name="username" id="" value="{{user.username}}" /></td></tr>-->
                        <tr class="highlight1"><td><label for="password1">New Password</label></td>
                        <td><input type="password" name="password1" id="" value="" /></td></tr>
                        <tr class="highlight1"><td><label for="password2">Confirm Password</label></td>
                        <td><input type="password" name="password2" id="" value="" /></td></tr>
                        <tr class="highlight1"><td><label for="cert_cn">Cert CN</label></td>
                        {% if user.cert_cn is not None %}
                            <td><input type="text" name="cert_cn" id="" value="{{user.cert_cn}}" /></td>
                        {% else %}
                            <td><input type="text" name="cert_cn" id="" value="" /></td>
                        {% endif %}
                        </tr>
                        </td></tr>

                        <input type="hidden" name="is_superuser" value="0"/>
                        <tr class="highlight1"><td><label for="is_superuser">Superuser</label></td>

                            <!--<input type="hidden" name="not_superuser" value="0" />-->
                            {% if user.is_superuser %}
                                <td><input type="checkbox" name="is_superuser" value="1" checked/></td>
                            {% else %}
                                <td><input type="checkbox" name="is_superuser" value="1"/></td>
                            {% endif %}

                        </tr>
                        <tr class="highlight2"><td><label for="users_groups">Groups</label></td><td></td></tr>

                        {% for group in group_list %}
                            {% if group.group_name in groups_per_user|keyvalue:user.username %}

                                <tr><td></td><td class="highlight2"><input type="checkbox" name="group_name.{{ forloop.counter }}" value="{{ group.group_name }}" checked/> {{ group.group_name }}</td></tr>
                            {% else %}
                                <tr><td></td><td class="highlight2"><input type="checkbox" name="group_name.{{ forloop.counter }}" value="{{ group.group_name }}" /> {{ group.group_name }}</td></tr>
                            {% endif %}
                        {% endfor %}

                        <tr><td><input type="submit" value="Update user" /></td>
                        <td></td></tr>
                    </table>
                </form>
            </div>

        </div>
    {% endfor %}
        <div id="add-user"> <a href="#add-user" class="menu-link add-link">&plus;</a>
            <div class="menu-target menu-position">
                <form name="add_user" action="/user/add/" method="post" onsubmit="new_location()">
                    {% csrf_token %}
                    <input type="hidden" name="group" value="{{ active_group }}" />
                    <table>
                        <tr class="highlight1"><td><label for="username">Username</label></td>
                        <td><input type="text" name="username" id="new_user" value="" /></td></tr>
                        <tr class="highlight1"><td><label for="password1">Password</label></td>
                        <td><input type="password" name="password1" id="" value="" /></td></tr>
                        <tr class="highlight1"><td><label for="password2">Confirm Password</label></td>
                        <td><input type="password" name="password2" id="" value="" /></td></tr>
                        <tr class="highlight1"><td><label for="cert_cn">Cert CN</label></td>
                        <td><input type="text" name="cert_cn" id="" value="" /></td></tr>
                        </td></tr>
                        <input type="hidden" name="is_superuser" value="0"/>
                        <tr class="highlight1"><td><label for="is_superuser">Superuser</label></td>
                        <td><input name="is_superuser" type="checkbox" value="1"></td></tr>

                        <tr class="highlight2"><td><label for="users_groups">Groups</label></td><td></td></tr>

                        {% for group in group_list %}
                            <tr><td></td><td class="highlight2"><input type="checkbox" name="group_name.{{ forloop.counter }}" value="{{ group.group_name }}" /> {{ group.group_name }}</td></tr>
                        {% endfor %}

                        <tr><td><input type="submit" value="Add user" /></td></tr>
                    </table>
                </form>  
            </div>
        </div>
    </div>


    {% for user in user_list %}
    <div id="delete-{{user.username}}" class="modalDialog">
        <div>
            <a href="#{{user.username}}" title="Close" class="close">X</a>
            <form name="{{user.username}}" action="/user/delete/" method="post">
                {% csrf_token %}
                <input type="hidden" name="group" value="{{ active_group }}" />
                <input type="hidden" name="username" id="" value="{{user.username}}" />
                <input type="submit" value="Delete {{user.username}}" />
            </form>
        </div>
    </div>
    {% endfor %}

</div>

<div class="footer" id="message" onclick="clear_message()">
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <tr><td><b>Error: {{ message }}</b></td></tr>
    {% else %} 
        <tr><td>{{ message }}</td></tr>
    {% endif %}
    {% endfor %}
</div>


{% endspaceless %}
</body>

