<html>
  <head>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "csv2/vms.css" %}">

  <!-- <meta http-equiv="refresh" content="30"> -->
  </head>

  {% block navbar %}
     {% include "csv2/navigation_bar.html" %}
  {% endblock %}

  <body class="vms-nav">
    <script>
      function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
        }
      }
    </script>
  {% if err_message is not None %}
      <p style="color:red;">{{err_message}}</p>
  {% endif %}
  {% if message is not None %}
      <p style="color:green;">{{message}}</p>
  {% endif %}

    <div class="main-div">

      <!-- Table Setup - thead and tbody are commented out. Enable for static header
      but good luck getting the column widths to match. -->
      <div class="vm-table">
        <table>
          <!-- <thead> -->
            <tr>
              <th><input type="checkbox" onclick="toggle(this);"/></th>
              <th>Cloud</th>
              <th>Project</th>
              <th>Hostname</th>
              <!-- <th>VM ID</th> -->
              <th>Status</th>
              <th>Status Changed Time</th>
              <th>Task</th>
              <th>Flavor Name</th>
              <th>Condor Slots</th>
              <th>Condor Off</th>
              <th>Foreign</th>
              <!-- <th>Cores</th> -->
              <!-- <th>RAM</th> -->
              <!-- <th>SWAP</th> -->
              <!-- <th>Disk</th> -->
              <!-- <th>Ephemeral Disk</th> -->
              <!-- <th>Terminate</th> -->
              <!-- <th>Terminate Time</th> -->
              <!-- <th>Poller Status</th> -->
            </tr>
          <!-- </thead> -->

          <!-- <tbody> -->
            {% for vm in vm_list %}
              <tr>
                <td><input type="checkbox" name="vm" /></td>
                <td>{{vm.cloud_name}}</td>
                <td>{{vm.project}}</td>
                <td>{{vm.hostname}}</td>
                <!-- <td>{{vm.vmid}}</td> -->
                <td>{{vm.status}}</td>
                <td>{{vm.status_changed_time}}</td>
                <td>{{vm.task}}</td>
                <td>{{vm.flavor_name}}</td>
                <td>{{vm.condor_slots}}</td>
                <td>{{vm.condor_off}}</td>
                <td>{{vm.foreign_vm}}</td>
                <!-- <td>{{vm.cores}}</td> -->
                <!-- <td>{{vm.ram}}</td> -->
                <!-- <td>{{vm.swap}}</td> -->
                <!-- <td>{{vm.disk}}</td> -->
                <!-- <td>{{vm.ephemeral_disk}}</td> -->
                <!-- <td>{{vm.terminate}}</td> -->
                <!-- <td>{{vm.terminate_time}}</td> -->
                <!-- <td>{{vm.poller_status}}</td> -->
              </tr>
            {% endfor %}
          <!-- </tbody> -->
        </table>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer"
        {% if response_code == 1 %}
            <tr><td><b>Error: {{ message }}</b></td></tr>
        {% elif message is not None %}
            <tr><td>{{ message }}</td></tr>
        {% endif %}
    </div>
  </body>
</html>
