<html>
  <head>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "csv2/common.css" %}?{{version}}">
  <link rel="stylesheet" type="text/css" href="{% static "csv2/vms.css" %}?{{version}}">

  <!-- <meta http-equiv="refresh" content="30"> -->
  </head>


  <body>

    <!-- {% if err_message is not None %}
        <p style="color:red;">{{err_message}}</p>
    {% endif %}
    {% if message is not None %}
        <p style="color:green;">{{message}}</p>
    {% endif %} -->

    <!-- <div class="main-div"> -->
      <div class="filter-div">

      <!--<input type="text" id="myInput" onkeyup="filterTable()" placeholder="Search for names..">-->


        <table>
          <tr class="title-row">
            <!--<th class="native-style">All States</th>-->
            <th>Starting</th>
            <th>Unreg.</th>
            <th>Idle</th>                
            <th>Running</th>
            <th>Retiring</th>
            <th>Manual</th>
            <th>Error</th>
            <th colspan="4">
              <table>
                <tr>Cores</tr>
                <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>4</th>
                  <th>8</th>
                </tr>
              </table>
            </th>
          </tr>
          <tr class="box-row">
            <!--<td>
              <input type="checkbox" id="all states" onchange="filterAll();"/>
            </td>-->
            <td>
              <input type="checkbox" id="starting" onchange="filterTable('starting', 4);" checked/>
            </td>
            <td>
              <input type="checkbox" id="unregistered" onchange="filterTable('unregistered', 4);" checked/>
            </td>
            <td>
              <input type="checkbox" id="idle" onchange="filterTable('idle', 4);" checked/>
            </td>
            <td>
              <input type="checkbox" id="running" onchange="filterTable('running', 4);" checked/>
            </td>
            <td>
              <input type="checkbox" id="retiring" onchange="filterTable('retiring', 4);" checked/>
            </td>
            <td>
              <input type="checkbox" id="manual" onchange="filterTable('manual', 4);" checked/>
            </td>
            <td>
              <input type="checkbox" id="error" onchange="filterTable('error', 4);" checked/>
            </td>
            <td>
              <input type="checkbox" id="1" onchange="filterTable('1', 3);" checked/>
            </td>
            <td>
              <input type="checkbox" id="2" onchange="filterTable('2', 3);" checked/>
            </td>
            <td>
              <input type="checkbox" id="4" onchange="filterTable('4', 3);" checked/>
            </td>
            <td>
              <input type="checkbox" id="8" onchange="filterTable('8', 3);" checked/>
            </td>
          </tr>
        </table>
        
        </div>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="group" value="{{ vm_list.0.group_name }}">


          {% if "foreign" not in request.path %}

              <button class="button manual-button" type="submit" formaction="/vm/update/{{selector}}/" name="vm_option" value="manctl">Manual Control</button>
              <button class="button system-button" type="submit" formaction="/vm/update/{{selector}}/" name="vm_option" value="sysctl">System Control</button>
              <button class="button retire-button" type="submit" formaction="/vm/update/{{selector}}/" name="vm_option" value="retire">Retire VMs</button>
              <button class="button kill-button" type="submit" formaction="/vm/update/{{selector}}/" name="vm_option" value="kill">Kill VMs</button>

          {% else %}
          <!-- Grey-out the action buttons if looking at foreing VMs -->
              <button class="button greyed-button button-shadow manual-button" disabled>Manual Control</button>
              <button class="button greyed-button button-shadow system-button" disabled>System Control</button>
              <button class="button greyed-button button-shadow retire-button" disabled>Retire VMs</button>
              <button class="button greyed-button button-shadow kill-button" disabled>Kill VMs</button>

          {% endif %}

      <div class="vm-div">


        <div class=vm-table>
          <table id="vmsTable">
              <tr>
                <th><input type="checkbox" id="select-all" onchange="selectAll();"/></th>
                <th onclick="sortTable(1)">Hostname &#8597;</th>
                <th onclick="sortTable(2)">Flavor &#8597;</th>
                <th onclick="sortTable(3)">Cores &#8597;</th>
                <th onclick="sortTable(4)">Poller Status &#8597;</th>
                <th onclick="sortTable(5)">Partitionable Slots &#8597;</th>
                <th onclick="sortTable(6)">Dynamic Slots &#8597;</th>
                <th onclick="sortTable(7)">Retire &#8597;</th>
                <th onclick="sortTable(8)">Terminate &#8597;</th>
                <th onclick="sortTableNum(9)">Age &#8597;</th>
                <th onclick="sortTable(10)">STARTD Errors &#8597;</th>
              </tr>
            <!-- In order to get the y-scroll on the left, the order of the columns is inverted. -->

              {% for vm in vm_list %}
                {% if vm.terminate > 0 %}
                  <tr class="vm-terminated" title="VM queued for termination">
                {% elif vm.retire > 0 %}
                  <tr class="vm-retired" title="VM queued to retire">
                {% else %}
                  <tr>
                {% endif %}
                  <td><input type="checkbox" name="vm_hosts.{{ forloop.counter }}" value={{vm.hostname}} /></td>
                  <td>{{vm.hostname}}</td>
                  <td>{{vm.flavor_name}}</td>
                  <td>{{vm.cores}}</td>
                  <td>{{vm.poller_status}}</td>
                  <td>{{vm.htcondor_partitionable_slots}}</td>
                  <td>{{vm.htcondor_dynamic_slots}}</td>
                  <td>{{vm.retire}}</td>
                  <td>{{vm.terminate}}</td>
                  <td>{{vm.age}}</td>
                  <td>{{vm.htcondor_startd_errors}}</td>
                </tr>
              {% endfor %}

          </table>
        </div>
      </form>
    </div>
    <!-- Footer -->

    <div class="footer"
        {% if response_code == 1 %}
            <tr><td><b>Error: {{ message }}</b></td></tr>
        {% elif message is not None %}
            <tr><td>{{ message }}</td></tr>
        {% endif %}
    </div>

    <script type="text/javascript">



      function filterTable(filter, col) {

        // Declare variables 
        var checkBox, table, tr, td, i, txtValue;

        checkBox = document.getElementById(filter);

        table = document.getElementById("vmsTable");
        tr = table.getElementsByTagName("tr");


        // Loop through all table rows and find those that match the search query
        if (checkBox.checked == true){
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[col];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue == filter) {
                tr[i].style.display = "table-row";
                tr[i].getElementsByTagName("input")[0].disabled = false;

              }
            }
          }
        }
        else{
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[col];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue == filter) {
                tr[i].style.display = "none";
                tr[i].getElementsByTagName("input")[0].disabled = true;

              } 
            }
          }
        }
      }



      // For the "select all checkbox"
      function selectAll() {

        // Declare variables 
        var table, tr, td, i, j, check;

        table = document.getElementById("vmsTable");
        tr = table.getElementsByTagName("tr");

        box = document.getElementById("select-all");

        // Loop through all table rows and find those that match the search query
        if (box.checked){
          for (i = 0; i < tr.length; i++) {
            check = tr[i].getElementsByTagName("input");
            if( check[0].disabled == false) {

              for(j=0;j<check.length;j++)
              {
                if(check[j].type=='checkbox')
                {
                 check[j].checked=true;
                }
              }
            }
          }
        }
        else{
          for (i = 0; i < tr.length; i++) {
            check = tr[i].getElementsByTagName("input");
            if( check[0].disabled == false) {

              for(j=0;j<check.length;j++)
              {
                if(check[j].type=='checkbox')
                {
                 check[j].checked=false;
                }
              }
            }
          }
        }
      }


      // For the "select all checkbox"
      function checkToggle(event) {
        var changed = event.target,
          selectAll = document.getElementById('select-all'),
          checkboxes = Array.prototype.slice.call(
            this.querySelectorAll('input[type=checkbox]')
          ).filter(function(check) {
            return check !== selectAll;
          });
        if (changed === selectAll) {
          checkboxes.forEach(function(check) {
            check.checked = selectAll.checked;
          });
        } else {
          var allChecked = checkboxes.filter(function(check) {
            return check.checked;
          }).length === checkboxes.length;
          selectAll.checked = allChecked;
        }
      }

      var tableElement = document.querySelector('table');
      tableElement.addEventListener('change', checkToggle);

      // To sort by clicking the headers
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("vmsTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.getElementsByTagName("TR");
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount ++;
          } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }

      // To sort by clicking the headers
      function sortTableNum(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("vmsTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.getElementsByTagName("TR");
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            x_num = parseInt(x.innerHTML, 10)
            y_num = parseInt(y.innerHTML, 10)
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */
            if (dir == "asc") {
              if (x_num > y_num) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x_num < y_num) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount ++;
          } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }

    </script>
  </body>
</html>
