

/* Style the search box inside the navigation bar */
.menu input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
}

.lists {
	position: fixed;
	left: 580px;
  	top: 70px;
  	bottom:20px;
    overflow: auto;
}

.lists ul {
  list-style-type: none;
}



/*

.menu div.user-list {
  display:none;
}
.menu div.user-list:target {
  display:block;

}


.menu div.meta-list {
  display:none;
}
.menu div.meta-list:target {
  	display:block;
}


*/
