#!/bin/bash
    M=$(/usr/bin/grid-proxy-init  -cert /etc/grid-security/hostcert.pem -key /etc/grid-security/hostkey.pem -valid 720:00 2>&1)
    if [ "$?" -eq "0" ]; then
        if [ -e /usr/local/sbin/create_condor_cloudscheduler_proxy ]; then
            /usr/local/sbin/create_condor_cloudscheduler_proxy
        fi
    else
        /usr/bin/echo "$M" | /usr/bin/mail -s "grid-proxy-init problem on $(hostname)" "{{ admin_email }}"
    fi
