[Unit]
Description= Boots Virtual Machines on the Cloud in response to condor jobs.
After=network.target

[Service]
Type=simple
User=cloudscheduler
ExecStart=/usr/bin/python3 /opt/cloudscheduler/cloudscheduler/csmain
Restart=always

[Install]
WantedBy=multi-user.target
