[Unit]
Description=Polls the csv2_htc_agent for condor and condor worker certificate information to be save in the database.
After=network.target

[Service]
Type=simple
User=cloudscheduler
ExecStart=/usr/bin/python3 /opt/cloudscheduler/data_collectors/condor/condor_gsi.py
Restart=always


[Install]
WantedBy=multi-user.target
