[Unit]
Description=Update csv2_vms with STARTD errors retrieved from the HTTPS access log.
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /opt/cloudscheduler/data_collectors/condor/startd_errors.py
Restart=always


[Install]
WantedBy=multi-user.target
